body { 
	font-size: 16px;
	line-height:1.3;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#444444;
} 
table {
	width:100%;
}
table th {
	font-weight:bold;
	padding:5px;
}
table td {
	padding:5px;
}

h1 {
	font-weight: bold;
	font-size: 35px;
}

h2 {
	font-weight: bold;
	font-size: 30px;
}

h3 {
	font-weight: bold;
	font-size: 22px;
}

h4 {
	font-weight: bold;
	font-size: 18px;
}

h5 {
	font-weight: bold;
	font-size: 16px;
}

h6 {
	font-weight: bold;
	font-size: 16px;
}

.heading.sm {
	font-weight: bold;
	font-size: 12px;
}


.heading {
	font-weight: bold;
	font-size: 20px;
}

.heading.lg {
	font-weight: bold;
	font-size: 24px;
}

.secondary-heading.sm {
	font-size: 12px;
}


.secondary-heading {
	font-size: 18px;
}

.secondary-heading.lg {
	font-size: 22px;
}

.intro.sm {
	font-size: 18px;
}

.intro {
	font-size: 20px;
}

.intro.lg {
	font-size: 24px;
}

.quote.sm {
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
}

.quote {
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}

.quote.lg {
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
}

.image.img-max {
	width: auto;
	float: none;
	margin: 0 0 30px;
}

.image.img-full {
	width: auto;
	float: none;
	margin: 0 0 30px;
}

.image.img-left {
	width: auto;
	float: left;
	margin: 10px 30px 30px 0;
}

.image.img-right {
	width: auto;
	float: right;
	margin: 10px 0 30px 30px;
}

.image.img-rounded.rounded,
.image.img-rounded.rounded > img {
	border-radius: 5px;
}


.image.img-rounded-circle.rounded-circle,
.image.img-rounded-circle.rounded-circle > img {
	border-radius: 50%;
}

.small {
	font-size: 85%;
}

.label {
	background-color: #000000;
	color: #ffffff;
	padding: 1px 3px;
	display: inline-block;
	border-radius: 3px;
}
