<div id="design-1" class="usn-cms-grouping usn-design-grouping usn-grouping-open usn-cms-layout-panel">

    <!-- Group section -->
    <div class="usn-group-section">

        <!-- Accordion -->
        <div class="usn-cms-accordion">

            <!-- Item -->
            <div class="usn-accordion-tab" ng-class="{'tab-closed' : headerLayoutTabStyle, 'tab-open' : !headerLayoutTabStyle}">
                <a ng-click="headerLayoutTabStyle = !headerLayoutTabStyle">
                    <span>Site Header</span>
                </a>
            </div>
            <div class="usn-accordion-content" ng-class="{'tab-closed' : headerLayoutTabStyle, 'tab-open' : !headerLayoutTabStyle}">

                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Large screens</label>
                    <span class="note usn-note">Preview and select the header layout you would like to use on large screens.</span>

                    <div class="usn-radio-list">
                        <label class="usn-radio-list-item">
                            <input value="header-01-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">01</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-02-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">02</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-03-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">03</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-04-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">04</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-05-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">05</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-06-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">06</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-07-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">07</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-08-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">08</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-09-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">09</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-10-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">10</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-11-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">11</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-12-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">12</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-13-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">13</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-14-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">14</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-15-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">15</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-16-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">16</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-17-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">17</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-18-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">18</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-19-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">19</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-20-lg" name="headerLargeScreens" type="radio" ng-model="styles.themeLayout.headerLarge">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">20</div>
                        </label>
                    </div>

                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">
                    <div class="usn-form-group">
                        <label class="usn-label">Show header on scroll</label>
                        <switch ng-model="styles.themeLayout.showHeaderScrollLarge"></switch>
                        <span class="switcher-status" ng-class="{ active: styles.themeLayout.showHeaderScrollLarge }">{{styles.themeLayout.showHeaderScrollLarge ? 'Yes' : 'No'}}</span>
                    </div>
                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">
                    <div class="usn-form-group">
                        <label class="usn-label">Transparent header</label>
                        <switch ng-model="styles.themeLayout.transparentLargeHeader"></switch>
                        <span class="switcher-status" ng-class="{ active: styles.themeLayout.transparentLargeHeader }">{{styles.themeLayout.transparentLargeHeader ? 'Yes' : 'No'}}</span>
                    </div>
                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Small screens</label>
                    <span class="note usn-note">Preview and select the header layout you would like to use on small screens.</span>

                    <div class="usn-radio-list">

                        <label class="usn-radio-list-item">
                            <input value="header-01-sm" name="headerSmallScreens" type="radio" ng-model="styles.themeLayout.headerSmall">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">01</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-02-sm" name="headerSmallScreens" type="radio" ng-model="styles.themeLayout.headerSmall">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">02</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-03-sm" name="headerSmallScreens" type="radio" ng-model="styles.themeLayout.headerSmall">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">03</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="header-04-sm" name="headerSmallScreens" type="radio" ng-model="styles.themeLayout.headerSmall">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">04</div>
                        </label>
                    </div>

                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">
                    <div class="usn-form-group">
                        <label class="usn-label">Show header on scroll</label>
                        <switch ng-model="styles.themeLayout.showHeaderScrollSmall"></switch>
                        <span class="switcher-status" ng-class="{ active: styles.themeLayout.showHeaderScrollSmall }">{{styles.themeLayout.showHeaderScrollSmall ? 'Yes' : 'No'}}</span>
                    </div>
                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">
                    <div class="usn-form-group">
                        <label class="usn-label">Transparent header</label>
                        <switch ng-model="styles.themeLayout.transparentSmallHeader"></switch>
                        <span class="switcher-status" ng-class="{ active: styles.themeLayout.transparentSmallHeader }">{{styles.themeLayout.transparentSmallHeader ? 'Yes' : 'No'}}</span>
                    </div>
                </div>
                <!--// Group section -->
            </div>
            <!--// Item -->
            <!-- Item -->
            <div class="usn-accordion-tab" ng-class="{'tab-closed' : burgerLayoutTabStyle, 'tab-open' : !burgerLayoutTabStyle}">
                <a ng-click="burgerLayoutTabStyle = !burgerLayoutTabStyle">
                    <span>Navigation</span>
                </a>
            </div>
            <div class="usn-accordion-content" ng-class="{'tab-closed' : burgerLayoutTabStyle, 'tab-open' : !burgerLayoutTabStyle}">

                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Number of lines</label>
                    <span class="note usn-note">Choose the number of lines that should appear for your burger navigation icon.</span>

                    <!-- Radio list - with icons -->
                    <div class="usn-radio-list usn-radio-list_with-icons">

                        <label class="usn-radio-list-item">
                            <input value="expand-2-bars expand-even-lines" name="burgerNavStyle" type="radio" ng-model="styles.themeLayout.burgerNavStyle">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="18px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M50.000,15.000 L50.000,17.000 C50.000,17.552 49.552,18.000 49.000,18.000 L1.000,18.000 C0.448,18.000 0.000,17.552 0.000,17.000 L0.000,15.000 C0.000,14.448 0.448,14.000 1.000,14.000 L49.000,14.000 C49.552,14.000 50.000,14.448 50.000,15.000 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M50.000,1.000 L50.000,3.000 C50.000,3.552 49.552,4.000 49.000,4.000 L1.000,4.000 C0.448,4.000 0.000,3.552 0.000,3.000 L0.000,1.000 C0.000,0.448 0.448,-0.000 1.000,-0.000 L49.000,-0.000 C49.552,-0.000 50.000,0.448 50.000,1.000 Z"></path>
                                </svg>
                            </div>
                            <div class="name">2 even</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="expand-2-bars expand-uneven-lines" name="burgerNavStyle" type="radio" ng-model="styles.themeLayout.burgerNavStyle">
                            <span></span>
                            <div class="inner">
                                <svg width="50px" height="18px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M50.000,15.000 L50.000,17.000 C50.000,17.552 49.552,18.000 49.000,18.000 L1.000,18.000 C0.448,18.000 0.000,17.552 0.000,17.000 L0.000,15.000 C0.000,14.448 0.448,14.000 1.000,14.000 L49.000,14.000 C49.552,14.000 50.000,14.448 50.000,15.000 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M40.000,1.000 L40.000,3.000 C40.000,3.552 39.552,4.000 39.000,4.000 L1.000,4.000 C0.448,4.000 0.000,3.552 0.000,3.000 L0.000,1.000 C0.000,0.448 0.448,-0.000 1.000,-0.000 L39.000,-0.000 C39.552,-0.000 40.000,0.448 40.000,1.000 Z"></path>
                                </svg>
                            </div>
                            <div class="name">2 uneven</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="expand-3-bars expand-even-lines" name="burgerNavStyle" type="radio" ng-model="styles.themeLayout.burgerNavStyle">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="32px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M50.000,29.000 L50.000,31.000 C50.000,31.552 49.552,32.000 49.000,32.000 L1.000,32.000 C0.448,32.000 0.000,31.552 0.000,31.000 L0.000,29.000 C0.000,28.448 0.448,28.000 1.000,28.000 L49.000,28.000 C49.552,28.000 50.000,28.448 50.000,29.000 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M50.000,15.000 L50.000,17.000 C50.000,17.552 49.552,18.000 49.000,18.000 L1.000,18.000 C0.448,18.000 0.000,17.552 0.000,17.000 L0.000,15.000 C0.000,14.448 0.448,14.000 1.000,14.000 L49.000,14.000 C49.552,14.000 50.000,14.448 50.000,15.000 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M50.000,1.000 L50.000,3.000 C50.000,3.552 49.552,4.000 49.000,4.000 L1.000,4.000 C0.448,4.000 0.000,3.552 0.000,3.000 L0.000,1.000 C0.000,0.448 0.448,-0.000 1.000,-0.000 L49.000,-0.000 C49.552,-0.000 50.000,0.448 50.000,1.000 Z"></path>
                                </svg>
                            </div>
                            <div class="name">3 even</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="expand-3-bars expand-uneven-lines" name="burgerNavStyle" type="radio" ng-model="styles.themeLayout.burgerNavStyle">
                            <span></span>
                            <div class="inner">
                                <svg width="50px" height="32px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M45.000,29.000 L45.000,31.000 C45.000,31.552 44.552,32.000 44.000,32.000 L1.000,32.000 C0.448,32.000 0.000,31.552 0.000,31.000 L0.000,29.000 C0.000,28.448 0.448,28.000 1.000,28.000 L44.000,28.000 C44.552,28.000 45.000,28.448 45.000,29.000 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M50.000,15.000 L50.000,17.000 C50.000,17.552 49.552,18.000 49.000,18.000 L1.000,18.000 C0.448,18.000 0.000,17.552 0.000,17.000 L0.000,15.000 C0.000,14.448 0.448,14.000 1.000,14.000 L49.000,14.000 C49.552,14.000 50.000,14.448 50.000,15.000 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M40.000,1.000 L40.000,3.000 C40.000,3.552 39.552,4.000 39.000,4.000 L1.000,4.000 C0.448,4.000 0.000,3.552 0.000,3.000 L0.000,1.000 C0.000,0.448 0.448,-0.000 1.000,-0.000 L39.000,-0.000 C39.552,-0.000 40.000,0.448 40.000,1.000 Z"></path>
                                </svg>
                            </div>
                            <div class="name">3 uneven</div>
                        </label>
                    </div>
                    <!--// Radio list - with icons -->

                </div>
                <!--// Group section -->

            </div>
            <!--// Item -->
            <!-- Item -->
            <div class="usn-accordion-tab" ng-class="{'tab-closed' : arrowsLayoutTabStyle, 'tab-open' : !arrowsLayoutTabStyle}">
                <a ng-click="arrowsLayoutTabStyle = !arrowsLayoutTabStyle">
                    <span>Icons</span>
                </a>
            </div>
            <div class="usn-accordion-content" ng-class="{'tab-closed' : arrowsLayoutTabStyle, 'tab-open' : !arrowsLayoutTabStyle}">

                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Directional Icon options</label>
                    <span class="note usn-note">These are used globally, from your navigation dropdowns to your back to top button. Choose the global style to be used.</span>

                    <!-- Radio list - with icons -->
                    <div class="usn-radio-list usn-radio-list_with-icons">

                        <label class="usn-radio-list-item">
                            <input value="directional-icons-triangle" name="arrowStyle" type="radio" ng-model="styles.themeLayout.arrowStyle">
                            <span></span>
                            <div class="inner">
                                <svg width="35px" height="35px" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="rgb(65, 54, 89)" d="m31.258 12.523 37.477 37.477-37.477 37.477z"></path>
                                </svg>
                            </div>
                            <div class="name">Triangle</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="directional-icons-arrow" name="arrowStyle" type="radio" ng-model="styles.themeLayout.arrowStyle">
                            <span></span>
                            <div class="inner">
                                <svg width="40px" height="40px" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <path fill="rgb(65, 54, 89)" d="m12.5 45.832h64.582v8.332h-64.582z"></path>
                                        <path fill="rgb(65, 54, 89)" d="m59.168 77.918l-5.8359-5.8359 22.086-22.082-22.086-22.082 5.8359-5.8359 27.914 27.918z"></path>
                                    </g>
                                </svg>

                            </div>
                            <div class="name">Arrow</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="directional-icons-chevron" name="arrowStyle" type="radio" ng-model="styles.themeLayout.arrowStyle">
                            <span></span>
                            <div class="inner">
                                <svg width="60px" height="60px" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="rgb(65, 54, 89)" d="m38.23 68.23c-0.97266 0.97656-0.97266 2.5625 0 3.5391 0.97656 0.97266 2.5625 0.97266 3.5391 0l20-20c0.97266-0.97656 0.97266-2.5625 0-3.5391l-20-20c-0.97656-0.97266-2.5625-0.97266-3.5391 0-0.97266 0.97656-0.97266 2.5625 0 3.5391l18.234 18.23z" fill-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="name">Chevron</div>
                        </label>
                    </div>
                    <!--// Radio list - with icons -->

                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Breadcrumb icon direction</label>
                    <span class="note usn-note">Choose the global direction you would like your breadcrumb icons to face.</span>

                    <!-- Radio list - with icons -->
                    <div class="usn-radio-list">

                        <label class="usn-radio-list-item">
                            <input value="breadcrumb-forward" name="breadcrumbDirection" type="radio" ng-model="styles.themeLayout.breadcrumbDirection">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">Forward</div>
                        </label>
                        <label class="usn-radio-list-item">
                            <input value="breadcrumb-backward" name="breadcrumbDirection" type="radio" ng-model="styles.themeLayout.breadcrumbDirection">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">Backward</div>
                        </label>
                    </div>
                    <!--// Radio list - with icons -->

                </div>
                <!--// Group section -->

            </div>
            <!--// Item -->
            <!-- Item -->
            <div class="usn-accordion-tab" ng-class="{'tab-closed' : headingLayoutTabStyle, 'tab-open' : !headingLayoutTabStyle}">
                <a ng-click="headingLayoutTabStyle = !headingLayoutTabStyle">
                    <span>Headings</span>
                </a>
            </div>
            <div class="usn-accordion-content" ng-class="{'tab-closed' : headingLayoutTabStyle, 'tab-open' : !headingLayoutTabStyle}">

                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Heading separators</label>
                    <span class="note usn-note">Choose the global options for your heading and secondary heading separators.</span>

                    <div class="usn-radio-list">
                        <label class="usn-radio-list-item" ng-repeat="style in selectedHeadingItems">
                            <input type="checkbox" name="{{style.Value}}" value="{{style.Value}}" ng-model="style.Selected">
                            <span></span>
                            <div class="inner">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="16px">
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z"></path>
                                    <path fill-rule="evenodd" fill="rgb(65, 54, 89)" d="M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z"></path>
                                </svg>
                            </div>
                            <div class="name">{{style.Text}}</div>
                        </label>
                    </div>

                </div>
                <!--// Group section -->

            </div>
            <!--// Item -->
            <!-- Item -->
            <div class="usn-accordion-tab" ng-class="{'tab-closed' : imagesTabStyle, 'tab-open' : !imagesTabStyle}">
                <a ng-click="imagesTabStyle = !imagesTabStyle">
                    <span>Images</span>
                </a>
            </div>
            <div class="usn-accordion-content" ng-class="{'tab-closed' : imagesTabStyle, 'tab-open' : !imagesTabStyle}">

                <!-- Group section -->
                <div class="usn-group-section">

                    <!-- Form Group -->
                    <div class="usn-form-group">

                        <!-- Input Row -->
                        <div class="usn-input-row">

                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-full">

                                <div class="usn-form-group">
                                    <label class="usn-label">Image zoom</label>
                                    <span class="note usn-note">Choose the global zoom effect for images on hover.</span>

                                    <switch ng-model="styles.themeLayout.imageZoomEffect"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.imageZoomEffect }">{{styles.themeLayout.imageZoomEffect ? 'Yes' : 'No'}}</span>

                                </div>

                            </div>
                            <!--// Input Col -->
                         

                        </div>
                        <!--// Input Row -->

                    </div>
                    <!--// Form Group -->

                </div>
                <!--// Group section -->

            </div>
            <!--// Item -->
            <!-- Item -->
            <div class="usn-accordion-tab" ng-class="{'tab-closed' : linksLayoutTabStyle, 'tab-open' : !linksLayoutTabStyle}">
                <a ng-click="linksLayoutTabStyle = !linksLayoutTabStyle">
                    <span>Links</span>
                </a>
            </div>
            <div class="usn-accordion-content" ng-class="{'tab-closed' : linksLayoutTabStyle, 'tab-open' : !linksLayoutTabStyle}">

                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Logo link</label>
                    <span class="note usn-note">Choose the global style of your logo link.</span>

                    <!-- Form Group -->
                    <div class="usn-form-group">

                        <!-- Input Row -->
                        <div class="usn-input-row">

                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on initial</label>
                                    <switch ng-model="styles.themeLayout.logoLinkUnderlineInitial"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.logoLinkUnderlineInitial }">{{styles.themeLayout.logoLinkUnderlineInitial ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->
                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on hover</label>
                                    <switch ng-model="styles.themeLayout.logoLinkUnderlineHover"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.logoLinkUnderlineHover }">{{styles.themeLayout.logoLinkUnderlineHover ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->

                        </div>
                        <!--// Input Row -->

                    </div>
                    <!--// Form Group -->

                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Main navigation links</label>
                    <span class="note usn-note">Choose the global style of your main navigation links.</span>

                    <!-- Form Group -->
                    <div class="usn-form-group">

                        <!-- Input Row -->
                        <div class="usn-input-row">

                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on initial</label>
                                    <switch ng-model="styles.themeLayout.mainNavLinkUnderlineInitial"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.mainNavLinkUnderlineInitial }">{{styles.themeLayout.mainNavLinkUnderlineInitial ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->
                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on hover</label>
                                    <switch ng-model="styles.themeLayout.mainNavLinkUnderlineHover"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.mainNavLinkUnderlineHover }">{{styles.themeLayout.mainNavLinkUnderlineHover ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->

                        </div>
                        <!--// Input Row -->

                    </div>
                    <!--// Form Group -->

                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Secondary navigation links</label>
                    <span class="note usn-note">Choose the global style of your secondary navigation links.</span>

                    <!-- Form Group -->
                    <div class="usn-form-group">

                        <!-- Input Row -->
                        <div class="usn-input-row">

                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on initial</label>
                                    <switch ng-model="styles.themeLayout.secondaryNavLinkUnderlineInitial"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.secondaryNavLinkUnderlineInitial }">{{styles.themeLayout.secondaryNavLinkUnderlineInitial ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->
                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on hover</label>
                                    <switch ng-model="styles.themeLayout.secondaryNavLinkUnderlineHover"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.secondaryNavLinkUnderlineHover }">{{styles.themeLayout.secondaryNavLinkUnderlineHover ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->

                        </div>
                        <!--// Input Row -->

                    </div>
                    <!--// Form Group -->

                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Content links</label>
                    <span class="note usn-note">Choose the global style of your content links.</span>

                    <!-- Form Group -->
                    <div class="usn-form-group">

                        <!-- Input Row -->
                        <div class="usn-input-row">

                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on initial</label>
                                    <switch ng-model="styles.themeLayout.contentLinkUnderlineInitial"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.contentLinkUnderlineInitial }">{{styles.themeLayout.contentLinkUnderlineInitial ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->
                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on hover</label>
                                    <switch ng-model="styles.themeLayout.contentLinkUnderlineHover"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.contentLinkUnderlineHover }">{{styles.themeLayout.contentLinkUnderlineHover ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->

                        </div>
                        <!--// Input Row -->

                    </div>
                    <!--// Form Group -->

                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Footer links</label>
                    <span class="note usn-note">Choose the global style of your footer links.</span>

                    <!-- Form Group -->
                    <div class="usn-form-group">

                        <!-- Input Row -->
                        <div class="usn-input-row">

                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on initial</label>
                                    <switch ng-model="styles.themeLayout.footerLinkUnderlineInitial"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.footerLinkUnderlineInitial }">{{styles.themeLayout.footerLinkUnderlineInitial ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->
                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on hover</label>
                                    <switch ng-model="styles.themeLayout.footerLinkUnderlineHover"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.footerLinkUnderlineHover }">{{styles.themeLayout.footerLinkUnderlineHover ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->

                        </div>
                        <!--// Input Row -->

                    </div>
                    <!--// Form Group -->

                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Button links</label>
                    <span class="note usn-note">Choose the global style of your button links.</span>

                    <!-- Form Group -->
                    <div class="usn-form-group">

                        <!-- Input Row -->
                        <div class="usn-input-row">

                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on initial</label>
                                    <switch ng-model="styles.themeLayout.buttonLinkUnderlineInitial"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.buttonLinkUnderlineInitial }">{{styles.themeLayout.buttonLinkUnderlineInitial ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->
                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <div class="usn-form-group">
                                    <label class="usn-label">Underline on hover</label>
                                    <switch ng-model="styles.themeLayout.buttonLinkUnderlineHover"></switch>
                                    <span class="switcher-status" ng-class="{ active: styles.themeLayout.buttonLinkUnderlineHover }">{{styles.themeLayout.buttonLinkUnderlineHover ? 'Yes' : 'No'}}</span>
                                </div>

                            </div>
                            <!--// Input Col -->

                        </div>
                        <!--// Input Row -->

                    </div>
                    <!--// Form Group -->

                </div>
                <!--// Group section -->

            </div>
            <!--// Item -->
            <!-- Item -->
            <div class="usn-accordion-tab" ng-class="{'tab-closed' : miscLayoutTabStyle, 'tab-open' : !miscLayoutTabStyle}">
                <a ng-click="miscLayoutTabStyle = !miscLayoutTabStyle">
                    <span>Miscellaneous</span>
                </a>
            </div>
            <div class="usn-accordion-content" ng-class="{'tab-closed' : miscLayoutTabStyle, 'tab-open' : !miscLayoutTabStyle}">

                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Back to top</label>
                    <span class="note usn-note">Choose to display and set the horizontal position of your 'Back to top' link.</span>

                    <!-- Form group -->
                    <div class="usn-form-group">

                        <!-- Input Row -->
                        <div class="usn-input-row">

                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half">

                                <switch ng-model="styles.themeLayout.displayBackToTopOption"></switch>
                                <span class="switcher-status" ng-class="{ active: styles.themeLayout.displayBackToTopOption }">{{styles.themeLayout.displayBackToTopOption ? 'Yes' : 'No'}}</span>

                            </div>
                            <!--// Input Col -->
                            <!-- Input Col -->
                            <div class="usn-input-col usn-input-col-half" ng-show="styles.themeLayout.displayBackToTopOption">
                                <div class="usn-radio-list usn-radio-list_with-small-icons usn-radio-list_horizontal-position">
                                    <label class="usn-radio-list-item">
                                        <input value="position-left" name="backToTopHorizontalPosition" type="radio" ng-model="styles.themeLayout.backToTopHorizontalPosition">
                                        <span></span>
                                        <div class="inner">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 width="20px" height="12px">
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.000,5.000 L20.000,5.000 L20.000,6.000 L1.000,6.000 L1.000,5.000 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.525,5.318 L7.182,10.975 L6.475,11.682 L0.818,6.025 L1.525,5.318 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.671,5.995 L6.995,0.671 L6.329,0.005 L1.005,5.329 L1.671,5.995 Z" />
                                            </svg>
                                        </div>
                                    </label>
                                    <label class="usn-radio-list-item">
                                        <input value="position-center" name="backToTopHorizontalPosition" type="radio" ng-model="styles.themeLayout.backToTopHorizontalPosition">
                                        <span></span>
                                        <div class="inner">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 width="27.5px" height="27.5px">
                                                <path fill-rule="evenodd" stroke="rgb(65, 54, 89)" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                                                      d="M9.000,6.000 L18.000,6.000 C19.657,6.000 21.000,7.343 21.000,9.000 L21.000,18.000 C21.000,19.657 19.657,21.000 18.000,21.000 L9.000,21.000 C7.343,21.000 6.000,19.657 6.000,18.000 L6.000,9.000 C6.000,7.343 7.343,6.000 9.000,6.000 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M13.000,-0.000 L14.000,-0.000 L14.000,6.000 L13.000,6.000 L13.000,-0.000 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M13.000,21.000 L14.000,21.000 L14.000,27.000 L13.000,27.000 L13.000,21.000 Z" />
                                            </svg>
                                        </div>
                                    </label>
                                    <label class="usn-radio-list-item">
                                        <input value="position-right" name="backToTopHorizontalPosition" type="radio" ng-model="styles.themeLayout.backToTopHorizontalPosition">
                                        <span></span>
                                        <div class="inner">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 width="20px" height="12px">
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.000,5.000 L20.000,5.000 L20.000,6.000 L1.000,6.000 L1.000,5.000 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.525,5.318 L7.182,10.975 L6.475,11.682 L0.818,6.025 L1.525,5.318 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.671,5.995 L6.995,0.671 L6.329,0.005 L1.005,5.329 L1.671,5.995 Z" />
                                            </svg>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!--// Input Col -->

                        </div>
                        <!--// Input Row -->

                    </div>
                    <!--// Form group -->

                </div>
                <!--// Group section -->
                <!-- Group section -->
                <div class="usn-group-section">

                    <label class="usn-label">Notification</label>
                    <span class="note usn-note">Set the horizontal position of your 'Notification' pop-out.</span>

                    <!-- Form group -->
                    <div class="usn-form-group">

                        <!-- Input Row -->
                        <div class="usn-input-row">

                            <!-- Input Col -->
                            <div class="usn-input-col">
                                <div class="usn-radio-list usn-radio-list_with-small-icons usn-radio-list_horizontal-position">
                                    <label class="usn-radio-list-item">
                                        <input value="position-left" name="notificationHorizontalPosition" type="radio" ng-model="styles.themeLayout.notificationHorizontalPosition">
                                        <span></span>
                                        <div class="inner">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 width="20px" height="12px">
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.000,5.000 L20.000,5.000 L20.000,6.000 L1.000,6.000 L1.000,5.000 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.525,5.318 L7.182,10.975 L6.475,11.682 L0.818,6.025 L1.525,5.318 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.671,5.995 L6.995,0.671 L6.329,0.005 L1.005,5.329 L1.671,5.995 Z" />
                                            </svg>
                                        </div>
                                    </label>
                                    <label class="usn-radio-list-item">
                                        <input value="position-center" name="notificationHorizontalPosition" type="radio" ng-model="styles.themeLayout.notificationHorizontalPosition">
                                        <span></span>
                                        <div class="inner">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 width="27.5px" height="27.5px">
                                                <path fill-rule="evenodd" stroke="rgb(65, 54, 89)" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                                                      d="M9.000,6.000 L18.000,6.000 C19.657,6.000 21.000,7.343 21.000,9.000 L21.000,18.000 C21.000,19.657 19.657,21.000 18.000,21.000 L9.000,21.000 C7.343,21.000 6.000,19.657 6.000,18.000 L6.000,9.000 C6.000,7.343 7.343,6.000 9.000,6.000 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M13.000,-0.000 L14.000,-0.000 L14.000,6.000 L13.000,6.000 L13.000,-0.000 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M13.000,21.000 L14.000,21.000 L14.000,27.000 L13.000,27.000 L13.000,21.000 Z" />
                                            </svg>
                                        </div>
                                    </label>
                                    <label class="usn-radio-list-item">
                                        <input value="position-right" name="notificationHorizontalPosition" type="radio" ng-model="styles.themeLayout.notificationHorizontalPosition">
                                        <span></span>
                                        <div class="inner">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 width="20px" height="12px">
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.000,5.000 L20.000,5.000 L20.000,6.000 L1.000,6.000 L1.000,5.000 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.525,5.318 L7.182,10.975 L6.475,11.682 L0.818,6.025 L1.525,5.318 Z" />
                                                <path fill-rule="evenodd" fill="rgb(65, 54, 89)"
                                                      d="M1.671,5.995 L6.995,0.671 L6.329,0.005 L1.005,5.329 L1.671,5.995 Z" />
                                            </svg>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <!--// Input Col -->

                        </div>
                        <!--// Input Row -->

                    </div>
                    <!--// Form group -->

                </div>
                <!--// Group section -->

            </div>
            <!--// Item -->

        </div>
        <!--// Accordion -->

    </div>
    <!--// Group section -->

</div>