<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e089b2a2-f71c-46b4-a28c-f20b25ac374c" Alias="USN Newsletter Form Sending Message" Level="2">
  <Info>
    <Parent>USN Newsletter Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Signing up to newsletter, please wait.</Translation>
  </Translations>
</Dictionary>