<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f54dfc2-f6a3-479f-9516-0b234be310b1" Alias="USN Form First Name Label" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">First name</Translation>
  </Translations>
</Dictionary>