<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="181094ee-a71c-4bb6-b62c-4bfcb3a4c9cf" Alias="USN Blog About The Author" Level="2">
  <Info>
    <Parent>USN Blog Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">About the author</Translation>
  </Translations>
</Dictionary>