<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9fe86b08-2d22-4dd4-96ca-70861523310e" Alias="USN Register Form Missing Member Group" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">A Member Group has not been assigned to this registration process.</Translation>
  </Translations>
</Dictionary>