<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3be662c9-72fc-4f6a-a1cc-469b75c26690" Alias="USN Search Form Placeholder" Level="2">
  <Info>
    <Parent>USN Search Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search the site</Translation>
  </Translations>
</Dictionary>