<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9c48ec8a-3f43-4279-9ef5-f07e716a3cf4" Alias="USN Register Error Invalid Password" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unable to complete registration. Invalid Password.</Translation>
  </Translations>
</Dictionary>