<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cfbb87c4-147d-41fe-9e55-1d0aa9c53dcd" Alias="USN Register Error Duplicate Username" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unable to complete registration. Duplicate Username.</Translation>
  </Translations>
</Dictionary>