<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e02f9091-4c9f-41bb-b6bb-0ce53fdfc2f9" Alias="USN Form Email Address Label" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Email address</Translation>
  </Translations>
</Dictionary>