<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="97bf54d2-3537-4ab7-8ad6-b2b44021a76b" Alias="USN Form Email Address Validation" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter a valid Email address</Translation>
  </Translations>
</Dictionary>