<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ecca1b25-1e4b-4296-8a7d-1247d36a89c7" Alias="USN Link Component External Web Link" Level="2">
  <Info>
    <Parent>USN Miscellaneous Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">External web link</Translation>
  </Translations>
</Dictionary>