<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7d8894c7-7cb1-48ea-ba60-013aecf87a5b" Alias="USN New Window Title Tag" Level="2">
  <Info>
    <Parent>USN Miscellaneous Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Link will open in a new window/tab</Translation>
  </Translations>
</Dictionary>