<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="70c2e8a6-abac-4daf-9b47-ff549d597a9f" Alias="USN Generic Form Items" Level="1">
  <Info>
    <Parent>USN Dictionary Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">THIS IS JUST A CONTAINER TO MANAGE RELATED DICTIONARY ITEMS</Translation>
  </Translations>
</Dictionary>