<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cf8bdc67-e890-48fd-9a22-7307a2b769c6" Alias="USN Register Error Invalid Answer" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unable to complete registration. Invalid Answer.</Translation>
  </Translations>
</Dictionary>