<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d440c5fe-67a7-437d-badd-a213ae8a00d9" Alias="USN Search Form Expand" Level="2">
  <Info>
    <Parent>USN Search Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Expand Search</Translation>
  </Translations>
</Dictionary>