<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ddfe1193-2275-4d16-bd7a-fa07b4e2900f" Alias="USN Reset Request Form Button Text" Level="2">
  <Info>
    <Parent>USN Reset Request Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Send</Translation>
  </Translations>
</Dictionary>