<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="db4f6e2f-da22-4989-9114-2e7d57a0232d" Alias="USN Members Navigation Logout" Level="2">
  <Info>
    <Parent>USN Navigation Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Logout</Translation>
  </Translations>
</Dictionary>