<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a105dea-24d6-4395-8c4f-1b567540d6d5" Alias="USN Reset Request Form Login Link" Level="2">
  <Info>
    <Parent>USN Reset Request Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Return to login</Translation>
  </Translations>
</Dictionary>