<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6af4f15f-e86b-4706-8a6f-8b7108239744" Alias="USN List Sort Alpha Desc" Level="2">
  <Info>
    <Parent>USN Listings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Alphabetically, Z-A</Translation>
  </Translations>
</Dictionary>