<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1bf6d025-9a9d-4b8a-824d-e5423e8775d0" Alias="USN Form First Name Validation" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The 'First name' field is required</Translation>
  </Translations>
</Dictionary>