<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df40f57d-81b4-4b8e-be35-9023e85a921b" Alias="USN Login Form Login Error" Level="2">
  <Info>
    <Parent>USN Login Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your login details are not valid. Please try again.</Translation>
  </Translations>
</Dictionary>