<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="595bf62a-77e9-4b31-8165-7e29d31ace87" Alias="USN List Sort Order Desc" Level="2">
  <Info>
    <Parent>USN Listings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sort order descending</Translation>
  </Translations>
</Dictionary>