<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d273791a-0826-4ec2-9134-3b7e06e240a0" Alias="USN Form Telephone Label" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Telephone</Translation>
  </Translations>
</Dictionary>