<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4191afe9-f3f7-40d9-a73d-213d49203559" Alias="USN Register Error Invalid Email" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unable to complete registration. Invalid Email.</Translation>
  </Translations>
</Dictionary>