<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6adb71aa-c0f2-4e55-9ef6-be79b3eae2de" Alias="USN Language Navigation" Level="2">
  <Info>
    <Parent>USN Navigation Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Select</Translation>
  </Translations>
</Dictionary>