<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9943aea5-401b-4bfc-addd-864f1b83ee89" Alias="USN Register Form Email Not Confirmed" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unable to confirm email address, please contact your website administrator.</Translation>
  </Translations>
</Dictionary>