<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6f0784fa-4bc5-40df-892f-94a396ee88ed" Alias="USN Register Form Email Subject" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Confirm your email</Translation>
  </Translations>
</Dictionary>