<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a58f4598-37f0-4dfb-82a2-6f3f5e90176a" Alias="USN Login Form Button Text" Level="2">
  <Info>
    <Parent>USN Login Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Login</Translation>
  </Translations>
</Dictionary>