<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="558914a9-9f53-4171-a11f-d1be8ea29b93" Alias="USN Newsletter Form Signup Error" Level="2">
  <Info>
    <Parent>USN Newsletter Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sorry, an issue has occured and we have been unable to sign you up to our mailing list.</Translation>
  </Translations>
</Dictionary>