<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9bd198c9-fde9-4a06-ae1c-12aefa7febc2" Alias="USN Search Items" Level="1">
  <Info>
    <Parent>USN Dictionary Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">THIS IS JUST A CONTAINER TO MANAGE RELATED DICTIONARY ITEMS</Translation>
  </Translations>
</Dictionary>