<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="996d3074-e7c9-4ddb-bf6f-8b3d6c1aa118" Alias="USN Form General Error" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please complete the required fields and try again.</Translation>
  </Translations>
</Dictionary>