<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fd4db7d5-412d-474d-b6ce-a57bc1e5e20f" Alias="USN Contact Form Sending Message" Level="2">
  <Info>
    <Parent>USN Contact Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your message is being sent, please wait.</Translation>
  </Translations>
</Dictionary>