<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="843991e4-8c9a-439a-9346-284ba966dac9" Alias="USN Register Error Invalid Question" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unable to complete registration. Invalid Question.</Translation>
  </Translations>
</Dictionary>