<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ccb70119-9f0b-407b-b63a-a1f7b1f6cce4" Alias="USN Form Password Label" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Password</Translation>
  </Translations>
</Dictionary>