<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="557874d3-4570-4534-887f-ed2b093a4c72" Alias="USN Members Navigation Default Heading" Level="2">
  <Info>
    <Parent>USN Navigation Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Members</Translation>
  </Translations>
</Dictionary>