<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4ed43104-267f-4de9-82eb-5121f4ab3e54" Alias="USN Listing Navigation Next" Level="2">
  <Info>
    <Parent>USN Navigation Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Next</Translation>
  </Translations>
</Dictionary>