<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8f7adc6b-d012-4bdb-80e6-77bc12289a9a" Alias="USN List Sort Alpha Asc" Level="2">
  <Info>
    <Parent>USN Listings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Alphabetically, A-Z</Translation>
  </Translations>
</Dictionary>