<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2168c160-1a47-4035-b3cd-eda5d1aba9a8" Alias="USN Password Reset Form Token Expired" Level="2">
  <Info>
    <Parent>USN Password Reset Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Reset token has expired.</Translation>
  </Translations>
</Dictionary>