<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="86305e18-6117-4688-b2c8-44e8d506ea5d" Alias="USN Aria Search Button" Level="2">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search button</Translation>
  </Translations>
</Dictionary>