<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c219e051-40ac-4589-96b1-a0f74b6a48db" Alias="USN Form Name Validation" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The 'Name' field is required</Translation>
  </Translations>
</Dictionary>