<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="324d053f-7f0a-4ace-9293-46e6e9cce528" Alias="USN Login Form Items" Level="1">
  <Info>
    <Parent>USN Dictionary Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">THIS IS JUST A CONTAINER TO MANAGE RELATED DICTIONARY ITEMS</Translation>
  </Translations>
</Dictionary>