<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f0ad7756-bdbd-4b10-b914-f9c8611d6bdb" Alias="USN Image Size Error" Level="2">
  <Info>
    <Parent>USN Miscellaneous Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The image used here is greater than 4MB. Please reduce your image file size.</Translation>
  </Translations>
</Dictionary>