<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9e451bad-73e9-4e8a-8a58-2589f4b1ea7a" Alias="USN Register Form Email Confirmed" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Thank you, your email address has now been confirmed.</Translation>
  </Translations>
</Dictionary>