<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7c1255fe-afc7-42dc-a964-6a47c21db1b5" Alias="USN Form Last Name Label" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Last name</Translation>
  </Translations>
</Dictionary>