<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4d746901-6d4d-4a74-b3ae-3c20e2f457b4" Alias="USN Reset Request Form Reset Password Page Missing" Level="2">
  <Info>
    <Parent>USN Reset Request Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Reset Password Page has not been defined in the CMS.</Translation>
  </Translations>
</Dictionary>