<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d5ccae0c-66c0-4eef-a9d1-545202e3acd3" Alias="USN Form Password Validation" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The 'Password' field is required</Translation>
  </Translations>
</Dictionary>