<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4b3be5bf-f26b-403f-9c93-7f40f65e416d" Alias="USN Newsletter Form API Key Missing Error" Level="2">
  <Info>
    <Parent>USN Newsletter Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Newsletter API keys have not been defined in the CMS.</Translation>
  </Translations>
</Dictionary>