<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9e501e19-369d-4eae-9765-f144d29dae47" Alias="USN Website Not Published" Level="2">
  <Info>
    <Parent>USN Miscellaneous Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">WEBSITE NOT PUBLISHED</Translation>
  </Translations>
</Dictionary>