<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="12a15eb3-076c-48bc-bc41-2336eafb4d56" Alias="USN Login Form Missing Login Page" Level="2">
  <Info>
    <Parent>USN Login Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">A Login Success Page has not been assigned to this form.</Translation>
  </Translations>
</Dictionary>