<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eba589e5-27c1-49e5-a7c4-b19cc8f18e0a" Alias="USN Password Reset Form Token Invalid" Level="2">
  <Info>
    <Parent>USN Password Reset Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Reset token is invalid.</Translation>
  </Translations>
</Dictionary>