<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b7e9bd8d-56f3-45d2-b73a-a265fca97605" Alias="USN Form reCAPTCHA Error" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Captcha validation failed.</Translation>
  </Translations>
</Dictionary>