<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fdf3e291-130d-4e74-b0ad-79965390cba6" Alias="USN Register Form Sending Message" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your registration is being sent, please wait.</Translation>
  </Translations>
</Dictionary>