<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1fa131a3-f860-43dc-9b88-efe5f1093f22" Alias="USN Register Form Confirm Email Link" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Click here to confirm your email address</Translation>
  </Translations>
</Dictionary>