<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="db4aac97-a0cc-41f8-b5cd-9eaad2798c00" Alias="USN Register Error Duplicate Email" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unable to complete registration. Duplicate Email.</Translation>
  </Translations>
</Dictionary>