<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3d7b1963-ca93-4ffe-a73e-d26abcbc67f6" Alias="USN New Window Icon" Level="2">
  <Info>
    <Parent>USN Miscellaneous Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;i class="icon usn_ion-md-open after"&gt;&lt;/i&gt;</Translation>
  </Translations>
</Dictionary>