<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5c4837f3-90b2-4ab4-b858-5b0af5f4f1b9" Alias="USN Listing Navigation Previous" Level="2">
  <Info>
    <Parent>USN Navigation Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Previous</Translation>
  </Translations>
</Dictionary>