<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a3da6331-3d00-4337-8a6e-b2114b07a3ef" Alias="USN List Sort Price Asc" Level="2">
  <Info>
    <Parent>USN Listings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Price, low to high</Translation>
  </Translations>
</Dictionary>