<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7a71b0e2-36c7-42c4-95a8-e6eb125e5506" Alias="USN Sub Navigation Section" Level="2">
  <Info>
    <Parent>USN Navigation Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">In this section</Translation>
  </Translations>
</Dictionary>