<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ccfde990-a004-4639-9b93-6674a74050cd" Alias="USN Register Form Button Text" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Submit</Translation>
  </Translations>
</Dictionary>