<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1fe78b9a-795d-43b8-a76a-e119f41d3058" Alias="USN Form Required Field Error" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please complete the required fields and try again.</Translation>
  </Translations>
</Dictionary>