<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4eaa4f19-224a-4bb7-b06f-9849b92eef4f" Alias="USN Skip to Content" Level="2">
  <Info>
    <Parent>USN Navigation Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Skip to main content</Translation>
  </Translations>
</Dictionary>