<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1e7a76f3-ae1b-43d5-a321-6d30b34311dd" Alias="USN Contact Form Signup Error" Level="2">
  <Info>
    <Parent>USN Contact Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sorry, an issue has occurred and we have been unable to sign you up to our mailing list, however your contact details were sent successfully.</Translation>
  </Translations>
</Dictionary>