<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a1d471d3-7bef-433d-920c-bf3282c60d2f" Alias="USN List Sort Relevance Asc" Level="2">
  <Info>
    <Parent>USN Listings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Relevance</Translation>
  </Translations>
</Dictionary>