<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eeb0bd13-bb6a-4d2a-ae38-4114a81022d0" Alias="USN Password Reset Form Error" Level="2">
  <Info>
    <Parent>USN Password Reset Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">There was an issue resetting your password. Please complete the request again.</Translation>
  </Translations>
</Dictionary>