<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="20315d94-1b6c-4d7f-b415-6ccce8925e91" Alias="USN Form reCAPTCHA V3 Disclaimer" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">&lt;span&gt;This site is protected by reCAPTCHA and the Google&lt;/span&gt; &lt;a href="https://policies.google.com/privacy" title="Link will open in a new window/tab." target="_blank" rel="noreferrer noopener"&gt;Privacy Policy&lt;/a&gt; &lt;span&gt;and&lt;/span&gt; &lt;a href="https://policies.google.com/terms" title="Link will open in a new window/tab." target="_blank" rel="noreferrer noopener"&gt;Terms of Service&lt;/a&gt; &lt;span&gt;apply.&lt;/span&gt;</Translation>
  </Translations>
</Dictionary>