<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="44116b39-dd92-430c-9f10-51b623499dfd" Alias="USN Banner Component Scroll Prompt" Level="2">
  <Info>
    <Parent>USN Navigation Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Scroll</Translation>
  </Translations>
</Dictionary>