<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="155dd522-a3d9-4644-9e82-8bbcfb526c43" Alias="USN Reset Request Form Email Reset Link" Level="2">
  <Info>
    <Parent>USN Reset Request Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Reset your password</Translation>
  </Translations>
</Dictionary>