<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="19ae1cd7-85e0-4121-81de-405b802585e3" Alias="USN Blog RSS Continue Reading" Level="2">
  <Info>
    <Parent>USN Blog Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Continue reading</Translation>
  </Translations>
</Dictionary>