<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bce7760b-92b2-493f-b79f-362652bae804" Alias="USN Link Component File Size" Level="2">
  <Info>
    <Parent>USN Miscellaneous Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Download - File size</Translation>
  </Translations>
</Dictionary>