<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dd1fb5f0-d3a8-48c4-961d-5fa0405bc3c9" Alias="USN Form Mail Send Error" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">There was an error sending your details.</Translation>
  </Translations>
</Dictionary>