<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4a8d04e6-38d6-4991-8ff1-7ef56386d8c3" Alias="USN Contact Form Mail Send Error" Level="2">
  <Info>
    <Parent>USN Contact Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">There was an error sending your contact details.</Translation>
  </Translations>
</Dictionary>