<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8a45a072-b23b-4ed5-bf8c-0c264ec8e064" Alias="USN Form Newsletter Signup Label" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Tick the box to sign up to our newsletter</Translation>
  </Translations>
</Dictionary>