<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="13f57f10-1c11-47b2-bdc9-00281f23b30c" Alias="USN Reset Request Form Sending Message" Level="2">
  <Info>
    <Parent>USN Reset Request Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your request is being sent, please wait.</Translation>
  </Translations>
</Dictionary>