<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a1a1592d-d1c0-4757-ba46-c3c567ad60b8" Alias="USN Blank Image" Level="2">
  <Info>
    <Parent>USN Miscellaneous Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Blank placeholder image</Translation>
  </Translations>
</Dictionary>