<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1c6fc37d-a1c9-49b0-8653-3a3c9e4ccc73" Alias="USN Aria Expand Filters" Level="2">
  <Info>
    <Parent>USN Aria Labels</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Expand filters</Translation>
  </Translations>
</Dictionary>