<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="258e53f3-caa3-4056-ae35-c8382267c22b" Alias="USN Form Last Name Validation" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The 'Last name' field is required</Translation>
  </Translations>
</Dictionary>