<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="58d1609b-5ff3-4b74-9541-f08c556ff890" Alias="USN Register Error Generic" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unable to complete registration.</Translation>
  </Translations>
</Dictionary>