<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8dfe6ad6-83ad-4f7f-adfe-96ef9ac450b7" Alias="USN Register Form Items" Level="1">
  <Info>
    <Parent>USN Dictionary Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">THIS IS JUST A CONTAINER TO MANAGE RELATED DICTIONARY ITEMS</Translation>
  </Translations>
</Dictionary>