<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e372825c-864a-4c0e-acc3-12438223d5a9" Alias="USN Blog Items" Level="1">
  <Info>
    <Parent>USN Dictionary Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">THIS IS JUST A CONTAINER TO MANAGE RELATED DICTIONARY ITEMS</Translation>
  </Translations>
</Dictionary>