<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="78821e0b-e684-4457-a523-bbfb6d896365" Alias="USN Contact Form Email Missing Error" Level="2">
  <Info>
    <Parent>USN Contact Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Recipient Email address has not been defined in the CMS.</Translation>
  </Translations>
</Dictionary>