<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9c83093a-537d-4ac4-a867-75fa88fda946" Alias="USN Reset Request Form Email Subject" Level="2">
  <Info>
    <Parent>USN Reset Request Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Reset Email Request</Translation>
  </Translations>
</Dictionary>