<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2e24a602-8192-49ef-a5b7-4d1907e346aa" Alias="USN Form Username Validation" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The 'Username' field is required</Translation>
  </Translations>
</Dictionary>