<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="11ada7a3-dd21-4b4c-b7f0-16cf28b0c232" Alias="USN Register Error Invalid Username" Level="2">
  <Info>
    <Parent>USN Register Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unable to complete registration. Invalid Username.</Translation>
  </Translations>
</Dictionary>