<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="34b944a2-3edd-4736-b2b1-fb0179051308" Alias="USN Listing Nothing Found" Level="2">
  <Info>
    <Parent>USN Listings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Nothing found</Translation>
  </Translations>
</Dictionary>