<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dbbbc9ca-e002-42b7-be32-1942c43ca91f" Alias="USN List Sort Price Desc" Level="2">
  <Info>
    <Parent>USN Listings</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Price, high to low</Translation>
  </Translations>
</Dictionary>