<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4ff03c6b-4bf2-46a0-9e64-f04ba300886b" Alias="USN Password Reset Form New Password Label" Level="2">
  <Info>
    <Parent>USN Password Reset Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">New password</Translation>
  </Translations>
</Dictionary>