<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a58dabd-cff4-4183-ab39-a24d16f79818" Alias="USN Login Form Forgot Password Link" Level="2">
  <Info>
    <Parent>USN Login Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Forgot your password?</Translation>
  </Translations>
</Dictionary>