<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="321313ea-1209-42b7-8827-c5dab00e65c6" Alias="USN Password Reset Form New Password Validation" Level="2">
  <Info>
    <Parent>USN Password Reset Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The 'New password' field is required</Translation>
  </Translations>
</Dictionary>