<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3e5c4988-543b-4f3b-a380-870ca86d2cef" Alias="USN Form Username Label" Level="2">
  <Info>
    <Parent>USN Generic Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Username</Translation>
  </Translations>
</Dictionary>