<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fc9117f1-f67e-4ae3-8988-521a5b5d0a95" Alias="USN Reset Password Form Button Text" Level="2">
  <Info>
    <Parent>USN Password Reset Form Items</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Submit</Translation>
  </Translations>
</Dictionary>