<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a70e5d13-d83d-4a2b-89e6-44582cce9877" Alias="USN_CMP_WidthSettings" Level="3">
  <Info>
    <Name>Component Width (Settings)</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Common+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cb13533c-5e11-451e-aeb2-732955eb2f0d</Key>
      <Name>Component width</Name>
      <Alias>componentWidth</Alias>
      <Definition>76adf43f-f39d-4d59-9998-bce30d5c3657</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only applies if this item is added to a page with "Full" page layout.]]></Description>
      <SortOrder>995</SortOrder>
      <Tab Alias="component">Component</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5bc10b75-28fe-4505-a2cb-9958a0987f24</Key>
      <Caption>Component</Caption>
      <Alias>component</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>