<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f2ce976d-5629-4c48-a9cb-c31c00fa1049" Alias="USN_CMP_SplitCommonSettings" Level="3">
  <Info>
    <Name>Component Split Common (Settings)</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Common+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0578a181-c622-4b82-8a5d-18823b44cce2</Key>
      <Name>Custom classes</Name>
      <Alias>customSplitSectionClasses</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add your own touch with specific classes. Leave a space between each class e.g. custom-class another-class]]></Description>
      <SortOrder>1000</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31235b7d-f1fc-4b33-9630-31b3e96cb607</Key>
      <Name>Desktop column width</Name>
      <Alias>desktopColumnWidth</Alias>
      <Definition>37f2cbf4-57c2-4ce8-8e7f-58c56d5a8328</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If the sum of 'Split Section 1' and 'Split Section 2' is greater than 12, your split content will appear on two rows.]]></Description>
      <SortOrder>997</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64ec87ce-577f-4654-bdb2-3c6fddd9e668</Key>
      <Name>Hide from website</Name>
      <Alias>hideFromWebsite</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1001</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5cf736a8-3177-4bea-9272-376cf88f54b0</Key>
      <Name>Item styles</Name>
      <Alias>itemSplitStyles</Alias>
      <Definition>05972fb9-f47c-489e-a9c2-88f3aebfc770</Definition>
      <Type>USN.AdditionalClasses</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>999</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b1cb3d32-748e-49f1-819b-45e2b6740d05</Key>
      <Name>Tablet column width</Name>
      <Alias>tabletColumnWidth</Alias>
      <Definition>37f2cbf4-57c2-4ce8-8e7f-58c56d5a8328</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If the sum of  'Split Section 1' and 'Split Section 2' is greater than 12, your split content will appear on two rows.]]></Description>
      <SortOrder>998</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41743fe6-680f-4e7c-8606-0652a64bc50a</Key>
      <Name>Vertical position</Name>
      <Alias>verticalPosition</Alias>
      <Definition>51af7156-b3d9-4b33-88ef-2ef7a1a86a25</Definition>
      <Type>USN.VerticalPosition</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>999</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1118ea53-a257-44f9-a20c-d09d33d37b1e</Key>
      <Caption>Design &amp; Layout</Caption>
      <Alias>designLayout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cde3e564-c4ef-4fe6-aa94-b12faa122f66</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Tab</Type>
      <SortOrder>999</SortOrder>
    </Tab>
  </Tabs>
</ContentType>