<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="676d8cc8-95cf-44e6-bb9a-5402970d0a2a" Alias="USN_CMP_SubpageListing_Pod_Settings" Level="3">
  <Info>
    <Name>Subpage Listing (Pod Settings)</Name>
    <Icon>icon-thumbnail-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Unique+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7e1b746c-b064-4605-8a3c-fad1fb8ed443</Key>
      <Name>Enable random order</Name>
      <Alias>enableRandomOrder</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>04890bf0-5e63-4a36-a006-7aec58f0d1dc</Key>
      <Name>Hide current page from list</Name>
      <Alias>hideCurrentPageFromList</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>39018599-1971-4db3-9df6-c3cf4177101e</Key>
      <Name>Hide link to listing page</Name>
      <Alias>hideLinkToListingPage</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f6a5d1d-83a8-4308-9343-5673bdfe10d1</Key>
      <Name>Item heading size</Name>
      <Alias>itemHeadingSize</Alias>
      <Definition>16f5a08b-e9e6-413a-b7a6-2012c213af1d</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f949f157-a346-48f1-96ff-9dd517dc9da1</Key>
      <Name>Item secondary heading size</Name>
      <Alias>itemSecondaryHeadingSize</Alias>
      <Definition>16f5a08b-e9e6-413a-b7a6-2012c213af1d</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>36443a63-b9cf-4295-b4e1-afeb66c90f21</Key>
      <Name>Pages to display</Name>
      <Alias>pagesToDisplay</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If nothing is entered here a maximum of 10 pages available will be listed.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44579e34-6b15-4784-ba49-4003b0fa594b</Key>
      <Name>Tab style</Name>
      <Alias>tabStyle</Alias>
      <Definition>4f6001f5-f682-4ad7-ad96-ce83bce0425c</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3417b9ff-9323-4091-952c-8363e306c08d</Key>
      <Name>Text alignment</Name>
      <Alias>textAlignment</Alias>
      <Definition>3385e82a-0c1c-43c6-b80a-123f1dc4024c</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>85fef62c-df76-4047-b301-131af87bc119</Key>
      <Caption>Design &amp; Layout</Caption>
      <Alias>designLayout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>