<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d1a632f-c68e-459e-9cc7-1befad1afc55" Alias="USN_PB_DataList" Level="3">
  <Info>
    <Name>Data List</Name>
    <Icon>icon-thumbnails color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pods/Pod+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="e4a19b53-65d1-4203-a499-bfa95964cf24">USN_CMP_DataList_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>