<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ca505b5-271a-40b1-be92-1be7bd6a4d7a" Alias="USN_CMP_ExtraContentListing" Level="3">
  <Info>
    <Name>Extra Content (Listing)</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Web+Pages+(Tabs)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>27e95583-8fb7-4a48-a510-9932d1d65be2</Key>
      <Name>Above listing</Name>
      <Alias>aboveListing</Alias>
      <Definition>09b761e4-10a2-498b-bc3e-d7755c9ee8ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Positioned above the listing and spans the full width of your page.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5783a559-c9f3-477e-9faa-67bc5ac03407</Key>
      <Name>Below listing</Name>
      <Alias>belowListing</Alias>
      <Definition>09b761e4-10a2-498b-bc3e-d7755c9ee8ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Positioned below the listing and spans the full width of your page.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>98f5ea59-1763-4300-a35e-0f07a17452ff</Key>
      <Name>Hide global bottom components</Name>
      <Alias>hideDefaultBottomComponents</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>464bd740-3b83-48a0-9b8e-72c918ba146f</Key>
      <Name>Hide global pods</Name>
      <Alias>hideDefaultPods</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49757680-ecdc-4a18-bf8d-8cc79fc910f7</Key>
      <Name>Hide global top components</Name>
      <Alias>hideDefaultTopComponents</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>129c6513-43ad-45f4-8c38-6f72a7c2fc23</Key>
      <Name>Hide period</Name>
      <Alias>hidePeriod</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the number of days before a user is shown the modal window again. If nothing is entered this will default to 365 days.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>143b3fa5-827c-4384-b1ff-6b96c82b20f0</Key>
      <Name>Modal window</Name>
      <Alias>modalWindow</Alias>
      <Definition>d40d6d31-ce34-4c33-adf1-b411d58025c8</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Selecting an option here will override the global modal window.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8aae7686-1d9e-4192-b183-4a851090c92c</Key>
      <Name>Open after</Name>
      <Alias>openAfter</Alias>
      <Definition>68082b22-0652-4e6a-8795-418215e8bf60</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Modal window will open after user has been on page for selected seconds.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>041b419e-1f15-4f53-8a02-dc0816baa23e</Key>
      <Name>Pods</Name>
      <Alias>pagePods</Alias>
      <Definition>2d49d5ac-dfe8-4a6e-8dcf-7b0cb6a3a36f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42ae685c-cb23-430e-930c-b4ab37618df3</Key>
      <Name>Scroll percentage</Name>
      <Alias>scrollPercentage</Alias>
      <Definition>72d3cb72-c5e0-435a-8e26-41b3a010a6e3</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>612e3fb2-02bc-441d-b6e4-17c09fa834e9</Key>
      <Name>Modal content</Name>
      <Alias>selectReusableContent</Alias>
      <Definition>c911326c-983a-487d-b0c9-b61115ac07d8</Definition>
      <Type>USN.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[From the picker, navigate to either reusable folders to select your content.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b3f390ec-fc8f-466c-9e45-96b80ee80d50</Key>
      <Caption>Extra Content</Caption>
      <Alias>extraContent</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>