<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9cbfe96e-9bfb-401a-8995-1e73c2e63faa" Alias="USN_CB_Links" Level="3">
  <Info>
    <Name>Links</Name>
    <Icon>icon-link color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="941240ae-ad0b-4a0b-ab02-67677bd3225b">USN_CMP_IntroOutro</Composition>
      <Composition Key="918d9b9d-2588-4367-b45f-a5ead06e3073">USN_CMP_Links_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>