<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="783a62e6-c80a-4d9f-8289-86ba580bcc2b" Alias="USN_CMP_MinSettings" Level="3">
  <Info>
    <Name>Component Minimum (Settings)</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Common+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c7889142-e730-4110-9459-98938abd94c1</Key>
      <Name>Anchor name</Name>
      <Alias>anchorName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add a unique anchor name which can be used to link to the position of this component on a page. Any spaces will be converted to '_']]></Description>
      <SortOrder>1003</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dd977e01-ebdc-4089-a7f2-7da1e842f254</Key>
      <Name>Additional styles</Name>
      <Alias>componentStyles</Alias>
      <Definition>95735ed8-c1ad-4fb0-bece-148a443bbbf9</Definition>
      <Type>USN.AdditionalClasses</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1005</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1633e84b-abaa-40d1-b4ce-bc79b4f57b3e</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Tab</Type>
      <SortOrder>999</SortOrder>
    </Tab>
  </Tabs>
</ContentType>