<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6bb6f398-5abd-4197-bfb5-db3c8af9d59c" Alias="USN_CMP_SearchLinks_Settings" Level="3">
  <Info>
    <Name>Search/Links (Settings)</Name>
    <Icon>icon-search color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Unique+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5cf97c07-64ef-44a7-a5fe-240f0e87f9df</Key>
      <Name>Hide search</Name>
      <Alias>hideSearch</Alias>
      <Definition>fba5fb8e-85f0-447d-aed5-c930e3806776</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6db03ab-4279-463e-b453-ae5ce2d202df</Key>
      <Name>Search results page</Name>
      <Alias>podSearchResultsPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If no page is selected the search form will submit to the 'Global search results page' selected in 'Global > Settings']]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>582fb4c5-d240-4ec9-b86b-a0a83044e202</Key>
      <Name>Search button color</Name>
      <Alias>searchButtonColor</Alias>
      <Definition>23b4621f-73bc-4797-8847-35b8c112e21f</Definition>
      <Type>USN.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>23c05f5a-11fe-4607-b367-691e13f7245b</Key>
      <Caption>Design &amp; Layout</Caption>
      <Alias>designLayout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>