<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d0d38c45-5d97-4f17-b962-9e67c69146fd" Alias="USN_CB_Pods" Level="3">
  <Info>
    <Name>Pods</Name>
    <Icon>icon-disc color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="941240ae-ad0b-4a0b-ab02-67677bd3225b">USN_CMP_IntroOutro</Composition>
      <Composition Key="f70d2181-6310-48d3-aab0-87fc588325ef">USN_CMP_Pods_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>