<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="540d5df4-24af-479b-ba4d-056abfec4198" Alias="USN_CB_ReusableComponents" Level="3">
  <Info>
    <Name>Reusable Components</Name>
    <Icon>icon-repeat color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="9d3edc7f-0e2d-43ea-b3ec-2267b296496c">USN_CMP_ReusableComponents_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>