<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="60d4e259-1c83-4c09-85f6-0587b8995fe7" Alias="USN_PBS_AlertBox" Level="3">
  <Info>
    <Name>Alert Box (Pod Block Settings)</Name>
    <Icon>icon-alert-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pods/Pod+(Block+Settings)</Folder>
    <Compositions>
      <Composition Key="bd1a63b8-c275-4748-b044-e499d1ecf50f">USN_CMP_AlertBox_Settings</Composition>
      <Composition Key="80ee73f4-57ea-4b28-bb65-7ef169ebf91c">USN_CMP_AnimateSettings</Composition>
      <Composition Key="4291d34b-7929-4e3c-8509-5c5b4795f6dc">USN_CMP_CommonBlockSettings</Composition>
      <Composition Key="7af2c7b5-30c2-472d-b349-f531e38e0253">USN_CMP_ItemName</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>