<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9b9eb7b-3793-409f-bacf-aafd9af20b73" Alias="USN_CBI_WindowImage" Level="3">
  <Info>
    <Name>Image</Name>
    <Icon>icon-picture color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Item+Content)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a22bb8db-eb84-4dc3-9a88-299e584725ab</Key>
      <Name>Buttons</Name>
      <Alias>buttons</Alias>
      <Definition>7b85184c-78ca-4510-9ee8-1301a03c5d55</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a807bd81-2059-4aae-8b32-2e2135d449af</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>b02d85e7-c29a-4c4b-8653-4d074a437bfe</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fd2089a9-077a-4de8-b285-bad56718ece0</Key>
      <Name>Hide button</Name>
      <Alias>hideButton</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Note: This setting only applies if a single button has been added above.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>569b11f2-0b33-4454-9ab9-3fc75d81903c</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Focal point is defined within your "Media" section.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>36ecce04-3658-428c-9033-646b9e78a0c6</Key>
      <Name>Secondary heading</Name>
      <Alias>secondaryHeading</Alias>
      <Definition>bacaab0e-355d-44cd-839e-b99bd0317e83</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d4285d53-eec1-4b7f-8970-76330953ba63</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>7aa1ee53-7945-44e0-bff4-8996f2c8ceb4</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>69b7d18c-b717-45b6-9903-d3d86912b023</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>