<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="644e714a-e1d5-4457-a5bd-9c033e36cba7" Alias="USN_CMP_DisableDelete" Level="3">
  <Info>
    <Name>Disable Delete</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Add to nodes to include disable delete functionality.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Page+(Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3d9fc844-5744-4111-a6c6-4ed560b60f0f</Key>
      <Name>Disable delete</Name>
      <Alias>disableDelete</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If 'Yes' is selected, when a user attempts to delete this node they will be presented with a warning message indicating that this node cannot be deleted.]]></Description>
      <SortOrder>999</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2e50c9a3-93c7-4489-a4d9-5472ea1eb5cf</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Tab</Type>
      <SortOrder>999</SortOrder>
    </Tab>
  </Tabs>
</ContentType>