<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="080c227a-59a2-40fd-ad68-aaf356ac3a8a" Alias="USN_CB_SubpageListing" Level="3">
  <Info>
    <Name>Subpage Listing</Name>
    <Icon>icon-thumbnail-list color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="941240ae-ad0b-4a0b-ab02-67677bd3225b">USN_CMP_IntroOutro</Composition>
      <Composition Key="87f2b32c-0b6a-4d2e-819c-372a9263cd73">USN_CMP_SubpageListing_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>