<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="732074a8-c2ab-4c8b-b93f-86b9cca084a6" Alias="USN_CBS_EcwidShop" Level="3">
  <Info>
    <Name>Ecwid Shop (Block Settings)</Name>
    <Icon>icon-shopping-basket color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Settings)</Folder>
    <Compositions>
      <Composition Key="888e5d9e-7f97-49ae-b0dc-165b2d999c64">USN_CMP_BackgroundSettings</Composition>
      <Composition Key="4291d34b-7929-4e3c-8509-5c5b4795f6dc">USN_CMP_CommonBlockSettings</Composition>
      <Composition Key="7af2c7b5-30c2-472d-b349-f531e38e0253">USN_CMP_ItemName</Composition>
      <Composition Key="783a62e6-c80a-4d9f-8289-86ba580bcc2b">USN_CMP_MinSettings</Composition>
      <Composition Key="a70e5d13-d83d-4a2b-89e6-44582cce9877">USN_CMP_WidthSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>