<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c2df847e-5bc1-450a-8266-1fe04ad26700" Alias="USN_CMP_Scripts" Level="3">
  <Info>
    <Name>Page Scripts</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Web+Pages+(Tabs)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>54907e91-d6ea-4e4c-b898-8a02b1728fc2</Key>
      <Name>After opening body scripts</Name>
      <Alias>pageAfterOpeningBodyScripts</Alias>
      <Definition>4e9f23cc-3cde-4d44-873b-e710aae97947</Definition>
      <Type>USN.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Anything you enter here will be placed after the opening &lt;body&gt; tag on this page of your website.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4347d350-88c9-48d1-b752-fb22a077e78e</Key>
      <Name>Before closing body scripts</Name>
      <Alias>pageBeforeClosingBodyScripts</Alias>
      <Definition>4e9f23cc-3cde-4d44-873b-e710aae97947</Definition>
      <Type>USN.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Anything you enter here will be placed before the closing &lt;/body&gt; tag on this page of your website.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6cb6d4fd-b71b-4567-ab13-770558257f94</Key>
      <Name>Header opening scripts</Name>
      <Alias>pageHeaderOpeningScripts</Alias>
      <Definition>4e9f23cc-3cde-4d44-873b-e710aae97947</Definition>
      <Type>USN.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Anything you enter here will be placed after the opening &lt;head&gt; tag on this page of your website.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0456f196-a1c4-4141-a721-d540c859d2d1</Key>
      <Name>Header closing scripts</Name>
      <Alias>pageHeaderScripts</Alias>
      <Definition>4e9f23cc-3cde-4d44-873b-e710aae97947</Definition>
      <Type>USN.CodeEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Anything you enter here will be placed before the closing &lt;/head&gt; tag on this page of your website.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="scripts">Scripts</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6103a0f2-9f89-4e84-a50a-1dd2a9d981a4</Key>
      <Caption>Scripts</Caption>
      <Alias>scripts</Alias>
      <Type>Tab</Type>
      <SortOrder>998</SortOrder>
    </Tab>
  </Tabs>
</ContentType>