<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b20036b-e140-424f-ac00-9b57fb3221b1" Alias="USN_PB_Image" Level="3">
  <Info>
    <Name>Image</Name>
    <Icon>icon-picture color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pods/Pod+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="3310e8d6-9b83-4fe9-8873-5b43b2c4341d">USN_CMP_Image</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e2f1019e-fd28-400c-a2bf-f1d085c9deef</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>bacaab0e-355d-44cd-839e-b99bd0317e83</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28b704ed-501c-4b34-80ee-c6ab2ca4cb5a</Key>
      <Name>Secondary heading</Name>
      <Alias>secondaryHeading</Alias>
      <Definition>bacaab0e-355d-44cd-839e-b99bd0317e83</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d6188723-5808-4e66-baeb-e57723f365f9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>