<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="244bf19c-4863-4589-a3b3-8944c9081e04" Alias="USN_CBSP_GridLayout" Level="3">
  <Info>
    <Name>Grid Layout</Name>
    <Icon>icon-thumbnails-small color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="b45510ee-5b33-436b-b149-9e33b4f0457b">USN_CMP_GridLayout_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>