<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d12bd10-82a5-4538-be11-eb6330bd8f6c" Alias="USN_CBSS_ProductInfo" Level="3">
  <Info>
    <Name>Product Information (Split Settings)</Name>
    <Icon>icon-box color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Split+Component+(Block+Settings)</Folder>
    <Compositions>
      <Composition Key="80ee73f4-57ea-4b28-bb65-7ef169ebf91c">USN_CMP_AnimateSettings</Composition>
      <Composition Key="888e5d9e-7f97-49ae-b0dc-165b2d999c64">USN_CMP_BackgroundSettings</Composition>
      <Composition Key="7af2c7b5-30c2-472d-b349-f531e38e0253">USN_CMP_ItemName</Composition>
      <Composition Key="00415343-36de-4059-9f30-0265b56cc983">USN_CMP_ProductInfo_Component_Settings</Composition>
      <Composition Key="f2ce976d-5629-4c48-a9cb-c31c00fa1049">USN_CMP_SplitCommonSettings</Composition>
      <Composition Key="a70e5d13-d83d-4a2b-89e6-44582cce9877">USN_CMP_WidthSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>