<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e44c0da-cff7-433b-8965-09a7af37c727" Alias="USN_PBS_SubpageListing" Level="3">
  <Info>
    <Name>Subpage Listing (Pod Block Settings)</Name>
    <Icon>icon-thumbnail-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pods/Pod+(Block+Settings)</Folder>
    <Compositions>
      <Composition Key="80ee73f4-57ea-4b28-bb65-7ef169ebf91c">USN_CMP_AnimateSettings</Composition>
      <Composition Key="4291d34b-7929-4e3c-8509-5c5b4795f6dc">USN_CMP_CommonBlockSettings</Composition>
      <Composition Key="7af2c7b5-30c2-472d-b349-f531e38e0253">USN_CMP_ItemName</Composition>
      <Composition Key="676d8cc8-95cf-44e6-bb9a-5402970d0a2a">USN_CMP_SubpageListing_Pod_Settings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>