<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e148d31-3721-4f39-b076-66c32a8e32b6" Alias="USN_CMP_SplitComponent_Content" Level="3">
  <Info>
    <Name>Split Component (Content)</Name>
    <Icon>icon-width color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Content)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c732e839-a998-42e9-b50a-7c0082f180b6</Key>
      <Name>Split section 1</Name>
      <Alias>splitSection1</Alias>
      <Definition>a8a97d16-7a2b-43de-a844-27933bdb3530</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[ONLY 1 ITEM CAN BE ADDED]]></Description>
      <SortOrder>101</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>769d7e87-2b66-4e67-8ae5-75477138cc23</Key>
      <Name>Split section 2</Name>
      <Alias>splitSection2</Alias>
      <Definition>a8a97d16-7a2b-43de-a844-27933bdb3530</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[ONLY 1 ITEM CAN BE ADDED]]></Description>
      <SortOrder>102</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d7e5a3ba-f3ab-4b63-bde2-12f20aba79d4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>