<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7c18879f-d2c5-4d87-b9f5-02544784e0e2" Alias="USN_CBS_Banners" Level="3">
  <Info>
    <Name>Banners (Block Settings)</Name>
    <Icon>icon-pictures-alt-2 color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Settings)</Folder>
    <Compositions>
      <Composition Key="e60eb862-0b18-4e21-9bce-d6f424b464c3">USN_CMP_Banners_Settings</Composition>
      <Composition Key="4291d34b-7929-4e3c-8509-5c5b4795f6dc">USN_CMP_CommonBlockSettings</Composition>
      <Composition Key="7af2c7b5-30c2-472d-b349-f531e38e0253">USN_CMP_ItemName</Composition>
      <Composition Key="783a62e6-c80a-4d9f-8289-86ba580bcc2b">USN_CMP_MinSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>