<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c4d3487-2425-469f-a4c0-2b63b7ebee7a" Alias="USN_CMP_Windows_Content" Level="3">
  <Info>
    <Name>Windows (Content)</Name>
    <Icon>icon-windows color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Content)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dbba5229-860f-4b27-9cfb-062dda9a3529</Key>
      <Name>Window items</Name>
      <Alias>windows</Alias>
      <Definition>78c483a5-4f3c-4a78-ace1-b60633206f53</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>101</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f10df7d1-446f-4e2f-aa4c-9fd10d2ffb8e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>