<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ee85a65f-4e38-4c41-a5bd-d9912726adcf" Alias="USN_CBSP_Text" Level="3">
  <Info>
    <Name>Text</Name>
    <Icon>icon-notepad-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6c808b51-c0da-4243-be2f-c65ea3b673ea</Key>
      <Name>Buttons</Name>
      <Alias>buttons</Alias>
      <Definition>7b85184c-78ca-4510-9ee8-1301a03c5d55</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ee2a5f9-1ed8-478c-b2a8-90f041fd5e46</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>b02d85e7-c29a-4c4b-8653-4d074a437bfe</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>460ef495-4429-4e8b-bd30-36bba454048e</Key>
      <Name>Secondary heading</Name>
      <Alias>secondaryHeading</Alias>
      <Definition>bacaab0e-355d-44cd-839e-b99bd0317e83</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8da584c2-cd18-4dd2-89d4-cb85319f342a</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>7aa1ee53-7945-44e0-bff4-8996f2c8ceb4</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b61e4759-1e5d-456f-9048-a5af3b76149d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>