<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87f2b32c-0b6a-4d2e-819c-372a9263cd73" Alias="USN_CMP_SubpageListing_Content" Level="3">
  <Info>
    <Name>Subpage Listing (Content)</Name>
    <Icon>icon-thumbnail-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Content)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dd2f3b0c-07e0-498c-b8ff-0a68eb967681</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert"><p>Link to internal pages that contain sub pages. If you select more than one page, tabs will appear to switch between them.</p><p>If linking to a "Blog", either link to the "Blog Landing Page" or "Blog Category Page".</p><p>If linking to a "Listing" or "Shop" page either link to the "Landing Page" or a "Listing Filter Page".</p><p>Links to external pages will be ignored.</p><p>The "Link title" field is used for the tab heading and link to each listing.</p></div>]]></Description>
      <SortOrder>101</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f7fa830-0dde-4e14-8107-311d268e0718</Key>
      <Name>Link to listing</Name>
      <Alias>linkToListing</Alias>
      <Definition>a0b9a9d3-46d7-4751-b75f-27fae571c54b</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>102</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ba4dbf8f-78b0-4d60-a6a7-72e51fcfdd54</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>