<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="888e5d9e-7f97-49ae-b0dc-165b2d999c64" Alias="USN_CMP_BackgroundSettings" Level="3">
  <Info>
    <Name>Component Background (Settings)</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Common+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0855de5b-d7e2-4073-bec2-2c7342a2ca9b</Key>
      <Name>Content colors</Name>
      <Alias>backgroundColor</Alias>
      <Definition>5485e479-2d49-4abd-a266-e63dccfddb19</Definition>
      <Type>USN.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>992</SortOrder>
      <Tab Alias="component">Component</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc1d2a0f-7a37-4e21-a750-238ec4b04cad</Key>
      <Name>Background image</Name>
      <Alias>backgroundImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[No recommended image size. To cover the full area of the component use a large image. Use a small image to repeat.]]></Description>
      <SortOrder>993</SortOrder>
      <Tab Alias="component">Component</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64271782-19b0-4480-9887-2b48ec2a416c</Key>
      <Name>Background image options</Name>
      <Alias>backgroundImageOptions</Alias>
      <Definition>f59624d3-16e9-41eb-8172-dd00e7b5b6e2</Definition>
      <Type>USN.BackgroundOptions</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>994</SortOrder>
      <Tab Alias="component">Component</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>63bb08e4-ba19-48a1-9f08-ced8006ab367</Key>
      <Caption>Component</Caption>
      <Alias>component</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>