<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cefece5e-8236-4a8a-9ef9-7b7e39db1b36" Alias="USN_PBS_AccordionTab" Level="3">
  <Info>
    <Name>Accordion/Tab (Pod Block Settings)</Name>
    <Icon>icon-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pods/Pod+(Block+Settings)</Folder>
    <Compositions>
      <Composition Key="d44b078f-d7d6-4c3d-a79f-26f223169c5e">USN_CMP_AccordionTab_Settings</Composition>
      <Composition Key="80ee73f4-57ea-4b28-bb65-7ef169ebf91c">USN_CMP_AnimateSettings</Composition>
      <Composition Key="4291d34b-7929-4e3c-8509-5c5b4795f6dc">USN_CMP_CommonBlockSettings</Composition>
      <Composition Key="7af2c7b5-30c2-472d-b349-f531e38e0253">USN_CMP_ItemName</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>