<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="774318b9-8e4b-47db-839b-56205a6e84e0" Alias="USN_CB_CTAStrip" Level="3">
  <Info>
    <Name>Call to Action</Name>
    <Icon>icon-megaphone color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="87358428-6054-48a6-8bb1-9082dfd705e9">USN_CMP_CTAStrip_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>