<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88b64d42-3722-4141-bfb1-0e70713a7378" Alias="USN_CMP_ExtraContent" Level="3">
  <Info>
    <Name>Extra Content</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Web+Pages+(Tabs)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e207f395-f5fe-4cb4-b589-afe659dda1e1</Key>
      <Name>Above main content</Name>
      <Alias>aboveMainContent</Alias>
      <Definition>09b761e4-10a2-498b-bc3e-d7755c9ee8ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Positioned above the main content and spans the full width of your page.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0ddf826-a922-4b95-a597-5a248fd6df56</Key>
      <Name>Below main content</Name>
      <Alias>belowMainContent</Alias>
      <Definition>09b761e4-10a2-498b-bc3e-d7755c9ee8ad</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Positioned below the main content and spans the full width of your page.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7cf47039-c61c-4b89-8e4f-a9a006594988</Key>
      <Name>Hide global bottom components</Name>
      <Alias>hideDefaultBottomComponents</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2399e246-d680-4104-8983-6a255c84d563</Key>
      <Name>Hide global pods</Name>
      <Alias>hideDefaultPods</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6587d170-e0c7-42e7-98dc-c27150ebc62c</Key>
      <Name>Hide global top components</Name>
      <Alias>hideDefaultTopComponents</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea5b8825-49af-4fb0-91ca-de1e4da09748</Key>
      <Name>Hide period</Name>
      <Alias>hidePeriod</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the number of days before a user is shown the modal window again. If nothing is entered this will default to 365 days.]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ba3e1dde-9558-48a5-aace-79ab686368f3</Key>
      <Name>Modal window</Name>
      <Alias>modalWindow</Alias>
      <Definition>d40d6d31-ce34-4c33-adf1-b411d58025c8</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Selecting an option here will override the global modal window.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>59e980eb-7cde-4244-80a7-72864b81b4df</Key>
      <Name>Open after</Name>
      <Alias>openAfter</Alias>
      <Definition>68082b22-0652-4e6a-8795-418215e8bf60</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Modal window will open after user has been on page for selected seconds.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1285f07-1994-4594-892f-7ee38e494899</Key>
      <Name>Pods</Name>
      <Alias>pagePods</Alias>
      <Definition>2d49d5ac-dfe8-4a6e-8dcf-7b0cb6a3a36f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9cf6d0a6-a167-49d2-9611-445fa1573d61</Key>
      <Name>Scroll percentage</Name>
      <Alias>scrollPercentage</Alias>
      <Definition>72d3cb72-c5e0-435a-8e26-41b3a010a6e3</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ef06773-e11a-49ba-a764-74c416869d6e</Key>
      <Name>Modal content</Name>
      <Alias>selectReusableContent</Alias>
      <Definition>c911326c-983a-487d-b0c9-b61115ac07d8</Definition>
      <Type>USN.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[From the picker, navigate to either reusable folders to select your content.]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="extraContent">Extra Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dd7b9f32-025c-4f49-9020-5dcc43cbc2f2</Key>
      <Caption>Extra Content</Caption>
      <Alias>extraContent</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>