<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8848e7ee-3ea5-4009-b200-bd40e86f8144" Alias="USN_CB_DataList" Level="3">
  <Info>
    <Name>Data List</Name>
    <Icon>icon-thumbnails color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="e4a19b53-65d1-4203-a499-bfa95964cf24">USN_CMP_DataList_Content</Composition>
      <Composition Key="941240ae-ad0b-4a0b-ab02-67677bd3225b">USN_CMP_IntroOutro</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>