<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="91e4acc9-f3f6-488c-802d-416f6e8a954e" Alias="USN_CMP_PageNavigation" Level="3">
  <Info>
    <Name>Page Navigation</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Web+Pages+(Tabs)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2564c9bc-2223-45e7-99a9-54638944c818</Key>
      <Name>Breadcrumb link text</Name>
      <Alias>breadcrumbLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page name will be used by default if nothing is entered.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>213a41bc-5c92-4b67-93ee-411e7d102b25</Key>
      <Name>Hide breadcrumb</Name>
      <Alias>hideBreadcrumb</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select 'Yes' to hide the auto generated breadcrumb navigation from your webpage.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8922801c-a64c-4c48-ba90-a317fc013153</Key>
      <Name>Hide from internal search</Name>
      <Alias>hideFromInternalSearch</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select 'Yes' to hide this page from your internal website search.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>423821b7-b004-42b1-9d96-93b0f60ddad1</Key>
      <Name>Hide from all navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>b6c85852-e7fd-4ddc-9983-7df3cd0c462c</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select 'Yes' to hide this page from all auto generated navigation, manually added navigation, buttons and lists.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>eb1f4c92-ddc0-423a-89c2-c36526cfaa7f</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>994</SortOrder>
    </Tab>
  </Tabs>
</ContentType>