<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c8a1fc2-182e-43d8-a2b0-05ce6eb73921" Alias="USN_CB_ProductInfo" Level="3">
  <Info>
    <Name>Product Information</Name>
    <Icon>icon-box color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="941240ae-ad0b-4a0b-ab02-67677bd3225b">USN_CMP_IntroOutro</Composition>
      <Composition Key="97855d42-be84-474e-804f-d7f9f12c2a1b">USN_CMP_ProductInfo_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>