<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bc3b615d-bb61-431b-a48e-7443981df53d" Alias="USN_PB_PodProductInfo" Level="3">
  <Info>
    <Name>Product Information</Name>
    <Icon>icon-box color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pods/Pod+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="97855d42-be84-474e-804f-d7f9f12c2a1b">USN_CMP_ProductInfo_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>