<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="941240ae-ad0b-4a0b-ab02-67677bd3225b" Alias="USN_CMP_IntroOutro" Level="3">
  <Info>
    <Name>Component Intro/Outro</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Content)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7e494ae8-2185-4149-8160-3c6193568a3a</Key>
      <Name>Display intro</Name>
      <Alias>displayIntro</Alias>
      <Definition>65b97620-eac4-432c-b673-2dca96cde51d</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="intro">Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9df34f97-5f0b-4324-83da-0f835b0c9fe0</Key>
      <Name>Display outro</Name>
      <Alias>displayOutro</Alias>
      <Definition>d7739150-0583-4900-ab63-1b636164aa0d</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="outro">Outro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c19ca5e-c6a0-4b22-9395-bbd57addfb3e</Key>
      <Name>Buttons</Name>
      <Alias>introButtons</Alias>
      <Definition>7b85184c-78ca-4510-9ee8-1301a03c5d55</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="intro">Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b07048d-dcb1-4717-ae26-1d53570b4394</Key>
      <Name>Heading</Name>
      <Alias>introHeading</Alias>
      <Definition>b02d85e7-c29a-4c4b-8653-4d074a437bfe</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="intro">Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>68d23cf7-01bb-442b-bcfe-d11d1ef59d91</Key>
      <Name>Secondary heading</Name>
      <Alias>introSecondaryHeading</Alias>
      <Definition>bacaab0e-355d-44cd-839e-b99bd0317e83</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="intro">Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6d85223-61f0-4e72-9c27-c57d70ce0efb</Key>
      <Name>Text</Name>
      <Alias>introText</Alias>
      <Definition>7aa1ee53-7945-44e0-bff4-8996f2c8ceb4</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="intro">Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88420fce-756c-4c54-9866-96a9fd33bfb3</Key>
      <Name>Text alignment</Name>
      <Alias>introTextAlignment</Alias>
      <Definition>4b1dd2d1-6e1d-42ec-9584-b138801732b6</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="intro">Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>84ad07db-1374-44c9-9c27-9e04e1c78b08</Key>
      <Name>Buttons</Name>
      <Alias>outroButtons</Alias>
      <Definition>7b85184c-78ca-4510-9ee8-1301a03c5d55</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="outro">Outro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87b3d84c-3e94-42fa-854c-1e726860b5e1</Key>
      <Name>Heading</Name>
      <Alias>outroHeading</Alias>
      <Definition>b02d85e7-c29a-4c4b-8653-4d074a437bfe</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="outro">Outro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0d34f66-7b8a-4c59-a363-179fca0e98cc</Key>
      <Name>Secondary heading</Name>
      <Alias>outroSecondaryHeading</Alias>
      <Definition>bacaab0e-355d-44cd-839e-b99bd0317e83</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="outro">Outro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88f9e584-8474-4043-b347-63c217ee7471</Key>
      <Name>Text</Name>
      <Alias>outroText</Alias>
      <Definition>7aa1ee53-7945-44e0-bff4-8996f2c8ceb4</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="outro">Outro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6c352bc-bccb-4d99-840f-393f56c1c0d2</Key>
      <Name>Text alignment</Name>
      <Alias>outroTextAlignment</Alias>
      <Definition>4b1dd2d1-6e1d-42ec-9584-b138801732b6</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="outro">Outro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7bd1ece0-c6f3-4abc-bc6f-cc082e7fae3c</Key>
      <Caption>Intro</Caption>
      <Alias>intro</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c9aba6bd-7ac5-48cc-84eb-d78b948aa87b</Key>
      <Caption>Outro</Caption>
      <Alias>outro</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>