<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80ee73f4-57ea-4b28-bb65-7ef169ebf91c" Alias="USN_CMP_AnimateSettings" Level="3">
  <Info>
    <Name>Animate (Settings)</Name>
    <Icon>icon-document color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Common+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>582fb651-e77f-46c3-85d0-62f1543da020</Key>
      <Name>Animate</Name>
      <Alias>animate</Alias>
      <Definition>946a0315-4d5d-4112-869f-1d872c07b83b</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>996</SortOrder>
      <Tab Alias="animation">Animation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e1e25bb-da7c-486f-ae14-d31ef759354d</Key>
      <Name>Animation delay</Name>
      <Alias>animationDelay</Alias>
      <Definition>4143885a-b79b-4c88-bb3d-1ac0b54a7a17</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(seconds)]]></Description>
      <SortOrder>998</SortOrder>
      <Tab Alias="animation">Animation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e38fb2a5-86a3-4635-bffb-ce274a5b0433</Key>
      <Name>Animation duration</Name>
      <Alias>animationDuration</Alias>
      <Definition>9a6cfd1f-d147-4b77-b045-3ab725bbfe18</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(seconds)]]></Description>
      <SortOrder>999</SortOrder>
      <Tab Alias="animation">Animation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>24d0b92b-03e1-4cf6-bf7f-4530884d114b</Key>
      <Name>Animation style</Name>
      <Alias>animationStyle</Alias>
      <Definition>17675362-767c-4bc4-8923-bd2a2397da23</Definition>
      <Type>USN.AnimateOptions</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>997</SortOrder>
      <Tab Alias="animation">Animation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e4d7d38c-3940-49a1-b9d0-81fdd2b21e94</Key>
      <Caption>Animation</Caption>
      <Alias>animation</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>