<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ea51a363-dd79-4986-b2e2-e15706a497e9" Alias="USN_CMP_Video_Settings" Level="3">
  <Info>
    <Name>Video (Settings)</Name>
    <Icon>icon-video color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Unique+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>87468dad-ff5b-4456-8b18-89e0612a78f8</Key>
      <Name>Box pad</Name>
      <Alias>boxPad</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Padding will be added to image to fit image style selected above.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1efb3e47-c0c4-46a5-9a05-849d073108ae</Key>
      <Name>Image style</Name>
      <Alias>imageStyle</Alias>
      <Definition>86af9894-6d0e-4cf0-a200-55902062263f</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>030c0c5a-1691-4b22-a519-6fe3baaa24b7</Key>
      <Caption>Design &amp; Layout</Caption>
      <Alias>designLayout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>