<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dcd27b80-7ff6-4a84-b98c-bc7cf3681c41" Alias="USN_CBI_GalleryVideo" Level="3">
  <Info>
    <Name>Single Video</Name>
    <Icon>icon-video color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Item+Content)</Folder>
    <Compositions>
      <Composition Key="5b367fc9-039e-466f-9f1b-e5b6982b0609">USN_CMP_Video</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>