<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d44b078f-d7d6-4c3d-a79f-26f223169c5e" Alias="USN_CMP_AccordionTab_Settings" Level="3">
  <Info>
    <Name>Accordion/Tab (Settings)</Name>
    <Icon>icon-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Unique+Settings)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5a88adad-4eaf-423f-a68a-85b712dae968</Key>
      <Name>Open options</Name>
      <Alias>accordionOptions</Alias>
      <Definition>ea10ab40-42ee-49ff-9dd7-ba4ad980b313</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>79c85a4e-5118-4cec-bf9f-18dd363f16b4</Key>
      <Name>Accordion/Tab style</Name>
      <Alias>accordionTabStyle</Alias>
      <Definition>4f6001f5-f682-4ad7-ad96-ce83bce0425c</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e92056e-6045-4df5-993e-35f8cb541a4a</Key>
      <Name>Layout</Name>
      <Alias>repeaterStyle</Alias>
      <Definition>c826c072-7497-4b84-9d98-23c7e5b5b3ad</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4836a693-8fc6-4718-9ac4-ba096fb08c77</Key>
      <Caption>Design &amp; Layout</Caption>
      <Alias>designLayout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>