<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5d2fc53-3811-458c-9a7a-0b9213e45110" Alias="USN_CB_AlertBox" Level="3">
  <Info>
    <Name>Alert Box</Name>
    <Icon>icon-alert-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="f871746c-a72c-4203-8b20-8d52d089bdef">USN_CMP_AlertBox_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>