<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="656e9b47-be02-400c-bbdd-cf6e332b7ea0" Alias="USN_CBI_Link" Level="3">
  <Info>
    <Name>Link</Name>
    <Icon>icon-link color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Item+Content)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8f4bc932-acda-4fa3-be5b-247f2f5d488f</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>e5ea7a29-f5e3-463b-9088-f5d8d9acb7cf</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d0d16f3-571b-470d-84d9-8fcab157cdbd</Key>
      <Name>Optional additional information</Name>
      <Alias>optionalAdditionalInformation</Alias>
      <Definition>7aa1ee53-7945-44e0-bff4-8996f2c8ceb4</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Only displayed if 'Include link detail' is set to 'Yes' within main component settings.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a5cf7d9d-6716-4ea1-843c-6764cb826b04</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>