<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ecf41871-ac04-4b2a-aa6e-6cb613b037a5" Alias="USN_CBS_ReusableComponents" Level="3">
  <Info>
    <Name>Reusable Components (Block Settings)</Name>
    <Icon>icon-repeat color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Settings)</Folder>
    <Compositions>
      <Composition Key="80ee73f4-57ea-4b28-bb65-7ef169ebf91c">USN_CMP_AnimateSettings</Composition>
      <Composition Key="888e5d9e-7f97-49ae-b0dc-165b2d999c64">USN_CMP_BackgroundSettings</Composition>
      <Composition Key="4291d34b-7929-4e3c-8509-5c5b4795f6dc">USN_CMP_CommonBlockSettings</Composition>
      <Composition Key="7af2c7b5-30c2-472d-b349-f531e38e0253">USN_CMP_ItemName</Composition>
      <Composition Key="783a62e6-c80a-4d9f-8289-86ba580bcc2b">USN_CMP_MinSettings</Composition>
      <Composition Key="a70e5d13-d83d-4a2b-89e6-44582cce9877">USN_CMP_WidthSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5faacbb0-85b2-4484-a69f-122447df399c</Key>
      <Name>Layout</Name>
      <Alias>style</Alias>
      <Definition>60f85cfe-82ca-47ab-9df0-c3c217729f1b</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If there is more than one reusable component choose if they will be 'tabbed' or 'stacked'.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7804843-0e32-421a-91b3-9ba4467e4a0c</Key>
      <Name>Tab alignment</Name>
      <Alias>tabAlignment</Alias>
      <Definition>4b1dd2d1-6e1d-42ec-9584-b138801732b6</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4b4def54-f660-4568-9b4e-cd2da89eb243</Key>
      <Name>Tab style</Name>
      <Alias>tabStyle</Alias>
      <Definition>4f6001f5-f682-4ad7-ad96-ce83bce0425c</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="designLayout">Design &amp; Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7a8a959c-0270-431d-a478-10ba1187cdbf</Key>
      <Caption>Design &amp; Layout</Caption>
      <Alias>designLayout</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>