<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4a19b53-65d1-4203-a499-bfa95964cf24" Alias="USN_CMP_DataList_Content" Level="3">
  <Info>
    <Name>Data List (Content)</Name>
    <Icon>icon-thumbnails color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Pods%2fComponents+(Content)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>62268a04-4ad9-4744-b02e-538e56f5f123</Key>
      <Name>Items</Name>
      <Alias>dataItems</Alias>
      <Definition>311db8da-51c3-4de2-b887-b753fa9bafbd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>103</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>594c2e1d-0473-454b-95db-c5d2725808d9</Key>
      <Name>Heading</Name>
      <Alias>tableHeading</Alias>
      <Definition>bacaab0e-355d-44cd-839e-b99bd0317e83</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>101</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2617d7b4-2df0-4856-93e6-01a14a29e7a6</Key>
      <Name>Secondary heading</Name>
      <Alias>tableSecondaryHeading</Alias>
      <Definition>bacaab0e-355d-44cd-839e-b99bd0317e83</Definition>
      <Type>USN.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>102</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>772dbd8b-d3f2-45af-81c5-1d0f9f61494e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>