<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c976ac40-8dad-4ef0-bc4d-d7f71757b659" Alias="USN_CB_Breadcrumb" Level="3">
  <Info>
    <Name>Breadcrumb Navigation</Name>
    <Icon>icon-ethernet color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0a04fe6f-a909-4ae2-99d4-892dbf5200fd</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert"><p>This component will add a breadcrumb navigation to your page</p></div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>44176ee1-1c0a-4b64-b2f0-33eb6c544ae3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>