<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9cfd8c2c-b89e-4bf9-8244-f2d8da401262" Alias="USN_CB_AnchorNavigation" Level="3">
  <Info>
    <Name>Anchor Navigation</Name>
    <Icon>icon-anchor color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Component+(Block+Content)</Folder>
    <Compositions>
      <Composition Key="c343feb0-fac1-404f-ae72-34e110e0ae8d">USN_CMP_AnchorNavigation_Content</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>