<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="db9bf571-44fe-4248-8896-e9a3c91dba63" Alias="USNBlogCategories" Level="2">
  <Info>
    <Name>Blog Categories Folder</Name>
    <Icon>icon-folder-outline color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to organise the "Blog Categories".</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blog</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNParentRedirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="24fa36af-8083-45c8-a7fe-3c49df2aab46">USNParentRedirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6b157605-3f60-449f-8aaa-ece96df9bbee" SortOrder="0">USNBlogCategoryPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5dc92323-a4e3-4474-97fe-a3b2ec31a7a8</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert"><p>Create items below this folder to add new "Categories".</p></div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="categories">Categories</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3fca6530-52d2-40a8-8fa0-223745b8d110</Key>
      <Caption>Categories</Caption>
      <Alias>categories</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>