<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2eb9c56f-90ad-432a-aaca-4bf9efa4688e" Alias="USNBlogLandingPage" Level="2">
  <Info>
    <Name>Blog Landing Page</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to create a "Blog Landing Page".</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
      <Composition Key="9ca505b5-271a-40b1-be92-1be7bd6a4d7a">USN_CMP_ExtraContentListing</Composition>
      <Composition Key="5f7ffaeb-a471-4a21-8762-ced2515dfc73">USN_CMP_ListingSettings</Composition>
      <Composition Key="ab789e23-7802-4ed1-8e98-2ac69689957c">USN_CMP_MainContentListing</Composition>
      <Composition Key="a5abb791-6917-4b8e-bf1c-b29678e19975">USN_CMP_PageAdvancedSettings</Composition>
      <Composition Key="91e4acc9-f3f6-488c-802d-416f6e8a954e">USN_CMP_PageNavigation</Composition>
      <Composition Key="f450332f-3d0e-483c-94ed-6e1d118d6b46">USN_CMP_PageSummary</Composition>
      <Composition Key="c2df847e-5bc1-450a-8266-1fe04ad26700">USN_CMP_Scripts</Composition>
      <Composition Key="9df0c046-b3af-4d19-9ced-2e4b2d04e5d6">USN_CMP_SEO</Composition>
    </Compositions>
    <DefaultTemplate>USNBlogLandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9c9731b8-9234-4dce-839f-6f83c5907edb">USNBlogLandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>59d02e84-9226-4b53-8f69-2777433dcd61</Key>
      <Name>Default author</Name>
      <Alias>defaultAuthor</Alias>
      <Definition>3073c509-81ec-4270-99cf-6e981b2c2dcb</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the default author that will be applied to all blog posts.]]></Description>
      <SortOrder>22</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18863b74-2819-4d2d-9f0b-952a447ee5cd</Key>
      <Name>Disqus username</Name>
      <Alias>disqusUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If nothing is entered, blog commenting will be disabled.]]></Description>
      <SortOrder>21</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5b81904-c446-45dd-a11c-c2b378fd1582</Key>
      <Name>Hide sub navigation</Name>
      <Alias>hideSubNavigation</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select 'Yes' to hide the sub navigation menu from this page.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab8cb560-df65-49ff-a04b-c589fd56032d</Key>
      <Name>HTML sitemap link text</Name>
      <Alias>htmlSitemapLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page name will be used by default if nothing is entered.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fd7ce8e3-9882-4f4c-8cbd-4ed9bebf0cb6</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert"><p>This page will list your "Blog Posts". "Blog Posts" can be created via the "Posts" folder directly below this page.</p></div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e23f5ef5-428f-4cc8-8cd3-27bd7e746edb</Key>
      <Name>Sub navigation link text</Name>
      <Alias>subNavigationLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page name will be used by default if nothing is entered.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f64b1d99-b51e-4fd9-a2c3-f949cefe75c1</Key>
      <Name>Instructions</Name>
      <Alias>summaryInstructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">This  content is only displayed on a 'Listing' or 'Related Content' pod.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="summary">Summary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e46b1c18-5a8a-45a1-9652-85b46b5c1c8a</Key>
      <Name>Override global node</Name>
      <Alias>websiteConfigurationNode</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the 'Global node' to be used for this page and all child pages. This will override the 'Global node' selected on the parent page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>432ad161-6c28-46d7-b0d4-838d4ac770a0</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>934512c5-84fa-446d-a061-f4142bbfd88f</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Tab</Type>
      <SortOrder>999</SortOrder>
    </Tab>
    <Tab>
      <Key>c3bb2ca5-e3f1-43bf-80d3-fea265841ab8</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>994</SortOrder>
    </Tab>
    <Tab>
      <Key>dd75a996-d41b-408f-951b-0a255d4f7647</Key>
      <Caption>Summary</Caption>
      <Alias>summary</Alias>
      <Type>Tab</Type>
      <SortOrder>993</SortOrder>
    </Tab>
  </Tabs>
</ContentType>