<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="efc933ab-46c8-4975-adba-d822ab0ffcb9" Alias="USNBlogRSS" Level="2">
  <Info>
    <Name>Blog RSS</Name>
    <Icon>icon-rss color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to create your "Blog RSS Feed".</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNBlogRSS</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="47cb6768-79b3-4b36-80f0-d67d05ea2189">USNBlogRSS</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>edccce0d-e6db-464e-9a1e-2bc52560b133</Key>
      <Name>Blog posts to return</Name>
      <Alias>blogPostsToReturn</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If nothing is entered here all posts available will be listed.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d20c592-c9a3-4a8b-99db-1329bf5b139c</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">This page will display the RSS feed for your blog posts.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2d3dce5-6714-4237-86bb-37ef54a9a66d</Key>
      <Name>Copyright</Name>
      <Alias>rssCopyright</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>54761c87-c99b-4c35-9313-228fd659e70e</Key>
      <Name>Description</Name>
      <Alias>rssDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d5b3770-3059-46e8-8d92-cbd28770f57c</Key>
      <Name>Title</Name>
      <Alias>rssTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6ea4c079-fcb9-4425-9843-7c2f693d88ee</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>