<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="992133cb-fb73-4cec-93c5-c2d578729eb5" Alias="USNComponentGroup" Level="2">
  <Info>
    <Name>Component Group</Name>
    <Icon>icon-repeat color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNHomeRedirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f297f94d-abfe-41bc-9a8d-b7b021c900be</Key>
      <Name>Components</Name>
      <Alias>components</Alias>
      <Definition>166d8ada-8350-46d1-a0b7-87955b081b62</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c34a8197-b8ac-4e04-99d8-44d738166ab1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>