<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99752dde-3e4e-4c6a-a272-ff1d327b3b87" Alias="USNListingFilters" Level="2">
  <Info>
    <Name>Listing Filter Folder</Name>
    <Icon>icon-folder-outline color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to organise the "Listing Filters".</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Listing</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNParentRedirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="24fa36af-8083-45c8-a7fe-3c49df2aab46">USNParentRedirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="24034a19-ad5e-4850-b48b-e8b2d1a8d28f" SortOrder="0">USNListingFilterGroup</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c472b486-d5cd-4873-bada-39e7633cbeaa</Key>
      <Name>Filter rules</Name>
      <Alias>filterRules</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<p>If 'Yes', items listed <strong>MUST MATCH ALL</strong> filter options selected including the search term.</p><p>If 'No', items listed <strong>CAN MATCH ANY</strong> filter options selected.</p>]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="filters">Filters</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d5839f72-0ca3-40ee-afb2-c85f4a8e0497</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert"><p>Create items below this folder to add a new "Filter".</p></div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="filters">Filters</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8d2c92d8-b77c-448a-9b02-7e84b5cd3058</Key>
      <Caption>Filters</Caption>
      <Alias>filters</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>