<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="84be1649-ecb0-461b-8c6a-29dc282a0f8b" Alias="USNListingFilterPage" Level="2">
  <Info>
    <Name>Listing Filter Page</Name>
    <Icon>icon-categories color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to create a new "Listing Filter".</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
      <Composition Key="9ca505b5-271a-40b1-be92-1be7bd6a4d7a">USN_CMP_ExtraContentListing</Composition>
      <Composition Key="5f7ffaeb-a471-4a21-8762-ced2515dfc73">USN_CMP_ListingSettings</Composition>
      <Composition Key="ab789e23-7802-4ed1-8e98-2ac69689957c">USN_CMP_MainContentListing</Composition>
      <Composition Key="a5abb791-6917-4b8e-bf1c-b29678e19975">USN_CMP_PageAdvancedSettings</Composition>
      <Composition Key="91e4acc9-f3f6-488c-802d-416f6e8a954e">USN_CMP_PageNavigation</Composition>
      <Composition Key="f450332f-3d0e-483c-94ed-6e1d118d6b46">USN_CMP_PageSummary</Composition>
      <Composition Key="c2df847e-5bc1-450a-8266-1fe04ad26700">USN_CMP_Scripts</Composition>
      <Composition Key="9df0c046-b3af-4d19-9ced-2e4b2d04e5d6">USN_CMP_SEO</Composition>
    </Compositions>
    <DefaultTemplate>USNListingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="79cbc0b2-ebfd-40d4-81fc-bf97a3e23a79">USNListingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>718a6019-7a6c-4b3d-8d41-8db3c39d78cb</Key>
      <Name>Display free text search</Name>
      <Alias>displayFreeTextSearch</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Relevance sort option will be displayed during a text based search.]]></Description>
      <SortOrder>21</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51c4944e-ce16-4706-9e69-1ab3fb3d0abc</Key>
      <Name>Hide sub navigation</Name>
      <Alias>hideSubNavigation</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f96d3946-eac4-4cf3-be2c-92d336deee91</Key>
      <Name>HTML sitemap link text</Name>
      <Alias>htmlSitemapLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[HTML sitemap link text
Page name will be used by default if nothing is entered.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed67ad7a-df98-4ac5-b708-bf304836fabf</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert"><p>The page name you enter above will be used for the "Filter Name" displayed on the website.</p><p> This page will list all pages that have been added to this filter.</p></div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="listingFilterPage">Listing Filter Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>571e9c06-db31-4af2-b21e-33a6a8c51553</Key>
      <Name>Override default listing settings</Name>
      <Alias>overrideDefaultListingSettings</Alias>
      <Definition>983cd012-0bf6-42d3-a1d1-f417aa24272e</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="listingFilterPage">Listing Filter Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>efec2d8d-4b1c-4a23-8790-720da1849b3c</Key>
      <Name>Sort options</Name>
      <Alias>sortOptions</Alias>
      <Definition>bd4fed94-3711-4b34-bd1c-80ae322697c8</Definition>
      <Type>USN.ListSort</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sort option dropdown will only be displayed on your website if more than one option is selected for display.

If no default is selected, the default sort order is "Sort order ascending".

Listing dropdown text set via "Translation" section.]]></Description>
      <SortOrder>22</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b2c1199a-aaeb-45b5-8e59-5b5aec1034f2</Key>
      <Name>Instructions</Name>
      <Alias>summaryInstructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">This  content is only displayed on a 'Listing' or 'Related Content' pod.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="summary">Summary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>381c9018-8151-443c-8882-551126827721</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>994</SortOrder>
    </Tab>
    <Tab>
      <Key>6a470854-44a2-4f8a-a6f1-595608f86956</Key>
      <Caption>Listing Filter Page</Caption>
      <Alias>listingFilterPage</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>718b893b-0f04-46d2-ab17-c6367faa1c63</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d7f4f6d9-94e0-49a7-96bc-2eace003ec29</Key>
      <Caption>Summary</Caption>
      <Alias>summary</Alias>
      <Type>Tab</Type>
      <SortOrder>993</SortOrder>
    </Tab>
  </Tabs>
</ContentType>