<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00687914-dc72-441a-8d9d-5cca254d25e2" Alias="USNNavigation" Level="2">
  <Info>
    <Name>Navigation</Name>
    <Icon>icon-link color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Manage the global navigation menus of your site.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNHomeRedirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>24600821-2d82-403e-bc44-9d96a7b683f7</Key>
      <Name>Sitewide call to action buttons</Name>
      <Alias>ctaButtons</Alias>
      <Definition>7b85184c-78ca-4510-9ee8-1301a03c5d55</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[These buttons should be used for a main call to actions. The buttons will appear in a prominent position on your website.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cTA">CTA</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5c9a8d80-478d-424d-a390-8c882b54812d</Key>
      <Name>Footer navigation</Name>
      <Alias>footerNavigation</Alias>
      <Definition>a0b9a9d3-46d7-4751-b75f-27fae571c54b</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the links you would like to appear on the "Footer Navigation" of your website.

The "Link title" field is used for your link text.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>afd09224-835a-456d-ae3e-490cbcc1d0f5</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert"><p>There are two approaches to creating multilingual websites with Umbraco.</p>
<p><strong>Multi Site</strong><br>
Multiple home pages within one website each containing pages devoted to a separate language. If this option is selected you are required to manually create your language navigation.</p>
<p><strong>One to One</strong><br>
Each content node of your website exists in different languages using Umbraco's built in variant features. If this option is selected your language navigation is automatically generated based on the languages that have been added to your website.</p>
</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="language">Language</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29f8ca18-5033-4ae6-9795-e590a13c531f</Key>
      <Name>Heading</Name>
      <Alias>languageHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will override the default heading defined in the Dictionary Section of Umbraco.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="language">Language</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9bd4298e-c144-4cf9-a9c8-0725a391be94</Key>
      <Name>Heading icon/image</Name>
      <Alias>languageHeadingIconImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="language">Language</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f1c435d-4ecb-4a73-9eb1-6dee9f11921e</Key>
      <Name>Navigation</Name>
      <Alias>languageNavigation</Alias>
      <Definition>41faaa2f-09ac-4ded-935d-3815ffff0ad0</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the links you would like to appear on the "Language Navigation" of your website.

The "Link title" field is used for your link text.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="language">Language</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>296b6d76-1254-4e99-8b33-3069a0711cad</Key>
      <Name>Logged in members navigation</Name>
      <Alias>loggedInMembersNavigation</Alias>
      <Definition>a0b9a9d3-46d7-4751-b75f-27fae571c54b</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the pages you would like to appear on the "Logged in Members Navigation" of your website.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="member">Member</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e70c14d-6316-4bd0-972b-63b38f2a16c5</Key>
      <Name>Logged out members navigation</Name>
      <Alias>loggedOutMembersNavigation</Alias>
      <Definition>a0b9a9d3-46d7-4751-b75f-27fae571c54b</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the pages you would like to appear on the "Logged out Members Navigation" of your website.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="member">Member</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a927124-4bd6-4153-951d-e4b0d7486fba</Key>
      <Name>Main navigation</Name>
      <Alias>mainNavigation</Alias>
      <Definition>0422f1dd-9ab8-4e03-bd19-ad6914df6dc0</Definition>
      <Type>USN.MegaNav</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>809e980e-b4fb-4745-ab38-45a10218537b</Key>
      <Name>Navigation heading</Name>
      <Alias>membersNavigationHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will override the default heading defined in the Dictionary Section of Umbraco.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="member">Member</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>72cad8f7-41db-4c7b-810c-7e8e082a8c25</Key>
      <Name>Multilingual configuration</Name>
      <Alias>multilingualConfiguration</Alias>
      <Definition>581a15ba-56b4-4c82-be0c-07b486644185</Definition>
      <Type>USN.OptionsShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="language">Language</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0e7a4ad-5bee-438f-a810-6c72b10e986b</Key>
      <Name>Secondary navigation</Name>
      <Alias>secondaryNavigation</Alias>
      <Definition>a0b9a9d3-46d7-4751-b75f-27fae571c54b</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the links you would like to appear on the "Secondary Navigation" of your website.

The "Link title" field is used for your link text.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="secondary">Secondary</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>41412679-c138-484b-92c7-f1a5bd36c225</Key>
      <Caption>Secondary</Caption>
      <Alias>secondary</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>494f0770-ec2c-4752-ac65-5b5f16a838aa</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>83b749fc-6eff-4148-8bb9-b85746636ee9</Key>
      <Caption>Member</Caption>
      <Alias>member</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>ab81a6f2-3dec-4de9-a97a-14631ebecd22</Key>
      <Caption>Language</Caption>
      <Alias>language</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>e693a3d0-da89-400c-915c-d21a00378ecf</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>fb183f23-9ba8-4dff-b3c5-4a8825f05a7e</Key>
      <Caption>CTA</Caption>
      <Alias>cTA</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>