<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="817ffc86-93f1-4c21-b732-9bc8d1bc7fea" Alias="USNProductPagesFolder" Level="2">
  <Info>
    <Name>Product Pages Folder</Name>
    <Icon>icon-folder-outline color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to organise your "Products".</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Listing</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNParentRedirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="24fa36af-8083-45c8-a7fe-3c49df2aab46">USNParentRedirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1221b084-1827-43fe-8de3-2bd8cb4e3e46" SortOrder="0">USNProductPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>