<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1221b084-1827-43fe-8de3-2bd8cb4e3e46" Alias="USNProductPage" Level="2">
  <Info>
    <Name>Product Page</Name>
    <Icon>icon-box color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to create a new "Product Page".</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
      <Composition Key="88b64d42-3722-4141-bfb1-0e70713a7378">USN_CMP_ExtraContent</Composition>
      <Composition Key="a4485f58-abfa-458f-8b22-370e56ef14f7">USN_CMP_MainContent</Composition>
      <Composition Key="a5abb791-6917-4b8e-bf1c-b29678e19975">USN_CMP_PageAdvancedSettings</Composition>
      <Composition Key="91e4acc9-f3f6-488c-802d-416f6e8a954e">USN_CMP_PageNavigation</Composition>
      <Composition Key="f450332f-3d0e-483c-94ed-6e1d118d6b46">USN_CMP_PageSummary</Composition>
      <Composition Key="c2df847e-5bc1-450a-8266-1fe04ad26700">USN_CMP_Scripts</Composition>
      <Composition Key="9df0c046-b3af-4d19-9ced-2e4b2d04e5d6">USN_CMP_SEO</Composition>
    </Compositions>
    <DefaultTemplate>USNProductPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b3e4d5b1-c0e8-4101-bd12-f610a8b2ccc0">USNProductPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>abd4b5cb-15ea-4164-9809-946fb487d124</Key>
      <Name>Alternative product URL</Name>
      <Alias>alternativeProductURL</Alias>
      <Definition>b3d3d6a6-402e-430f-aace-aa4f046eb946</Definition>
      <Type>USN.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a URL to your product purchase page.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0cbe1083-a016-4ec0-abef-9dc87abc91c8</Key>
      <Name>Current price</Name>
      <Alias>currentPrice</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^(?=.*[1-9])\d*(?:\.\d{1,2})?$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Price must be a number greater than 0 with a maximum of 2 decimal places</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0763f708-58c6-490b-abd5-de5a0e160d9f</Key>
      <Name>Filters</Name>
      <Alias>filters</Alias>
      <Definition>f9f59e8d-7aa3-4927-ae9e-13b63eaa6b4b</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b14226f6-9616-4305-9351-55113b1d9e12</Key>
      <Name>Hide default product placeholder</Name>
      <Alias>hideDefaultProductPlaceholder</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If hidden you will need to add a "Product information" Component or Pod to your page to see product information.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0a3e3411-2455-4a90-a2f6-30f3e85477e3</Key>
      <Name>Labels</Name>
      <Alias>labels</Alias>
      <Definition>15875bf5-f11d-4bef-96a8-451dc057f0cc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add to your product to indicate sale items, deals etc.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf851543-2295-47a0-b0e2-1dd4dbcf40df</Key>
      <Name>Previous price</Name>
      <Alias>previousPrice</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^(?=.*[1-9])\d*(?:\.\d{1,2})?$</Validation>
      <Description><![CDATA[This price will be displayed with a strike through.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Price must be a number greater than 0 with a maximum of 2 decimal places</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9bfda140-6c21-4f6f-9220-50ddb1336b9a</Key>
      <Name>Product data</Name>
      <Alias>productData</Alias>
      <Definition>7fb707e0-2640-4572-9b31-0646ba69e91e</Definition>
      <Type>USN.Product</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>82771064-92c6-448b-aee5-46cb532a6cde</Key>
      <Name>Description</Name>
      <Alias>productDescription</Alias>
      <Definition>cb6c0925-d3bf-4e72-a2b8-16d356f50e71</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b51dae8e-4d50-4db0-83e9-afbdc8045c85</Key>
      <Name>Product name</Name>
      <Alias>productName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page name will be used by default if nothing is entered.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>19d73f96-231f-408a-9ac1-65d2fe4d5839</Key>
      <Name>SKU</Name>
      <Alias>productSKU</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A unique SKU will be generated for you if nothing is entered.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d02cb76-8fb8-4aed-baad-a56ce6fc9b9d</Key>
      <Name>Instructions</Name>
      <Alias>summaryInstructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">This  content is only displayed on a 'Listing', 'Related Content' pod, 'Product information' component or pod.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="summary">Summary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1aaea5d-c89a-4b06-aeb3-68259c4adb14</Key>
      <Name>Use alternative product URL</Name>
      <Alias>useAlternativeProductURL</Alias>
      <Definition>3361db5b-a8c9-4ef5-bc90-a3bfc4a9ddf8</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select 'Yes' if you do not want to use the eCommerce platform selected within Global > Settings.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8e5151d4-c70a-47d9-aa48-74e96c617fec</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dcc7a528-bc45-47e2-b6d7-60a38c1b8c6b</Key>
      <Caption>Summary</Caption>
      <Alias>summary</Alias>
      <Type>Tab</Type>
      <SortOrder>993</SortOrder>
    </Tab>
  </Tabs>
</ContentType>