<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c5dfa53-ea83-4aa9-a158-9420002edfc7" Alias="USNReusableComponents" Level="2">
  <Info>
    <Name>Reusable Components</Name>
    <Icon>icon-folder-outline color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Create and manage reusable components that can be created once and added across multiple areas of your site. Link directly to these components to open the content in a modal window.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNHomeRedirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="992133cb-fb73-4cec-93c5-c2d578729eb5" SortOrder="0">USNComponentGroup</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>