<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d7896da8-3a6c-4a1e-975b-015637f8b2be" Alias="USNStylesFolder" Level="2">
  <Info>
    <Name>Design Folder</Name>
    <Icon>icon-color-bucket color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to organise the "Themes/Styles" available on your website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Website+Styles</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNHomeRedirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="392be869-d517-4f99-a7e9-72b296346dd2" SortOrder="0">USNStyle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>35d55e23-e82f-48f1-8189-ac615ef96098</Key>
      <Name>Hide design panel</Name>
      <Alias>hideDesignPanel</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select 'Yes' to hide the design panel from preview mode.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advanced">Advanced</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a34c540b-25da-419e-824b-8ad7159b86c0</Key>
      <Caption>Advanced</Caption>
      <Alias>advanced</Alias>
      <Type>Tab</Type>
      <SortOrder>999</SortOrder>
    </Tab>
  </Tabs>
</ContentType>