<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c3360d93-b7c7-4d40-8136-f2c8ecb91a1a" Alias="USNSitemapXML" Level="2">
  <Info>
    <Name>Sitemap XML</Name>
    <Icon>icon-sitemap color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to add a new "Sitemap XML" to your website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNSitemapXML</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a015c7cc-6b8e-4243-8816-879ce07b366f">USNSitemapXML</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7e44705b-0e5e-48c3-ab2c-2b181d467151</Key>
      <Name>Instructions</Name>
      <Alias>instructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">This page controls your websites XML sitemap. Your robots.txt file must link to this item. If using the uSkinned Robots TXT content node to control this functionality, make sure you link to this item from the uSkinned Robots TXT content node.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sitemapXML">Sitemap XML</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29ff8243-f7d0-48de-8a67-d2014e926fa2</Key>
      <Name>Sitemap start page</Name>
      <Alias>sitemapStartPage</Alias>
      <Definition>ee540134-4396-4f41-9ea0-9b078583d61e</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If nothing is selected this will default to your Homepage]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sitemapXML">Sitemap XML</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>635f0b30-7231-4b9d-b31e-2561006c1184</Key>
      <Caption>Sitemap XML</Caption>
      <Alias>sitemapXML</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>