<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5c2faf6-0882-470d-af05-bec4f4c4567c" Alias="USNShopPage" Level="2">
  <Info>
    <Name>Shop Page</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to create a new "Shop Page". Products will be displayed in a list view within the Products folder directly below this page within the Umbraco CMS.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Web+Pages</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
      <Composition Key="9ca505b5-271a-40b1-be92-1be7bd6a4d7a">USN_CMP_ExtraContentListing</Composition>
      <Composition Key="5f7ffaeb-a471-4a21-8762-ced2515dfc73">USN_CMP_ListingSettings</Composition>
      <Composition Key="ab789e23-7802-4ed1-8e98-2ac69689957c">USN_CMP_MainContentListing</Composition>
      <Composition Key="a5abb791-6917-4b8e-bf1c-b29678e19975">USN_CMP_PageAdvancedSettings</Composition>
      <Composition Key="91e4acc9-f3f6-488c-802d-416f6e8a954e">USN_CMP_PageNavigation</Composition>
      <Composition Key="f450332f-3d0e-483c-94ed-6e1d118d6b46">USN_CMP_PageSummary</Composition>
      <Composition Key="c2df847e-5bc1-450a-8266-1fe04ad26700">USN_CMP_Scripts</Composition>
      <Composition Key="9df0c046-b3af-4d19-9ced-2e4b2d04e5d6">USN_CMP_SEO</Composition>
    </Compositions>
    <DefaultTemplate>USNListingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="79cbc0b2-ebfd-40d4-81fc-bf97a3e23a79">USNListingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6bcf8559-7367-43f6-8052-ee49482e1b1c</Key>
      <Name>Display free text search</Name>
      <Alias>displayFreeTextSearch</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Relevance sort option will be displayed during a text based search.]]></Description>
      <SortOrder>21</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>545ac897-2a1c-4a89-9c4c-cbc3625b8963</Key>
      <Name>Hide sub navigation</Name>
      <Alias>hideSubNavigation</Alias>
      <Definition>479ccd27-6c00-43f1-b043-a005898e4018</Definition>
      <Type>USN.TrueFalseShowHide</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select 'Yes' to hide the sub navigation menu from this page.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3dd8e6bc-1050-4d20-bef2-fdb2c735d112</Key>
      <Name>HTML sitemap link text</Name>
      <Alias>hTMLSitemapLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page name will be used by default if nothing is entered.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb6ddfa0-2465-4c3c-b4d3-1e7203a954c3</Key>
      <Name>Sort options</Name>
      <Alias>sortOptions</Alias>
      <Definition>bd4fed94-3711-4b34-bd1c-80ae322697c8</Definition>
      <Type>USN.ListSort</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sort option dropdown will only be displayed on your website if more than one option is selected for display.

If no default is selected, the default sort order is "Sort order ascending".

Listing dropdown text set via "Translation" section.]]></Description>
      <SortOrder>22</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d4f28f57-9a3f-45b2-a861-12f7b2ce636f</Key>
      <Name>Sub navigation link text</Name>
      <Alias>subNavigationLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Page name will be used by default if nothing is entered.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b51493b1-7235-4766-9cc8-79d00359575e</Key>
      <Name>Instructions</Name>
      <Alias>summaryInstructions</Alias>
      <Definition>b7f65b8c-35a0-4a22-a6e3-26357f748fed</Definition>
      <Type>USN.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[<div class="alert  alert-usn" role="alert">This  content is only displayed on a 'Listing' or 'Related Content' pod.</div>]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="summary">Summary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>282814be-0a50-474f-9ff0-b4dcfc6e3b44</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>43388c7f-ce50-433b-ad1c-ec2c18110d7d</Key>
      <Caption>Summary</Caption>
      <Alias>summary</Alias>
      <Type>Tab</Type>
      <SortOrder>993</SortOrder>
    </Tab>
    <Tab>
      <Key>d10272bd-0941-49d4-bd12-44f2a2c45783</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>994</SortOrder>
    </Tab>
  </Tabs>
</ContentType>