<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fecab5e1-26e6-48d1-8118-9c1b5b9bd158" Alias="USNWebsiteConfigurationSection" Level="2">
  <Info>
    <Name>Global Section</Name>
    <Icon>icon-globe-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Use this item to add a new "Global Section" to your site.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global</Folder>
    <Compositions>
      <Composition Key="644e714a-e1d5-4457-a5bd-9c033e36cba7">USN_CMP_DisableDelete</Composition>
    </Compositions>
    <DefaultTemplate>USNHomeRedirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c6fe2eff-1c5e-42cf-90af-bce065a84310">USNHomeRedirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>