<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81c2a7a0-b534-43fa-9f74-f64ff3a8dd81" Alias="List View - USNWebsiteConfigurationSection" Level="3">
  <Info>
    <Name>List View - USNWebsiteConfigurationSection</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/List+View</Folder>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": "icon-globe-alt color-orange",
  "IncludeProperties": [
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "updater",
      "header": null,
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "sortOrder",
      "header": null,
      "isSystem": 1,
      "nameTemplate": null
    }
  ],
  "Layouts": [
    {
      "icon": "icon-globe-alt color-orange",
      "isSystem": 0,
      "name": "Global",
      "path": "/App_Plugins/uSkinned/views/global-listview.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": false
    },
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": false
    }
  ],
  "OrderBy": "sortOrder",
  "OrderDirection": "asc",
  "PageSize": 10,
  "ShowContentFirst": false,
  "TabName": "Global",
  "UseInfiniteEditor": false
}]]></Config>
</DataType>