<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91652e0f-3851-402b-91d2-7698ec92d424" Alias="List View - USNBlogPostsFolder" Level="3">
  <Info>
    <Name>List View - USNBlogPostsFolder</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/List+View</Folder>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": "icon-list",
  "IncludeProperties": [
    {
      "alias": "postDate",
      "header": "Post date",
      "isSystem": 0,
      "nameTemplate": null
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "owner",
      "header": "Created by",
      "isSystem": 1,
      "nameTemplate": null
    }
  ],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": true
    }
  ],
  "OrderBy": "postDate",
  "OrderDirection": "desc",
  "PageSize": 20,
  "ShowContentFirst": false,
  "TabName": "Blog Posts",
  "UseInfiniteEditor": false
}]]></Config>
</DataType>