<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4143885a-b79b-4c88-bb3d-1ac0b54a7a17" Alias="USN Animation Delay" Level="3">
  <Info>
    <Name>USN Animation Delay</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MaximumValue": 1.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>