<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17675362-767c-4bc4-8923-bd2a2397da23" Alias="USN Animate Options" Level="3">
  <Info>
    <Name>USN Animate Options</Name>
    <EditorAlias>USN.AnimateOptions</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>