<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a66b4b91-4d13-4e5e-9cba-cc4293c5cd0e" Alias="USN Alert Color" Level="3">
  <Info>
    <Name>USN Alert Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Theme%2fColors</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "{\"value\":\"dff0d8\",\"label\":\"dff0d8\"}"
    },
    {
      "id": 1,
      "value": "{\"value\":\"d9edf7\",\"label\":\"d9edf7\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"fcf8e3\",\"label\":\"fcf8e3\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"f2dede\",\"label\":\"f2dede\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>