<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95735ed8-c1ad-4fb0-bece-148a443bbbf9" Alias="USN Additional Classes" Level="3">
  <Info>
    <Name>USN Additional Classes</Name>
    <EditorAlias>USN.AdditionalClasses</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>