<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3361db5b-a8c9-4ef5-bc90-a3bfc4a9ddf8" Alias="USN Alternative Product URL" Level="3">
  <Info>
    <Name>USN Alternative Product URL</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "alternativeProductURL",
  "falseFields": "-alternativeProductURL,+productData",
  "trueFields": "+alternativeProductURL,-productData"
}]]></Config>
</DataType>