<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a6cfd1f-d147-4b77-b045-3ab725bbfe18" Alias="USN Animation Duration" Level="3">
  <Info>
    <Name>USN Animation Duration</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.2,
  "InitialValue2": 0.0,
  "MaximumValue": 5.0,
  "MinimumValue": 0.1,
  "StepIncrements": 0.1
}]]></Config>
</DataType>