<?xml version="1.0" encoding="utf-8"?>
<DataType Key="946a0315-4d5d-4112-869f-1d872c07b83b" Alias="USN Animate" Level="3">
  <Info>
    <Name>USN Animate</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "animationStyle,animationDelay,animationDuration",
  "falseFields": "-animationStyle,-animationDelay,-animationDuration",
  "trueFields": "+animationStyle,+animationDelay,+animationDuration"
}]]></Config>
</DataType>