<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a05c56a0-79c8-4f2d-92c2-41d354a34f27" Alias="USN Block Link" Level="3">
  <Info>
    <Name>USN Block Link</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "656e9b47-be02-400c-bbdd-cf6e332b7ea0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Link' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "d069d12f-e868-4167-93e4-3b4379f09bc0",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/links.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>