<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78c483a5-4f3c-4a78-ace1-b60633206f53" Alias="USN Block Windows" Level="3">
  <Info>
    <Name>USN Block Windows</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "f9b9eb7b-3793-409f-bacf-aafd9af20b73",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Image' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "0f76c29f-fd49-4cde-a23f-18b5c4234dd8",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/windows-image-item.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "2f111fe9-0fd9-4758-8388-14270b929341",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Video' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "75c9ce94-8150-467d-873f-513535400f76",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/video.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>