<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3073c509-81ec-4270-99cf-6e981b2c2dcb" Alias="USN Blog Author Picker" Level="3">
  <Info>
    <Name>USN Blog Author Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "USNBlogAuthor",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$current/ancestor-or-self::USNBlogLandingPage/USNBlogAuthors",
    "type": "content"
  }
}]]></Config>
</DataType>