<?xml version="1.0" encoding="utf-8"?>
<DataType Key="23b4621f-73bc-4797-8847-35b8c112e21f" Alias="USN Button Colors" Level="3">
  <Info>
    <Name>USN Button Colors</Name>
    <EditorAlias>USN.ColorPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Theme%2fColors</Folder>
  </Info>
  <Config><![CDATA[{
  "colorSource": {
    "colorsource": "button",
    "type": "button"
  }
}]]></Config>
</DataType>