<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4deb4930-6840-4321-88c2-ad808c67fcbf" Alias="USN Block Footer Pods" Level="3">
  <Info>
    <Name>USN Block Footer Pods</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "d9115214-e391-4c80-b7b0-d401e436ef28",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Accordion/tab' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "fa281c2a-dbe6-4d89-bdb2-13f946df1e30",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/accordion-tab.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "54f1004f-4dd7-4c03-b64b-19515571036f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Alert Box' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "7a282b98-bca5-4df0-bf64-9080aee2b446",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/alert-box.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "1d1a632f-c68e-459e-9cc7-1befad1afc55",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Data List' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "aa4e33d1-24f6-4829-ba9d-a20070f046e9",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/data-list.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "ccfa9135-6766-4a18-b007-e0ec4011f1db",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Embed Code' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "71058c75-af39-42f8-b13f-fdf49a6e0264",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/embed-code.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "67a98d43-54a2-482e-8ac8-9ec6cfdf0dc4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Form' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "c26133c1-80b8-44ac-b7b8-446051142a7d",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/form.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "5b20036b-e140-424f-ac00-9b57fb3221b1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Image' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "ed11651f-d9a9-4ea9-8d5b-f2844e4e7424",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/image.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "e9bb4a33-1a9a-47f5-875e-244fd7024280",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Links' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "8f5d909e-984e-410b-a9ec-d1c42f6dbbf7",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/links.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "bc3b615d-bb61-431b-a48e-7443981df53d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Product Information' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "7d0ef836-20fb-4578-8cc8-729fe5fc884d",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/product.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "b50cc149-a0e5-462b-8fdc-b2a56c26b795",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Quote' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "063210e1-f99c-4588-b9b0-b4be326d6718",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/quote.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "ad70067f-164e-425d-9914-cbe0d3ea0f90",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Related Content' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "e8f5fc52-3376-4974-a3d4-5cc0caa200c7",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/related-content.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "cbe0e810-6da1-4cc7-84f9-af7eb6aaac25",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Search/Links' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "f0aed182-58cf-4dc4-8406-5a7bbf454aa3",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/search-links.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "516d31d3-0b44-4964-92fb-0d3e8bdb39d7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Social Links' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "5804203b-8f3b-42a2-b063-052ef3f90674",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/social-links.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "4b53d12d-37b8-4a3a-b487-7e4d414a22e4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Spacer Column (Desktop: {{desktopColumnWidth}} | Tablet: {{tabletColumnWidth}})",
      "settingsElementTypeKey": null,
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/spacer.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "28f1ae25-18d0-455d-93f1-0e0ba9523609",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Subpage Listing' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "1d123ac4-0454-47d4-ba31-eb8704a10f07",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/subpage-listing.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "7e9ea8e8-6378-441e-ae49-59f545ceb8bf",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Text/Image' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "63cee9bf-aa23-435e-9c1a-0d4054b8b03e",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/text-image.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "12c4950a-f970-4fde-9b13-1ee06e17cbd4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Video' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "3d56f189-176e-4594-b189-749e81f1908d",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/video.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>