<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80ffa690-d6d3-4ff7-a5ea-02093117e103" Alias="USN Banner Scroll Prompt" Level="3">
  <Info>
    <Name>USN Banner Scroll Prompt</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "bannerScrollStyle",
  "falseFields": "-bannerScrollStyle",
  "trueFields": "+bannerScrollStyle"
}]]></Config>
</DataType>