<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09b761e4-10a2-498b-bc3e-d7755c9ee8ad" Alias="USN Block Components" Level="3">
  <Info>
    <Name>USN Block Components</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "9aff4265-df9a-474a-91c4-0e6affc43585",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "",
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Accordion/Tabs' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "c47b8114-f1d6-4c85-afa7-6ba961975c74",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/accordion-tab.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "c5d2fc53-3811-458c-9a7a-0b9213e45110",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "",
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Alert Box' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "88761646-8930-430d-af5c-d5c9f000120c",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/alert-box.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "9cfd8c2c-b89e-4bf9-8244-f2d8da401262",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "",
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Anchor Navigation' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "22a99f44-e579-4789-a175-badc90378017",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/anchor-navigation.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "df7b194c-2e78-43b0-82ad-ae709f825d26",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "",
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Banners' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "7c18879f-d2c5-4d87-b9f5-02544784e0e2",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/banners.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "c976ac40-8dad-4ef0-bc4d-d7f71757b659",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Breadcrumb Navigation' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "ad1250ca-df07-466d-97a4-091db27ea250",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/breadcrumb.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "774318b9-8e4b-47db-839b-56205a6e84e0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "",
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Call to Action' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "d247b7e6-3122-4fd3-8994-96aadc5f726c",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/call-to-action.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "8848e7ee-3ea5-4009-b200-bd40e86f8144",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "",
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Data List' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "92ae5489-c66e-487d-a9db-4e6c576d9a86",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/data-list.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "5a438410-74b1-4317-a471-61de6073921a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Ecwid Shop' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "732074a8-c2ab-4c8b-b93f-86b9cca084a6",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/ecwid-shop.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "",
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Embed Code' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "af0dace2-3037-44b8-adf4-4366f3e4c6e6",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/embed-code.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Form' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "d84c410f-7d72-4a27-b708-e3914100195c",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/form.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "18956f7b-bde5-48be-9752-9adaa9693902",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Gallery' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "3344380c-6fea-4a8d-92eb-c7fd92ef573f",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/gallery.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "13f6bdcf-f611-4fb3-8a23-95b0cf6c85ab",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Grid Layout' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "9baf3e78-19c3-48f0-8b90-d2fac9ea8573",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/grid-layout.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "9cbfe96e-9bfb-401a-8995-1e73c2e63faa",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Links' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "deccb881-4a80-4e25-985c-88b99048b17c",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/links.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "63f1681f-d64e-45f6-a795-64f172b4bcfd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Markdown Editor' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "a27e1d1e-56fb-4a7d-bc5e-908192149cab",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/markdown-editor.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "d0d38c45-5d97-4f17-b962-9e67c69146fd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Pods' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "dbcf631e-f5d1-4200-a52f-eff07047e628",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/pods.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "9c8a1fc2-182e-43d8-a2b0-05ce6eb73921",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Product Information' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "63d14670-95e3-496b-a9f2-e18234172c50",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/product.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "540d5df4-24af-479b-ba4d-056abfec4198",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Reusable Components' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "ecf41871-ac04-4b2a-aa6e-6cb613b037a5",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/reusablecomponents.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "45099334-5bee-41f2-81f8-a6efb7e1db15",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Sitemap' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "b93a5e1e-38ce-4f1c-849b-3c82226692a7",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/sitemap.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "f34f029d-619f-4651-bc63-9ad91648af4b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Split Component' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "617a396d-a1db-4c76-9d17-2499aedbc0db",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/split-component.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "080c227a-59a2-40fd-ad68-aaf356ac3a8a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Subpage Listing' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "339192e8-0638-4e12-b6ea-81792e36ce7d",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/subpage-listing.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "1e1ac9a3-e614-436b-8363-93dd57d5e954",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Text' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "41b8fd88-026c-4449-806b-6e1ace478700",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/text.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "2281980d-97f4-4999-acb6-c1ba50aef3a6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Windows' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "a81ec2b7-4e6e-4027-a7f5-463022c36a85",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/windows.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>