<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4b3f1f7-3216-42b0-bf1c-62631bff7ca2" Alias="USN Block Gallery" Level="3">
  <Info>
    <Name>USN Block Gallery</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "53f8347f-c55e-477c-9f61-6649176e99ee",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Single Image' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "e0a55f08-1a77-453b-a2d0-d953040e40d8",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/image.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "3919682a-b3e1-4906-a169-0c4f3c3cf14e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Multiple Images' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "4a36c3e7-53f0-4d7a-8f4c-44842515cb59",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/gallery-multiple.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "dcd27b80-7ff6-4a84-b98c-bc7cf3681c41",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Single Video' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "a3b6d3d9-63ea-41d7-b439-b69ec4975e13",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/video.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "d2630fbb-386b-402f-b83a-58ce146a5e7f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Media Folder' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "7b73a980-9d86-4757-9aaa-adbe6be9ee8a",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/gallery-folder.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>