<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d49d5ac-dfe8-4a6e-8dcf-7b0cb6a3a36f" Alias="USN Block Pods" Level="3">
  <Info>
    <Name>USN Block Pods</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "d9115214-e391-4c80-b7b0-d401e436ef28",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Accordion/Tab' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "cefece5e-8236-4a8a-9ef9-7b7e39db1b36",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/accordion-tab.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "54f1004f-4dd7-4c03-b64b-19515571036f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Alert Box' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "60d4e259-1c83-4c09-85f6-0587b8995fe7",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/alert-box.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "1d1a632f-c68e-459e-9cc7-1befad1afc55",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Data List' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "fa79989c-ecea-4b4f-af8d-e3570c0aeb2c",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/data-list.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "ccfa9135-6766-4a18-b007-e0ec4011f1db",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Embed Code' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "b0adb87f-125f-4870-bf21-14025f049304",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/embed-code.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "67a98d43-54a2-482e-8ac8-9ec6cfdf0dc4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Form' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "9ae02749-5271-48ba-8bec-43d910eaad8f",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/form.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "5b20036b-e140-424f-ac00-9b57fb3221b1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Image' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "0ec763dd-7798-4080-a690-39cb86d1be93",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/image.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "e9bb4a33-1a9a-47f5-875e-244fd7024280",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Links' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "54495ac9-62cb-4793-a171-023e4ae79377",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/links.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "bc3b615d-bb61-431b-a48e-7443981df53d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Product Information' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "e77ae787-7436-43e5-b613-58572297da17",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/product.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "b50cc149-a0e5-462b-8fdc-b2a56c26b795",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Quote' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "0512b06c-a539-478c-803a-673d191dac9f",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/quote.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "ad70067f-164e-425d-9914-cbe0d3ea0f90",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Related Content' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "a28b25ee-28e6-478f-b501-d8a08ccd251a",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/related-content.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "4f8404cc-6da4-43a8-ac0e-a9adfcfbf6fc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Reusable Pods' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "16b1b05b-4654-4983-a5ce-33880bba040e",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/reusablepods.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "cbe0e810-6da1-4cc7-84f9-af7eb6aaac25",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Search/Links' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "67d0778e-2172-41c9-926c-cf2b10a833ea",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/search-links.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "516d31d3-0b44-4964-92fb-0d3e8bdb39d7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Social Links' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "369ba7bb-35f2-461a-ba36-c5d592e50a88",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/social-links.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "28f1ae25-18d0-455d-93f1-0e0ba9523609",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Subpage Listing' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "3e44c0da-cff7-433b-8965-09a7af37c727",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/subpage-listing.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "7e9ea8e8-6378-441e-ae49-59f545ceb8bf",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Text/Image' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "9887e72c-11ff-49de-bb01-38302b9f61d5",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/text-image.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "12c4950a-f970-4fde-9b13-1ee06e17cbd4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Video' : $settings.itemName}} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "a0e1caa0-e648-4b40-a7d4-23414cf5e570",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/video.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>