<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe6e74aa-9f15-46e3-b795-adfd025b3ed1" Alias="USN Blog Categories" Level="3">
  <Info>
    <Name>USN Blog Categories</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "USNBlogCategoryPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$current/ancestor-or-self::USNBlogLandingPage/USNBlogCategories",
    "type": "content"
  }
}]]></Config>
</DataType>