<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8a97d16-7a2b-43de-a844-27933bdb3530" Alias="USN Block Split Components" Level="3">
  <Info>
    <Name>USN Block Split Components</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "9aff4265-df9a-474a-91c4-0e6affc43585",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Accordion/Tabs' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "c96e4620-a2ee-457a-b806-0df6e7509e69",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/accordion-tab.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "c5d2fc53-3811-458c-9a7a-0b9213e45110",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Alert Box' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "1c08a2fb-94be-4f89-a1ec-7f06869270ef",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/alert-box.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "8848e7ee-3ea5-4009-b200-bd40e86f8144",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Data List' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "1836bdb6-fa49-4b21-ac79-88edc6261d89",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/data-list.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "22cbdd86-0e77-4b68-a4a1-29d651547067",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Embed Code' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "f74dfacf-7913-4595-8b61-566fae498d61",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/embed-code.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "c088fd02-f76a-4fc7-8cb3-7967deea8f98",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Form' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "3c2db3e6-bda4-447e-b9a3-196c1f6f8e1b",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/form.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "18956f7b-bde5-48be-9752-9adaa9693902",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Gallery' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "bed2f105-7099-4d45-a1c9-a6c6c2c40b5b",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/gallery.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "244bf19c-4863-4589-a3b3-8944c9081e04",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Grid Layout' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "0a57f2ad-4518-4bf4-8269-d1c24ea646a6",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/grid-layout.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "9cbfe96e-9bfb-401a-8995-1e73c2e63faa",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Links' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "003f2ecf-a3eb-424c-948c-70d66cabc76c",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/links.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "d0d38c45-5d97-4f17-b962-9e67c69146fd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Pods' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "9a072a01-cbe8-422c-9f6b-88891d562b43",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/pods.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "9c8a1fc2-182e-43d8-a2b0-05ce6eb73921",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Product Information' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "8d12bd10-82a5-4538-be11-eb6330bd8f6c",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/product.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "45099334-5bee-41f2-81f8-a6efb7e1db15",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Sitemap' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "f9925cbd-783f-42f4-a2c9-deb304f5e89f",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/sitemap.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "080c227a-59a2-40fd-ad68-aaf356ac3a8a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Subpage Listing' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "db0f30d2-29ae-48d8-8ea3-4dce3df4c4f3",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/subpage-listing.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "ee85a65f-4e38-4c41-a5bd-d9912726adcf",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Text' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "13eb5cb1-ad1d-4a18-8b66-f7accd43fdb9",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/text.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    },
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "2281980d-97f4-4999-acb6-c1ba50aef3a6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ !$settings.itemName || $settings.itemName == ''  ?  'Windows' : $settings.itemName}} {{ !$settings.desktopColumnWidth ? '' : '(Desktop: ' + $settings.desktopColumnWidth + ' | Tablet: ' + $settings.tabletColumnWidth + ')' }} {{$settings.hideFromWebsite == true ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "febcf6b2-bf41-44b3-836b-62b44862648d",
      "stylesheet": "~/App_Plugins/uSkinned/css/block-editor.css",
      "thumbnail": "~/App_Plugins/uSkinned/backoffice/images/windows.png",
      "view": "~/App_Plugins/uSkinned/views/block.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>