<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f59624d3-16e9-41eb-8172-dd00e7b5b6e2" Alias="USN Background Options" Level="3">
  <Info>
    <Name>USN Background Options</Name>
    <EditorAlias>USN.BackgroundOptions</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Options</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>