<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15875bf5-f11d-4bef-96a8-451dc057f0cc" Alias="USN Block Labels" Level="3">
  <Info>
    <Name>USN Block Labels</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Block+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#1b264f",
      "contentElementTypeKey": "93639355-ed28-46ab-95ed-efbee7a3f63d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ff9800",
      "label": "{{label}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>