<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdc3ad0d-299c-4caf-a4e6-c323c74aae65" Alias="USN Currency Format" Level="3">
  <Info>
    <Name>USN Currency Format</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Shop</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Symbol before price"
    },
    {
      "id": 2,
      "value": "Symbol after price"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>