<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a513db8b-6693-4391-a9f4-a939dc60adcc" Alias="USN Carousel Enable" Level="3">
  <Info>
    <Name>USN Carousel Enable</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "showArrows,showDots,autoRotateSpeed",
  "falseFields": "-showArrows,-showDots,-autoRotateSpeed",
  "trueFields": "+showArrows,+showDots,+autoRotateSpeed"
}]]></Config>
</DataType>