<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76adf43f-f39d-4d59-9998-bce30d5c3657" Alias="USN Component Width" Level="3">
  <Info>
    <Name>USN Component Width</Name>
    <EditorAlias>USN.OptionsShowHide</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Options</Folder>
  </Info>
  <Config><![CDATA[{
  "items": {
    "items": [
      {
        "icon": "componentWidthCenter",
        "text": "CENTER",
        "key": "componentWidthCenter",
        "tabs": "",
        "fields": "",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"61.5px\" height=\"61.5px\">\n                    <path fill-rule=\"evenodd\" stroke=\"rgb(65, 54, 89)\" stroke-width=\"1px\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" fill=\"none\"\n                          d=\"M3.500,0.500 L57.500,0.500 C59.157,0.500 60.500,1.843 60.500,3.500 L60.500,57.500 C60.500,59.157 59.157,60.500 57.500,60.500 L3.500,60.500 C1.843,60.500 0.500,59.157 0.500,57.500 L0.500,3.500 C0.500,1.843 1.843,0.500 3.500,0.500 Z\" />\n                </svg>"
      },
      {
        "icon": "componentWidthWide",
        "text": "WIDE",
        "key": "componentWidthWide",
        "tabs": "",
        "fields": "",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"101.5px\" height=\"61.5px\">\n                    <path fill-rule=\"evenodd\" stroke=\"rgb(65, 54, 89)\" stroke-width=\"1px\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" fill=\"none\"\n                          d=\"M3.500,0.500 L97.500,0.500 C99.157,0.500 100.500,1.843 100.500,3.500 L100.500,57.500 C100.500,59.157 99.157,60.500 97.500,60.500 L3.500,60.500 C1.843,60.500 0.500,59.157 0.500,57.500 L0.500,3.500 C0.500,1.843 1.843,0.500 3.500,0.500 Z\" />\n                </svg>"
      },
      {
        "icon": "componentWidthFull",
        "text": "FULL",
        "key": "componentWidthFull",
        "tabs": "",
        "fields": "",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"130px\" height=\"60px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,59.000 L130.000,59.000 L130.000,60.000 L-0.000,60.000 L-0.000,59.000 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,-0.000 L130.000,-0.000 L130.000,1.000 L-0.000,1.000 L-0.000,-0.000 Z\" />\n                </svg>"
      }
    ]
  }
}]]></Config>
</DataType>