<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee540134-4396-4f41-9ea0-9b078583d61e" Alias="USN Content Picker" Level="3">
  <Info>
    <Name>USN Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "USNBlogCategories,USNBlogPostsFolder,USNBlogCategoryPage,USNBlogLandingPage,USNBlogPost,USNHomepage,USNPage,USNSearchResultsPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>