<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5485e479-2d49-4abd-a266-e63dccfddb19" Alias="USN Content Colors" Level="3">
  <Info>
    <Name>USN Content Colors</Name>
    <EditorAlias>USN.ColorPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Theme%2fColors</Folder>
  </Info>
  <Config><![CDATA[{
  "colorSource": {
    "colorsource": "config",
    "type": "content"
  }
}]]></Config>
</DataType>