<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d5a8159-fd54-4c7a-93b0-1cb69949e273" Alias="USN CSS Code Editor (Tall)" Level="3">
  <Info>
    <Name>USN CSS Code Editor (Tall)</Name>
    <EditorAlias>USN.CodeEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Text+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "editorType": {
    "type": "css"
  },
  "editorHeight": {
    "height": "tall"
  }
}]]></Config>
</DataType>