<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b73bc0f-2a78-4c25-887b-fbc08843c67f" Alias="USN Component Picker" Level="3">
  <Info>
    <Name>USN Component Picker</Name>
    <EditorAlias>USN.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "pickerStartNodeName": "USNReusableComponents",
  "minNumber": 0,
  "maxNumber": 0,
  "showOpenButton": "1",
  "ignoreUserStartNodes": "0"
}]]></Config>
</DataType>