<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c274ea9e-1c53-4701-8c32-0a84f4908fd2" Alias="USN Disable Light Window" Level="3">
  <Info>
    <Name>USN Disable Light Window</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "imageLink",
  "falseFields": "-imageLink,+lightWindowTitle,+lightWindowFooter",
  "trueFields": "+imageLink,-lightWindowTitle,-lightWindowFooter"
}]]></Config>
</DataType>