<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65b97620-eac4-432c-b673-2dca96cde51d" Alias="USN Display Intro" Level="3">
  <Info>
    <Name>USN Display Intro</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "introTextAlignment,introHeading,introSecondaryHeading,introText,introButtons",
  "falseFields": "-introTextAlignment,-introHeading,-introSecondaryHeading,-introText,-introButtons",
  "trueFields": "+introTextAlignment,+introHeading,+introSecondaryHeading,+introText,+introButtons"
}]]></Config>
</DataType>