<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7739150-0583-4900-ab63-1b636164aa0d" Alias="USN Display Outro" Level="3">
  <Info>
    <Name>USN Display Outro</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "outroTextAlignment,outroHeading,outroSecondaryHeading,outroText,outroButtons",
  "falseFields": "-outroTextAlignment,-outroHeading,-outroSecondaryHeading,-outroText,-outroButtons",
  "trueFields": "+outroTextAlignment,+outroHeading,+outroSecondaryHeading,+outroText,+outroButtons"
}]]></Config>
</DataType>