<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a7dcfcc-4db0-467e-914a-8847c5137b41" Alias="USN Footer Item Column Width" Level="3">
  <Info>
    <Name>USN Footer Item Column Width</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 3.0,
  "InitialValue2": 0.0,
  "MaximumValue": 12.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>