<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6de115b-b770-4e23-9414-9ff63a3a9380" Alias="USN Grid Layout" Level="3">
  <Info>
    <Name>USN Grid Layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Text+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "Full width",
        "sections": [
          {
            "grid": 12
          }
        ]
      }
    ],
    "layouts": [
      {
        "name": "12 columns",
        "areas": [
          {
            "grid": 12,
            "allowAll": true
          }
        ]
      },
      {
        "name": "6 + 6",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          }
        ]
      },
      {
        "name": "4 + 4 + 4",
        "areas": [
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ]
      },
      {
        "name": "3 + 3 + 3 + 3",
        "areas": [
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          }
        ]
      },
      {
        "name": "8 + 4",
        "areas": [
          {
            "grid": 8,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ]
      },
      {
        "name": "4 + 8",
        "areas": [
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 8,
            "allowAll": true
          }
        ]
      },
      {
        "name": "1 + 10 + 1",
        "areas": [
          {
            "grid": 1,
            "allowAll": true
          },
          {
            "grid": 10,
            "allowAll": true
          },
          {
            "grid": 1,
            "allowAll": true
          }
        ]
      },
      {
        "name": "2 + 8 + 2",
        "areas": [
          {
            "grid": 2,
            "allowAll": true
          },
          {
            "grid": 8,
            "allowAll": true
          },
          {
            "grid": 2,
            "allowAll": true
          }
        ]
      },
      {
        "name": "1 + 5 + 5 + 1",
        "areas": [
          {
            "grid": 1,
            "allowAll": true
          },
          {
            "grid": 5,
            "allowAll": true
          },
          {
            "grid": 5,
            "allowAll": true
          },
          {
            "grid": 1,
            "allowAll": true
          }
        ]
      },
      {
        "name": "2 + 4 + 4 + 2",
        "areas": [
          {
            "grid": 2,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 2,
            "allowAll": true
          }
        ]
      }
    ]
  },
  "MediaParentId": null,
  "Rte": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styles",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "anchor",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog",
      "hr",
      "subscript",
      "superscript",
      "charmap"
    ],
    "stylesheets": [
      "/css/uSkinned/rteditor.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  }
}]]></Config>
</DataType>