<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0f5760c-f043-4b9d-9fd2-9f4b3102a03d" Alias="USN General Code Editor (Short)" Level="3">
  <Info>
    <Name>USN General Code Editor (Short)</Name>
    <EditorAlias>USN.CodeEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Text+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "editorType": {
    "type": "text"
  },
  "editorHeight": {
    "height": "short"
  }
}]]></Config>
</DataType>