<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fba5fb8e-85f0-447d-aed5-c930e3806776" Alias="USN Hide Search" Level="3">
  <Info>
    <Name>USN Hide Search</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "falseFields": "+podSearchResultsPage,+searchButtonColor",
  "trueFields": "-podSearchResultsPage,-searchButtonColor"
}]]></Config>
</DataType>