<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5278b05d-ca2c-42f2-a16c-c254df28c29d" Alias="USN Hide Image" Level="3">
  <Info>
    <Name>USN Hide Image</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "falseFields": "+imageStyle,+boxPad",
  "trueFields": "-imageStyle,-boxPad"
}]]></Config>
</DataType>