<?xml version="1.0" encoding="utf-8"?>
<DataType Key="35dd9d60-6655-481f-b47e-54bd3e0f2d49" Alias="USN Hide from Search Engines" Level="3">
  <Info>
    <Name>USN Hide from Search Engines</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "falseFields": "+sitemapXMLPriority,+sitemapXMLChangeFrequency",
  "trueFields": "-sitemapXMLPriority,-sitemapXMLChangeFrequency"
}]]></Config>
</DataType>