<?xml version="1.0" encoding="utf-8"?>
<DataType Key="897867aa-1f80-43ff-bc4f-c49bb65484df" Alias="USN Heading Size" Level="3">
  <Info>
    <Name>USN Heading Size</Name>
    <EditorAlias>USN.OptionsShowHide</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Options</Folder>
  </Info>
  <Config><![CDATA[{
  "items": {
    "items": [
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "H1",
        "key": "h1",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "H2",
        "key": "h2",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "H3",
        "key": "h3",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "H4",
        "key": "h4",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "H5",
        "key": "h5",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "smallItem",
        "text": "H6",
        "key": "h6",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": "",
        "css": "smallItem",
        "text": "SMALL",
        "key": "sm",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": "",
        "css": "smallItem",
        "text": "MEDIUM",
        "key": "md",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": "",
        "css": "smallItem",
        "text": "LARGE",
        "key": "lg",
        "tabs": "",
        "fields": ""
      }
    ]
  }
}]]></Config>
</DataType>