<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6c85852-e7fd-4ddc-9983-7df3cd0c462c" Alias="USN Hide From All Navigation" Level="3">
  <Info>
    <Name>USN Hide From All Navigation</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "falseFields": "+htmlSitemapLinkText,+subNavigationLinkText",
  "trueFields": "-htmlSitemapLinkText,-subNavigationLinkText"
}]]></Config>
</DataType>