<?xml version="1.0" encoding="utf-8"?>
<DataType Key="342d118b-55fe-4d8e-b417-74a781f6f5c5" Alias="USN Hide Page Title" Level="3">
  <Info>
    <Name>USN Hide Page Title</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "falseFields": "+onPageTitle,+secondaryHeading",
  "trueFields": "-onPageTitle,-secondaryHeading"
}]]></Config>
</DataType>