<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05972fb9-f47c-489e-a9c2-88f3aebfc770" Alias="USN Item Styles" Level="3">
  <Info>
    <Name>USN Item Styles</Name>
    <EditorAlias>USN.AdditionalClasses</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{
  "styleType": "Item"
}]]></Config>
</DataType>