<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e9f23cc-3cde-4d44-873b-e710aae97947" Alias="USN JavaScript Code Editor (Short)" Level="3">
  <Info>
    <Name>USN JavaScript Code Editor (Short)</Name>
    <EditorAlias>USN.CodeEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Text+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "editorType": {
    "type": "javascript"
  },
  "editorHeight": {
    "height": "short"
  }
}]]></Config>
</DataType>