<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b1dd2d1-6e1d-42ec-9584-b138801732b6" Alias="USN Justify Horizontal Text Alignment" Level="3">
  <Info>
    <Name>USN Justify Horizontal Text Alignment</Name>
    <EditorAlias>USN.OptionsShowHide</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Options</Folder>
  </Info>
  <Config><![CDATA[{
  "items": {
    "items": [
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"48px\" height=\"9px\">\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,8.000 L36.000,8.000 L36.000,9.000 L-0.000,9.000 L-0.000,8.000 Z\" />\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,4.000 L48.000,4.000 L48.000,5.000 L-0.000,5.000 L-0.000,4.000 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,-0.000 L24.000,-0.000 L24.000,1.000 L-0.000,1.000 L-0.000,-0.000 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "textAlignment",
        "text": "LEFT",
        "key": "justify-content-start text-left",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"48px\" height=\"9px\">\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M6.000,8.000 L42.000,8.000 L42.000,9.000 L6.000,9.000 L6.000,8.000 Z\" />\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,4.000 L48.000,4.000 L48.000,5.000 L-0.000,5.000 L-0.000,4.000 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M12.000,-0.000 L36.000,-0.000 L36.000,1.000 L12.000,1.000 L12.000,-0.000 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "textAlignment",
        "text": "CENTER",
        "key": "justify-content-center text-center",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"48px\" height=\"9px\">\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M12.000,8.000 L48.000,8.000 L48.000,9.000 L12.000,9.000 L12.000,8.000 Z\" />\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,4.000 L48.000,4.000 L48.000,5.000 L-0.000,5.000 L-0.000,4.000 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M24.000,-0.000 L48.000,-0.000 L48.000,1.000 L24.000,1.000 L24.000,-0.000 Z\" />\n                </svg>",
        "svgTrusted": {},
        "css": "textAlignment",
        "text": "RIGHT",
        "key": "justify-content-end text-right",
        "tabs": "",
        "fields": ""
      }
    ]
  }
}]]></Config>
</DataType>