<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad7bdcfc-33b3-467c-b9a4-b30f41b04249" Alias="USN JavaScript Code Editor (Tall)" Level="3">
  <Info>
    <Name>USN JavaScript Code Editor (Tall)</Name>
    <EditorAlias>USN.CodeEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Text+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "editorType": {
    "type": "javascript"
  },
  "editorHeight": {
    "height": "tall"
  }
}]]></Config>
</DataType>