<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7f65b8c-35a0-4a22-a6e3-26357f748fed" Alias="USN Label" Level="3">
  <Info>
    <Name>USN Label</Name>
    <EditorAlias>USN.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>