<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd4fed94-3711-4b34-bd1c-80ae322697c8" Alias="USN List Sort Options" Level="3">
  <Info>
    <Name>USN List Sort Options</Name>
    <EditorAlias>USN.ListSort</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>