<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5003db78-530c-43b8-8bf7-aa58afd92c74" Alias="USN Label Colors" Level="3">
  <Info>
    <Name>USN Label Colors</Name>
    <EditorAlias>USN.ColorPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Theme%2fColors</Folder>
  </Info>
  <Config><![CDATA[{
  "colorSource": {
    "type": "label"
  }
}]]></Config>
</DataType>