<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e70aa754-1376-4900-a876-a96df7695e44" Alias="USN Listing Filters" Level="3">
  <Info>
    <Name>USN Listing Filters</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "USNListingFilterPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$current/ancestor-or-self::USNListingPage/USNListingFilters",
    "type": "content"
  }
}]]></Config>
</DataType>