<?xml version="1.0" encoding="utf-8"?>
<DataType Key="739773ee-f366-48f2-a6ad-ab6e93764016" Alias="USN Markdown Editor" Level="3">
  <Info>
    <Name>USN Markdown Editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Text+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "DefaultValue": null,
  "DisplayLivePreview": true,
  "OverlaySize": null
}]]></Config>
</DataType>