<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c911326c-983a-487d-b0c9-b61115ac07d8" Alias="USN Modal Picker" Level="3">
  <Info>
    <Name>USN Modal Picker</Name>
    <EditorAlias>USN.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "pickerStartNodeName": "USNWebsiteConfigurationSection",
  "filter": "USNComponentGroup,USNPodGroup",
  "minNumber": 0,
  "maxNumber": 1,
  "showOpenButton": "1",
  "ignoreUserStartNodes": "0"
}]]></Config>
</DataType>