<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0b9a9d3-46d7-4751-b75f-27fae571c54b" Alias="USN Multi Link Picker (Icon,Rel)" Level="3">
  <Info>
    <Name>USN Multi Link Picker (Icon,Rel)</Name>
    <EditorAlias>USN.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Link+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "minNumber": 0,
  "maxNumber": 0,
  "displayButtonColor": "0",
  "displayIcon": "1",
  "displayMedia": "0",
  "displayButtonSize": "0",
  "displayRelAttribute": "1",
  "styleRegex": "(usn_ion-[^:]*?):before"
}]]></Config>
</DataType>