<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f82b962-7597-49d0-840f-9e657fb04c9d" Alias="USN Member Group Picker" Level="3">
  <Info>
    <Name>USN Member Group Picker</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>