<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72d3cb72-c5e0-435a-8e26-41b3a010a6e3" Alias="USN Modal Scroll Percentage" Level="3">
  <Info>
    <Name>USN Modal Scroll Percentage</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 50.0,
  "InitialValue2": 0.0,
  "MaximumValue": 100.0,
  "MinimumValue": 0.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>