<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a74f76a-eb7e-40af-904d-e6f16c6d28d5" Alias="USN Multi Link Picker (Icon,Size,Rel)" Level="3">
  <Info>
    <Name>USN Multi Link Picker (Icon,Size,Rel)</Name>
    <EditorAlias>USN.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Link+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "minNumber": 0,
  "maxNumber": 0,
  "displayButtonColor": "0",
  "displayIcon": "1",
  "displayMedia": "0",
  "displayButtonSize": "1",
  "displayRelAttribute": "1",
  "styleRegex": "(usn_ion-[^:]*?):before"
}]]></Config>
</DataType>