<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0422f1dd-9ab8-4e03-bd19-ad6914df6dc0" Alias="USN Mega Nav" Level="3">
  <Info>
    <Name>USN Mega Nav</Name>
    <EditorAlias>USN.MegaNav</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Link+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "styleRegex": "(usn_ion-[^:]*?):before"
}]]></Config>
</DataType>