<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68082b22-0652-4e6a-8795-418215e8bf60" Alias="USN Modal Timer" Level="3">
  <Info>
    <Name>USN Modal Timer</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 5.0,
  "InitialValue2": 0.0,
  "MaximumValue": 20.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.5
}]]></Config>
</DataType>