<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41faaa2f-09ac-4ded-935d-3815ffff0ad0" Alias="USN Multi Link Picker (Media,Rel)" Level="3">
  <Info>
    <Name>USN Multi Link Picker (Media,Rel)</Name>
    <EditorAlias>USN.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Link+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "minNumber": 0,
  "maxNumber": 0,
  "displayButtonColor": "0",
  "displayIcon": "0",
  "displayMedia": "1",
  "displayButtonSize": "0",
  "displayRelAttribute": "1"
}]]></Config>
</DataType>