<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c352287-9c5d-4b53-8f65-3fde5e3029e7" Alias="USN Notification Enable" Level="3">
  <Info>
    <Name>USN Notification Enable</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "notificationHeading,notificationSecondaryHeading,notificationText,acceptNotificationButtonText,rememberAcceptanceDurationDays,notificationHorizontalPosition",
  "falseFields": "-notificationHeading,-notificationSecondaryHeading,-notificationText,-acceptNotificationButtonText,-rememberAcceptanceDurationDays,-notificationHorizontalPosition",
  "trueFields": "+notificationHeading,+notificationSecondaryHeading,+notificationText,+acceptNotificationButtonText,+rememberAcceptanceDurationDays,+notificationHorizontalPosition"
}]]></Config>
</DataType>