<?xml version="1.0" encoding="utf-8"?>
<DataType Key="983cd012-0bf6-42d3-a1d1-f417aa24272e" Alias="USN Override Listing Settings" Level="3">
  <Info>
    <Name>USN Override Listing Settings</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideTabs": "Settings",
  "falseTabs": "-Settings",
  "trueTabs": "+Settings"
}]]></Config>
</DataType>