<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4572e445-5975-4431-b99d-6f901d9a6f8b" Alias="USN Override Website Logo" Level="3">
  <Info>
    <Name>USN Override Website Logo</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{
  "hideFields": "websiteLogoOverride,logoTextOverride",
  "falseFields": "-websiteLogoOverride,-logoTextOverride",
  "trueFields": "+websiteLogoOverride,+logoTextOverride"
}]]></Config>
</DataType>