<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a281fc42-5142-425c-a77a-7196f9741c8f" Alias="USN Page Styles" Level="3">
  <Info>
    <Name>USN Page Styles</Name>
    <EditorAlias>USN.AdditionalClasses</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{
  "styleType": "Page"
}]]></Config>
</DataType>