<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33c9a7a9-f0d6-4238-bf07-ad7e548d27a0" Alias="USN Product List Sort Options" Level="3">
  <Info>
    <Name>USN Product List Sort Options</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Options</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "Node order ascending"
    },
    {
      "id": 3,
      "value": "Price ascending"
    },
    {
      "id": 4,
      "value": "Price descending"
    },
    {
      "id": 5,
      "value": "Alphabetically ascending"
    },
    {
      "id": 6,
      "value": "Alphabetically descending"
    }
  ]
}]]></Config>
</DataType>