<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03a93d00-4589-4f18-9a13-04ca83e75181" Alias="USN Pod Picker" Level="3">
  <Info>
    <Name>USN Pod Picker</Name>
    <EditorAlias>USN.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "pickerStartNodeName": "USNReusablePods",
  "minNumber": 0,
  "maxNumber": 0,
  "showOpenButton": "1",
  "ignoreUserStartNodes": "0"
}]]></Config>
</DataType>