<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7639b245-2c01-4cfe-8004-f22fa9dcd224" Alias="USN Product Picker" Level="3">
  <Info>
    <Name>USN Product Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "USNProductPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>