<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7fb707e0-2640-4572-9b31-0646ba69e91e" Alias="USN Product Data" Level="3">
  <Info>
    <Name>USN Product Data</Name>
    <EditorAlias>USN.Product</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Shop</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>