<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bacaab0e-355d-44cd-839e-b99bd0317e83" Alias="USN Paragraph Heading" Level="3">
  <Info>
    <Name>USN Paragraph Heading</Name>
    <EditorAlias>USN.Heading</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Text+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "displayAll": "0"
}]]></Config>
</DataType>