<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d747c687-a174-42a7-bfe1-885728599227" Alias="USN Related Content Picker" Level="3">
  <Info>
    <Name>USN Related Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "USNPage,USNBlogLandingPage,USNSearchResultsPage,USNBlogPost,USNListingPage,USNListPage,USNShopPage,USNProductPage,USNBlogCategoryPage,USNListingFilterPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>