<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97b4a616-0957-456d-bd88-8ff89540ea40" Alias="USN reCAPTCHA Score" Level="3">
  <Info>
    <Name>USN reCAPTCHA Score</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.5,
  "InitialValue2": 0.0,
  "MaximumValue": 1.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>