<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cb6c0925-d3bf-4e72-a2b8-16d356f50e71" Alias="USN Richtext Editor with Alignment" Level="3">
  <Info>
    <Name>USN Richtext Editor with Alignment</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Text+Editor</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": null,
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styles",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "anchor",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog",
      "hr",
      "subscript",
      "superscript",
      "charmap"
    ],
    "stylesheets": [
      "/css/uSkinned/rteditor.css"
    ],
    "maxImageSize": 0,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>