<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1f562fe-b1a5-45e8-8dea-da0ae1941233" Alias="USN Rotate Speed" Level="3">
  <Info>
    <Name>USN Rotate Speed</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MaximumValue": 10.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.25
}]]></Config>
</DataType>