<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7dbc3ca3-c6e7-4d98-810d-985d67bb8bf0" Alias="USN Read Only" Level="3">
  <Info>
    <Name>USN Read Only</Name>
    <EditorAlias>USN.ReadOnly</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>