<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3d3d6a6-402e-430f-aace-aa4f046eb946" Alias="USN Single Link Picker (Icon,Color,Size,Rel)" Level="3">
  <Info>
    <Name>USN Single Link Picker (Icon,Color,Size,Rel)</Name>
    <EditorAlias>USN.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Link+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "minNumber": 0,
  "maxNumber": 1,
  "displayButtonColor": "1",
  "displayIcon": "1",
  "displayMedia": "0",
  "displayButtonSize": "1",
  "displayRelAttribute": "1",
  "styleRegex": "(usn_ion-[^:]*?):before"
}]]></Config>
</DataType>