<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5ea7a29-f5e3-463b-9088-f5d8d9acb7cf" Alias="USN Single Link Picker (Rel)" Level="3">
  <Info>
    <Name>USN Single Link Picker (Rel)</Name>
    <EditorAlias>USN.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Link+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "minNumber": 0,
  "maxNumber": 1,
  "displayButtonColor": "0",
  "displayIcon": "0",
  "displayMedia": "0",
  "displayButtonSize": "0",
  "displayRelAttribute": "1"
}]]></Config>
</DataType>