<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9f59e8d-7aa3-4927-ae9e-13b63eaa6b4b" Alias="USN Shop Filters" Level="3">
  <Info>
    <Name>USN Shop Filters</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "USNListingFilterPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$current/ancestor-or-self::USNShopPage/USNListingFilters",
    "type": "content"
  }
}]]></Config>
</DataType>