<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ea994a73-e25b-467b-a62a-4b2616d29e6b" Alias="USN Sitemap Change Frequency" Level="3">
  <Info>
    <Name>USN Sitemap Change Frequency</Name>
    <EditorAlias>USN.OptionsShowHide</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Options</Folder>
  </Info>
  <Config><![CDATA[{
  "items": {
    "items": [
      {
        "icon": "smallItem",
        "text": "ALWAYS",
        "key": "sitemap_Always",
        "tabs": "",
        "fields": "",
        "css": "smallItem",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>"
      },
      {
        "icon": "smallItem",
        "text": "HOURLY",
        "key": "sitemap_Hourly",
        "tabs": "",
        "fields": "",
        "css": "smallItem",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>"
      },
      {
        "icon": "smallItem",
        "text": "DAILY",
        "key": "sitemap_Daily",
        "tabs": "",
        "fields": "",
        "css": "smallItem",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>"
      },
      {
        "icon": "smallItem",
        "text": "WEEKLY",
        "key": "sitemap_Weekly",
        "tabs": "",
        "fields": "",
        "css": "smallItem",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>"
      },
      {
        "icon": "smallItem",
        "text": "MONTHLY",
        "key": "sitemap_Monthly",
        "tabs": "",
        "fields": "",
        "css": "smallItem",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>"
      },
      {
        "icon": "smallItem",
        "text": "YEARLY",
        "key": "sitemap_Yearly",
        "tabs": "",
        "fields": "",
        "css": "smallItem",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>"
      },
      {
        "icon": "smallItem",
        "text": "NEVER",
        "key": "sitemap_Never",
        "tabs": "",
        "fields": "",
        "css": "smallItem",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>"
      }
    ]
  }
}]]></Config>
</DataType>