<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37f2cbf4-57c2-4ce8-8e7f-58c56d5a8328" Alias="USN Split Column Width" Level="3">
  <Info>
    <Name>USN Split Column Width</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 6.0,
  "InitialValue2": 0.0,
  "MaximumValue": 12.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>