<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5624b4f-e27c-449b-aaaf-22ce575cc820" Alias="USN SEO Meta" Level="3">
  <Info>
    <Name>USN SEO Meta</Name>
    <EditorAlias>USN.SeoMeta</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{
  "titleLengthFrom": 50,
  "titleLength": 60,
  "descriptionLengthFrom": 155,
  "descriptionLength": 160
}]]></Config>
</DataType>