<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ba44ac4-a549-4bd4-94ad-c24591ab33bf" Alias="USN Single Link Picker (Icon,Rel)" Level="3">
  <Info>
    <Name>USN Single Link Picker (Icon,Rel)</Name>
    <EditorAlias>USN.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Link+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "minNumber": 0,
  "maxNumber": 1,
  "displayButtonColor": "0",
  "displayIcon": "1",
  "displayMedia": "0",
  "displayButtonSize": "0",
  "displayRelAttribute": "1",
  "styleRegex": "(usn_ion-[^:]*?):before"
}]]></Config>
</DataType>