<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3385e82a-0c1c-43c6-b80a-123f1dc4024c" Alias="USN Simple Horizontal Text Alignment" Level="3">
  <Info>
    <Name>USN Simple Horizontal Text Alignment</Name>
    <EditorAlias>USN.OptionsShowHide</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Options</Folder>
  </Info>
  <Config><![CDATA[{
  "items": {
    "items": [
      {
        "icon": "textAlignmentLeft",
        "text": "LEFT",
        "key": "text-left",
        "tabs": "",
        "fields": "",
        "css": "textAlignment",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"48px\" height=\"9px\">\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,8.000 L36.000,8.000 L36.000,9.000 L-0.000,9.000 L-0.000,8.000 Z\" />\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,4.000 L48.000,4.000 L48.000,5.000 L-0.000,5.000 L-0.000,4.000 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,-0.000 L24.000,-0.000 L24.000,1.000 L-0.000,1.000 L-0.000,-0.000 Z\" />\n                </svg>",
        "svgTrusted": {}
      },
      {
        "icon": "textAlignmentCenter",
        "text": "CENTER",
        "key": "text-center",
        "tabs": "",
        "fields": "",
        "css": "textAlignment",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"48px\" height=\"9px\">\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M6.000,8.000 L42.000,8.000 L42.000,9.000 L6.000,9.000 L6.000,8.000 Z\" />\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,4.000 L48.000,4.000 L48.000,5.000 L-0.000,5.000 L-0.000,4.000 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M12.000,-0.000 L36.000,-0.000 L36.000,1.000 L12.000,1.000 L12.000,-0.000 Z\" />\n                </svg>",
        "svgTrusted": {}
      },
      {
        "icon": "textAlignmentRight",
        "text": "RIGHT",
        "key": "text-right",
        "tabs": "",
        "fields": "",
        "css": "textAlignment",
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"48px\" height=\"9px\">\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M12.000,8.000 L48.000,8.000 L48.000,9.000 L12.000,9.000 L12.000,8.000 Z\" />\n                    <path fill-rule=\"evenodd\" opacity=\"0.502\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M-0.000,4.000 L48.000,4.000 L48.000,5.000 L-0.000,5.000 L-0.000,4.000 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M24.000,-0.000 L48.000,-0.000 L48.000,1.000 L24.000,1.000 L24.000,-0.000 Z\" />\n                </svg>",
        "svgTrusted": {}
      }
    ]
  }
}]]></Config>
</DataType>