<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9cfcf8f-fba0-4999-b84c-41960c35bdb0" Alias="USN Sitemap Priority" Level="3">
  <Info>
    <Name>USN Sitemap Priority</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Slider</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MaximumValue": 1.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>