<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1b5a6f2-634b-426e-b43f-0386ed8758c9" Alias="USN Snipcart Global" Level="3">
  <Info>
    <Name>USN Snipcart Global</Name>
    <EditorAlias>USN.SnipcartGlobal</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Shop</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>