<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e74fadb-1b95-497c-8b68-979bddaeb0fc" Alias="USN Theme Colors" Level="3">
  <Info>
    <Name>USN Theme Colors</Name>
    <EditorAlias>USN.ThemeColors</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Theme%2fColors</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>