<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4783b233-0649-4554-958b-0b68feac5e9f" Alias="USN Theme Picker" Level="3">
  <Info>
    <Name>USN Theme Picker</Name>
    <EditorAlias>USN.ThemePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Theme%2fColors</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>