<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee4deab7-3254-45bc-a45b-9d9040b99046" Alias="USN Theme Spacing" Level="3">
  <Info>
    <Name>USN Theme Spacing</Name>
    <EditorAlias>USN.ThemeSpacing</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Theme%2fColors</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>