<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ca75e2e-0c68-4629-adfc-a166e21727c8" Alias="USN Theme Layout" Level="3">
  <Info>
    <Name>USN Theme Layout</Name>
    <EditorAlias>USN.ThemeLayout</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Theme%2fColors</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>