<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78caa8cd-548e-47ad-bb78-192b50280358" Alias="USN Text Position" Level="3">
  <Info>
    <Name>USN Text Position</Name>
    <EditorAlias>USN.TextPosition</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>