<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f35b6dcb-cb0f-4992-affe-d139d124c011" Alias="USN Theme Fonts" Level="3">
  <Info>
    <Name>USN Theme Fonts</Name>
    <EditorAlias>USN.ThemeFonts</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Theme%2fColors</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>