<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f6001f5-f682-4ad7-ad96-ce83bce0425c" Alias="USN Tab Style" Level="3">
  <Info>
    <Name>USN Tab Style</Name>
    <EditorAlias>USN.OptionsShowHide</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Options</Folder>
  </Info>
  <Config><![CDATA[{
  "items": {
    "items": [
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": "",
        "css": "smallItem",
        "text": "Basic",
        "key": "tab-basic",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": "",
        "css": "smallItem",
        "text": "Button",
        "key": "tab-buttons",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": "",
        "css": "smallItem",
        "text": "Underline",
        "key": "tab-underline",
        "tabs": "",
        "fields": ""
      },
      {
        "svg": "<svg xmlns=\"http://www.w3.org/2000/svg\"\n                     xmlns:xlink=\"http://www.w3.org/1999/xlink\"\n                     width=\"22px\" height=\"16px\">\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M20.192,0.050 L21.607,1.464 L7.464,15.607 L6.050,14.192 L20.192,0.050 Z\" />\n                    <path fill-rule=\"evenodd\" fill=\"rgb(65, 54, 89)\"\n                          d=\"M1.808,7.121 L8.879,14.192 L7.464,15.607 L0.393,8.536 L1.808,7.121 Z\" />\n                </svg>",
        "svgTrusted": "",
        "css": "smallItem",
        "text": "Line through",
        "key": "tab-linethrough",
        "tabs": "",
        "fields": ""
      }
    ]
  }
}]]></Config>
</DataType>