<?xml version="1.0" encoding="utf-8"?>
<DataType Key="479ccd27-6c00-43f1-b043-a005898e4018" Alias="USN True False" Level="3">
  <Info>
    <Name>USN True False</Name>
    <EditorAlias>USN.TrueFalseShowHide</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>USN+Data+Types/True%2fFalse</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>