<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0a99e5c-08dd-4329-ac07-0f29f3e53546" Alias="USN Umbraco Form" Level="3">
  <Info>
    <Name>USN Umbraco Form</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Miscellaneous</Folder>
  </Info>
  <Config><![CDATA[{
  "AllowedForms": []
}]]></Config>
</DataType>