<?xml version="1.0" encoding="utf-8"?>
<DataType Key="51af7156-b3d9-4b33-88ef-2ef7a1a86a25" Alias="USN Vertical Position" Level="3">
  <Info>
    <Name>USN Vertical Position</Name>
    <EditorAlias>USN.VerticalPosition</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>USN+Data+Types/Options</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>