<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9385249-7e56-4ee4-9851-d350b9bdba72" Alias="USN Website Style Picker" Level="3">
  <Info>
    <Name>USN Website Style Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>USN+Data+Types/Content+Picker</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "USNStyle",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root/USNStylesFolder",
    "type": "content"
  }
}]]></Config>
</DataType>