/*  
---------------------------------------------------
Header large screens 05
---------------------------------------------------  
*/

/* Row */
body.header-05-lg:not(.transparent-header-lg) header#site-header {
    box-shadow: var(--header-box-shadow_h) var(--header-box-shadow_v) var(--header-box-shadow_b) rgba(var(--true-black), var(--header-box-shadow_o));
}
body.header-05-lg header#site-header .container-fluid::after,
body.header-05-lg header#site-header .container::after {
    content: "";
    position: absolute; top: calc(var(--large-header) / 2); right: var(--base-half-spacing); left: var(--base-half-spacing); z-index:-1;
    height: var(--base-border-width);
    background-color: rgba(var(--header-borders), 1);
}

body.header-05-lg header#site-header .row {
    position: relative;
    height: var(--large-header);
    -ms-align-items: flex-end;
    align-items: flex-end;
}

body.header-05-lg header#site-header .row::before {
    content:"";
    width: 1px; height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-05-lg header#site-header .row::before { 
    margin-left:auto;
}
html[dir="rtl"] body.header-05-lg header#site-header .row::before { 
    margin-right:auto;
}

/* Logo */
body.header-05-lg header#site-header #logo {
    position: absolute; top:0; 
    padding:  0 var(--logo_lg-padding_right) 0 var(--logo_lg-padding_left);
    height: calc(var(--large-header) / 2);
}
body.header-05-lg header#site-header #logo:not(.no-image) { 
    padding: var(--logo_lg-padding_top) var(--logo_lg-padding_right) var(--logo_lg-padding_bottom) var(--logo_lg-padding_left);
}
html[dir="ltr"] body.header-05-lg header#site-header #logo {
    left:0;
}
html[dir="rtl"] body.header-05-lg header#site-header #logo {
    right:0;
}

body.header-05-lg header#site-header #logo picture,
body.header-05-lg header#site-header #logo img { 
    height: calc(var(--large-header) / 2 - var(--logo_lg-padding_top) - var(--logo_lg-padding_bottom));
    max-height: calc(var(--large-header) / 2 - var(--logo_lg-padding_top) - var(--logo_lg-padding_bottom));
}  

body.header-05-lg header#site-header #logo.no-image span { 
    height: calc((var(--large-header) / 2) - var(--logo_lg-padding_top) - var(--logo_lg-padding_bottom));
    line-height: calc(var(--large-header) / 2);
}

/* Orders */
body.header-05-lg header#site-header #logo {
    -ms-flex-order:1;
    order:1;
    -ms-align-self: start;
    align-self: start;
}
body.header-05-lg header#site-header .row::before {
    -ms-flex-order: 2;
    order: 2;
    -ms-align-self: flex-start;
    align-self: flex-start;
    flex-basis: auto;
}
body.header-05-lg header#site-header nav.secondary { 
    -ms-flex-order: 3;
    order: 3;
    -ms-align-self: flex-start;
    align-self: flex-start;
}
body.header-05-lg header#site-header nav.cta-links { 
    -ms-flex-order: 4;
    order: 4;
    -ms-align-self: flex-start;
    align-self: flex-start;
}
body.header-05-lg header#site-header nav.main { 
    -ms-flex-order: 5;
    order: 5;
    -ms-align-self: flex-end;
    align-self: flex-end;
}
body.header-05-lg header#site-header nav.shopping-cart { 
    -ms-flex-order: 6;
    order: 6;
    -ms-align-self: flex-end;
    align-self: flex-end;
}
body.header-05-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search { 
    -ms-flex-order: 7;
    order: 7;
    -ms-align-self: flex-end;
    align-self: flex-end;
}

/* Main Navigation */
body.header-05-lg header#site-header nav.main { 
    width: 100%;
    height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-05-lg header#site-header nav.main { 
    margin-right: auto;
}
html[dir="rtl"] body.header-05-lg header#site-header nav.main { 
    margin-left: auto;
}
body.header-05-lg header#site-header nav.main>ul>li {
    height: calc(var(--large-header) / 2);
}
body.header-05-lg header#site-header nav.main>ul>li>span>a {
    height: calc(var(--large-header) / 2);
    line-height: calc(var(--large-header) / 2);
}
body.header-05-lg header#site-header .has-child > .expand-subpages,
body.header-05-lg header#site-header nav.main>ul>li.has-child>span::after {
    height: calc(var(--large-header) / 2);
    line-height: calc(var(--large-header) / 2);
}

body.header-05-lg header#site-header nav.main>ul>li>span>a {
    padding: 0 var(--base-half-spacing);
}

body.header-05-lg header#site-header nav.main>ul>li>span::before {
    top: calc((var(--large-header) / 2) - 15px); right: var(--base-half-spacing); left: var(--base-half-spacing);
    border-radius: var(--base-border-radius);
    width:0;
}
html.no-touch body.header-05-lg header#site-header nav.main>ul>li:hover>span::before,
body.header-05-lg header#site-header nav.main>ul>li:focus>span::before,
body.header-05-lg header#site-header nav.main>ul>li:active>span::before,
body.header-05-lg header#site-header nav.main>ul>li.active>span::before,
body.header-05-lg header#site-header nav.main>ul>li.open-child>span::before {
    height: calc(var(--base-border-width) * 1.5);
    width: calc(100% - var(--base-half-spacing) - var(--base-half-spacing));
}
body.header-05-lg header#site-header nav.main>ul>li:focus-within>span::before {
    height: calc(var(--base-border-width) * 1.5);
    width: calc(100% - var(--base-half-spacing) - var(--base-half-spacing));
}
html.no-touch body.header-05-lg header#site-header nav.main>ul>li.has-child:hover>span::before,
body.header-05-lg header#site-header nav.main>ul>li.has-child:focus>span::before,
body.header-05-lg header#site-header nav.main>ul>li.has-child:active>span::before,
body.header-05-lg header#site-header nav.main>ul>li.has-child.active>span::before,
body.header-05-lg header#site-header nav.main>ul>li.has-child.open-child>span::before {
    width: calc(100% - var(--base-half-spacing) - 20px);
}
body.header-05-lg header#site-header nav.main>ul>li.has-child:focus-within>span::before {
    width: calc(100% - var(--base-half-spacing) - 20px);
}
html[dir="ltr"] body.header-05-lg header#site-header nav.main>ul>li.has-child>span::before {
    right: 20px;
}
html[dir="rtl"] body.header-05-lg header#site-header nav.main>ul>li.has-child>span::before {
    left: 20px;
}

body.header-05-lg header#site-header .has-child > .expand-subpages,
body.header-05-lg header#site-header nav.main ul li.has-child>span::after {
    width: 20px;
}
html[dir="ltr"] body.header-05-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-right: 20px;
}
html[dir="rtl"] body.header-05-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-left: 20px;
}

/* Main Navigation - Dropdowns */
body.header-05-lg header#site-header nav.main ul>li>ul {
    top: calc((var(--large-header) / 2) - 12px);
}
html.no-touch body.header-05-lg header#site-header nav.main ul>li:hover>ul,
body.header-05-lg header#site-header nav.main ul>li.open-child>ul {
    top: calc((var(--large-header) / 2) - 5px);
}

body.header-05-lg header#site-header nav.main ul ul>li>ul {
    top: -7px;
}
html.no-touch body.header-05-lg header#site-header nav.main ul ul>li:hover>ul,
body.header-05-lg header#site-header nav.main ul ul>li.open-child>ul {
    top: 0;
}

/* Secondary Navigation */
body.header-05-lg header#site-header nav.secondary { 
    height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-05-lg header#site-header nav.secondary { 
    margin-right: calc(var(--base-half-spacing) - 10px);
}
html[dir="rtl"] body.header-05-lg header#site-header nav.secondary { 
    margin-left: calc(var(--base-half-spacing) - 10px);
}

body.header-05-lg header#site-header nav.secondary>ul,
body.header-05-lg header#site-header nav.secondary>ul>li>span>div, 
body.header-05-lg header#site-header nav.secondary>ul>li>span>a, 
body.header-05-lg header#site-header nav.secondary>ul>li>a { 
    height: calc(var(--large-header) / 2);
    line-height: calc(var(--large-header) / 2);
}

body.header-05-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    top: calc((var(--large-header) / 2) - 7px)!important;
}

html[dir="ltr"] body.header-05-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    right: 0!important; left: auto!important;
}
html[dir="rtl"] body.header-05-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    left: 0!important; right: auto!important;
}

/* CTA Navigation */
body.header-05-lg header#site-header nav.cta-links {
    position: relative; top: 25%; z-index: 602;
    transform: translateY(-50%);
}
html[dir="ltr"] body.header-05-lg header#site-header nav.cta-links { 
    padding-left: calc(var(--base-half-spacing) / 2);
    padding-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-05-lg header#site-header nav.cta-links { 
    padding-right: calc(var(--base-half-spacing) / 2);
    padding-left:var(--base-half-spacing);
}
html[dir="ltr"] body.header-05-lg header#site-header nav.cta-links .btn+.btn {
    margin-left: 5px;
}
html[dir="rtl"] body.header-05-lg header#site-header nav.cta-links .btn+.btn {
    margin-right: 5px;
}

/* Shopping Cart */
body.header-05-lg header#site-header nav.shopping-cart { 
    position: absolute; top: calc(var(--large-header) / 2); 
    width: calc(var(--large-header) / 2); height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-05-lg header#site-header nav.shopping-cart { 
    right: 0;
}
html[dir="rtl"] body.header-05-lg header#site-header nav.shopping-cart { 
    left: 0;
}
html[dir="ltr"] body.header-05-lg header#site-header .site-search + nav.shopping-cart { 
    right: calc(var(--large-header) / 2 - 10px);
}
html[dir="rtl"] body.header-05-lg header#site-header .site-search + nav.shopping-cart { 
    left: calc((var(--large-header) / 2) - 10px);
}
body.header-05-lg header#site-header nav.shopping-cart button.open-cart,
html#ecwid_html.usn body#ecwid_body.header-05-lg header#site-header .ec-cart-widget, 
html#ecwid_html.usn body#ecwid_body.header-05-lg header#site-header .ec-cart-widget .ec-minicart, 
html#ecwid_html.usn body#ecwid_body.header-05-lg header#site-header .ec-cart-widget .ec-minicart__body { 
    width: calc(var(--large-header) / 2); height: calc(var(--large-header) / 2);
}

/* Site Search */
body.header-05-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search { 
    position: absolute; top: calc(var(--large-header) / 2); 
    width: calc(var(--large-header) / 2); height: calc(var(--large-header) / 2);
} 
html[dir="ltr"] body.header-05-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search {
    right:0;
}
html[dir="rtl"] body.header-05-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search {
    left:0;
}
body.header-05-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search .expand-search { 
    position: relative;
    width: calc(var(--large-header) / 2); height: calc(var(--large-header) / 2);
    padding:0;
    text-align: center;
}
body.header-05-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search .expand-search i.icon {
    position: absolute; top:50%; left:50%;
    transform: translate(-50%,-50%);
}
html[dir="ltr"] body.header-05-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search form { 
    right: calc((var(--large-header) / 2) - 10px);
}
html[dir="rtl"] body.header-05-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search form { 
    left: calc((var(--large-header) / 2) - 10px);
}
body.header-05-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search .form-control { 
    min-height: calc((var(--large-header) / 2) - 20px);
    height: calc((var(--large-header) / 2) - 20px);
}
body.header-05-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search button.btn { 
    width: calc((var(--large-header) / 2) - var(--base-half-spacing)); 
    min-width: calc((var(--large-header) / 2) - var(--base-half-spacing)); 
    height: 100%;
}

/* On scroll */
html.nav-up body.header-05-lg.show_header-on-scroll-lg header#site-header {
    top: calc((var(--large-header) / 2) * -1);
}
body.header-05-lg header#site-header .container,
body.header-05-lg header#site-header .container-fluid::after,
body.header-05-lg header#site-header .container::after  { 

    -webkit-transition: 
        top 0.3s ease-in-out 0s,
        padding 0.3s ease-in-out 0s,
        padding-top 0.3s ease-in-out 0s,
        opacity 0.3s ease-in-out 0s,
        width 0.3s ease-in-out 0s,
        max-width 0.3s ease-in-out 0s,
        height 0.3s ease-in-out 0s,
        max-height 0.3s ease-in-out 0s,
        box-shadow 0.3s ease-in-out 0s,
        background-color 0.3s ease-in-out 0s;
    transition: 
        top 0.3s ease-in-out 0s,
        padding 0.3s ease-in-out 0s,
        padding-top 0.3s ease-in-out 0s,
        opacity 0.3s ease-in-out 0s,
        width 0.3s ease-in-out 0s,
        max-width 0.3s ease-in-out 0s,
        height 0.3s ease-in-out 0s,
        max-height 0.3s ease-in-out 0s,
        box-shadow 0.3s ease-in-out 0s,
        background-color 0.3s ease-in-out 0s;
}
html.nav-up body.header-05-lg.show_header-on-scroll-lg header#site-header .container { 
    width:100%; 
} 
html.nav-up body.header-05-lg.show_header-on-scroll-lg header#site-header .container-fluid::after,
html.nav-up body.header-05-lg.show_header-on-scroll-lg header#site-header .container::after { 
    opacity:0;
}