/*  
---------------------------------------------------
Header large screens 10
---------------------------------------------------  
*/

/* Header */
body.header-10-lg:not(.transparent-header-lg) header#site-header {
    box-shadow: var(--header-box-shadow_h) var(--header-box-shadow_v) var(--header-box-shadow_b) rgba(var(--true-black), var(--header-box-shadow_o));
}

/* Logo */
body.header-10-lg header#site-header #logo { 
    -ms-flex-order:1;
    order:1;
    -ms-align-self: start;
    align-self: start;
}

html[dir="ltr"] body.header-10-lg header#site-header #logo { 
    margin-right:auto;
}
html[dir="rtl"] body.header-10-lg header#site-header #logo { 
    margin-left:auto;
}

/* Main Navigation */
body.header-10-lg header#site-header nav.main { 
    position: absolute; left: 50%;
    transform: translateX(-50%);
    -ms-flex-order:2;
    order:2;
    -ms-align-self: flex-end;
    align-self: flex-end;
    height: calc(var(--large-header) / 2);
}

html[dir="ltr"] body.header-10-lg header#site-header nav.main { 
    margin-right: auto;
}
html[dir="rtl"] body.header-10-lg header#site-header nav.main { 
    margin-left: auto;
}

body.header-10-lg header#site-header nav.main>ul>li>span>a {
    padding: 0 var(--base-half-spacing);
}

body.header-10-lg header#site-header nav.main>ul>li>span::before {
    top: calc((var(--large-header) / 2) - 15px); right: var(--base-half-spacing); left: var(--base-half-spacing); 
    width:0;
}
html.no-touch body.header-10-lg header#site-header nav.main>ul>li:hover>span::before,
body.header-10-lg header#site-header nav.main>ul>li:focus>span::before,
body.header-10-lg header#site-header nav.main>ul>li:active>span::before,
body.header-10-lg header#site-header nav.main>ul>li.active>span::before,
body.header-10-lg header#site-header nav.main>ul>li.open-child>span::before {
    height: calc(var(--base-border-width) * 1.5);
    width: calc(100% - var(--base-half-spacing) - var(--base-half-spacing));
}
body.header-10-lg header#site-header nav.main>ul>li:focus-within>span::before {
    height: calc(var(--base-border-width) * 1.5);
    width: calc(100% - var(--base-half-spacing) - var(--base-half-spacing));
}
body.header-10-lg header#site-header nav.main>ul>li.has-child>span::before {
    width: calc(100% - var(--base-half-spacing) - 20px);
}
html[dir="ltr"] body.header-10-lg header#site-header nav.main>ul>li.has-child>span::before {
    right: 20px;
}
html[dir="rtl"] body.header-10-lg header#site-header nav.main>ul>li.has-child>span::before {
    left: 20px;
}
html[dir="rtl"] body.header-10-lg header#site-header nav.main>ul>li>ul::before {
    left: calc(50% + 2.5px);
}

body.header-10-lg header#site-header .has-child > .expand-subpages,
body.header-10-lg header#site-header nav.main ul li.has-child>span::after {
    width: 20px;
}
html[dir="ltr"] body.header-10-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-right: 20px;
}
html[dir="rtl"] body.header-10-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-left: 20px;
}

body.header-10-lg header#site-header nav.main>ul>li {
    height: calc(var(--large-header) / 2);
}
body.header-10-lg header#site-header nav.main>ul>li>span>a {
    height: calc(var(--large-header) / 2);
    line-height: calc(var(--large-header) / 2);
}
body.header-10-lg header#site-header nav.main>ul>li.has-child>span::after {
    height: calc(var(--large-header) / 2);
    line-height: calc(var(--large-header) / 2);
}

/* Main Navigation - Dropdowns */
body.header-10-lg header#site-header nav.main ul>li>ul {
    top: calc((var(--large-header) / 2) + 5px);
}
html.no-touch body.header-10-lg header#site-header nav.main ul>li:hover>ul,
body.header-10-lg header#site-header nav.main ul>li.open-child>ul {
    top: calc((var(--large-header) / 2) - 3px);
}

body.header-10-lg header#site-header nav.main ul ul>li>ul {
    top: -7px;
}
html.no-touch body.header-10-lg header#site-header nav.main ul ul>li:hover>ul,
body.header-10-lg header#site-header nav.main ul ul>li.open-child>ul {
    top: 0;
}

/* Position dropdown */
html.no-touch body.header-10-lg header#site-header nav.main>ul>li:hover>ul,
body.header-10-lg header#site-header nav.main>ul>li.open-child>ul {
    left: 50%;
    transform: translateX(-50%);
}
html[dir="rtl"].no-touch body.header-10-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header nav.main>ul>li:hover>ul,
html[dir="rtl"] body.header-10-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header nav.main>ul>li.open-child>ul {
    right:auto;
}

/* Position dropdown arrow */
body.header-10-lg header#site-header nav.main>ul>li>ul::before {
    content: "";
    position: absolute; top: -5px; left: calc(50% - 2.5px);
    width: 10px; height: 10px;
    background: rgba(var(--navigation-dropdown-color1), 1);
    opacity: 0;
    transform: translateX(-50%) rotate(45deg);
}
html.no-touch body.header-10-lg header#site-header nav.main>ul>li:hover>ul::before, 
body.header-10-lg header#site-header nav.main>ul>li.open-child>ul::before {
    opacity: 1;
    transform: translateX(-50%) rotate(45deg);
}

/* Secondary Navigation */
body.header-10-lg header#site-header nav.secondary { 
    position: absolute; left: 50%;
    transform: translateX(-50%);
    -ms-flex-order:3;
    order:3;
    -ms-align-self: flex-start;
    align-self: flex-start;
    height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-10-lg header#site-header nav.secondary { 
    margin-right: auto;
}
html[dir="rtl"] body.header-10-lg header#site-header nav.secondary { 
    margin-left: auto;
}

body.header-10-lg header#site-header nav.secondary>ul,
body.header-10-lg header#site-header nav.secondary>ul>li>span>div, 
body.header-10-lg header#site-header nav.secondary>ul>li>span>a, 
body.header-10-lg header#site-header nav.secondary>ul>li>a { 
    height: calc(var(--large-header) / 2);
    line-height: calc(var(--large-header) / 2);
}

body.header-10-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    top: calc((var(--large-header) / 2) - 7px - 2px)!important;
    right: auto!important; left: 50%!important;
    transform: translateX(-50%)!important;
}

/* Position dropdown arrow */
body.header-10-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu::before {
    content: "";
    position: absolute; top: -5px; left: calc(50% - 2.5px);
    width: 10px; height: 10px;
    background: rgba(var(--navigation-dropdown-color1), 1);
    opacity: 1;
    transform: translateX(-50%) rotate(45deg);
}

/* CTA Navigation */
body.header-10-lg header#site-header nav.cta-links { 
    -ms-flex-order:4;
    order:4;
    -ms-align-self: flex-start;
    align-self: flex-start;
    position: relative; top: 0; z-index: 602;
    height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-10-lg header#site-header nav.cta-links {
    padding-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-10-lg header#site-header nav.cta-links {
    padding-left:var(--base-half-spacing);
}
body.header-10-lg header#site-header nav.cta-links .btn { 
    position: relative; top:50%;
    transform: translateY(-50%);
}
html[dir="ltr"] body.header-10-lg header#site-header nav.cta-links .btn+.btn {
    margin-left: 5px;
}
html[dir="rtl"] body.header-10-lg header#site-header nav.cta-links .btn+.btn {
    margin-right: 5px;
}

/* Shopping Cart */
body.header-10-lg header#site-header nav.shopping-cart { 
    -ms-flex-order:5;
    order:5;
    -ms-align-self: flex-end;
    align-self: flex-end;
    position: absolute; top: calc(var(--large-header) / 2); 
    width: calc((var(--large-header) / 2) - 10px); height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-10-lg header#site-header nav.shopping-cart { 
    right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-10-lg header#site-header nav.shopping-cart { 
    left: var(--base-half-spacing);
}
html[dir="ltr"] body.header-10-lg header#site-header .site-search + nav.shopping-cart { 
    right: calc(var(--base-spacing) * 2);
}
html[dir="rtl"] body.header-10-lg header#site-header .site-search + nav.shopping-cart { 
    left: calc(var(--base-spacing) * 2);
}
body.header-10-lg header#site-header nav.shopping-cart button.open-cart,
html#ecwid_html.usn body#ecwid_body.header-10-lg header#site-header .ec-cart-widget, 
html#ecwid_html.usn body#ecwid_body.header-10-lg header#site-header .ec-cart-widget .ec-minicart, 
html#ecwid_html.usn body#ecwid_body.header-10-lg header#site-header .ec-cart-widget .ec-minicart__body, 
html#ecwid_html.usn body#ecwid_body.header-10-lg header#site-header .ec-cart-widget .ec-minicart__body .ec-minicart__wrap { 
    width: calc(var(--large-header) / 2 - 10px); height: calc(var(--large-header) / 2);
}

/* Site search */
body.header-10-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search { 
    -ms-flex-order:6;
    order:6;
    -ms-align-self: flex-end;
    align-self: flex-end;
    position: absolute; top: calc(var(--large-header) / 2);
    height: calc(var(--large-header) / 2);
}
html[dir="ltr"] body.header-10-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search { 
    right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-10-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search { 
    left: var(--base-half-spacing);
}
body.header-10-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search .expand-search { 
    position: relative;
    height: calc(var(--large-header) / 2);
    padding:0;
    text-align: center;
}
body.header-10-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search .expand-search i.icon {
    position: absolute; top:50%; left:50%;
    transform: translate(-50%,-50%);
}
body.header-10-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search .form-control { 
    height: calc((var(--large-header) / 2) - 20px); min-height: calc((var(--large-header) / 2) - 20px);
}
body.header-10-lg:not(.header-03-lg):not(.header-11-lg):not(.header-12-lg):not(.header-15-lg):not(.header-16-lg):not(.header-17-lg):not(.header-19-lg):not(.header-20-lg) header#site-header .site-search button.btn { 
    width: calc((var(--large-header) / 2) - 20px); min-width:40px; height: 100%;
}
html[dir="ltr"] body.header-10-lg header#site-header .site-search form { 
    right: 30px;
}
html[dir="rtl"] body.header-10-lg header#site-header .site-search form { 
    left: 30px;
}

/* On scroll */
html.nav-up body.header-10-lg.show_header-on-scroll-lg header#site-header { 
    top: calc((var(--large-header) / 2) * -1);
}

body.header-10-lg header#site-header .container,
body.header-10-lg header#site-header #logo,
body.header-10-lg header#site-header #logo picture,
body.header-10-lg header#site-header #logo img,
body.header-10-lg header#site-header #logo.no-image span,
body.header-10-lg header#site-header nav.main  { 

    -webkit-transition: 
        top 0.3s ease-in-out 0s,
        padding 0.3s ease-in-out 0s,
        padding-top 0.3s ease-in-out 0s,
        opacity 0.3s ease-in-out 0s,
        width 0.3s ease-in-out 0s,
        max-width 0.3s ease-in-out 0s,
        height 0.3s ease-in-out 0s,
        max-height 0.3s ease-in-out 0s,
        box-shadow 0.3s ease-in-out 0s,
        background-color 0.3s ease-in-out 0s;
    transition: 
        top 0.3s ease-in-out 0s,
        padding 0.3s ease-in-out 0s,
        padding-top 0.3s ease-in-out 0s,
        opacity 0.3s ease-in-out 0s,
        width 0.3s ease-in-out 0s,
        max-width 0.3s ease-in-out 0s,
        height 0.3s ease-in-out 0s,
        max-height 0.3s ease-in-out 0s,
        box-shadow 0.3s ease-in-out 0s,
        background-color 0.3s ease-in-out 0s;
}
html.nav-up body.header-10-lg.show_header-on-scroll-lg header#site-header .container { 
    width:100%; max-width:100%;
} 

html.nav-up body.show_header-on-scroll-lg.header-10-lg:not(.no-header) header#site-header #logo {
    top: calc(var(--large-header) / 2);
    padding: calc(var(--logo_lg-padding_top) / 2) calc(var(--logo_lg-padding_right) / 2) calc(var(--logo_lg-padding_bottom) / 2) calc(var(--logo_lg-padding_left) / 2);
    height: calc(var(--large-header) / 2);
}
html.nav-up body.show_header-on-scroll-lg.header-10-lg:not(.no-header) header#site-header #logo picture,
html.nav-up body.show_header-on-scroll-lg.header-10-lg:not(.no-header) header#site-header #logo img { 
    height: calc((var(--large-header) / 2) - (var(--logo_lg-padding_top) / 2) - (var(--logo_lg-padding_bottom) / 2));
    max-height: calc((var(--large-header) / 2) - (var(--logo_lg-padding_top) / 2) - (var(--logo_lg-padding_bottom) / 2));
}

html.nav-up body.show_header-on-scroll-lg.header-10-lg:not(.no-header) header#site-header #logo.no-image span { 
    height: calc((var(--large-header) / 2) - (var(--logo_lg-padding_top) / 2) - (var(--logo_lg-padding_bottom) / 2));
}

html.nav-up body.show_header-on-scroll-lg.header-10-lg:not(.no-header) header#site-header nav.main { 
    padding-top: calc(var(--large-header) / 2);
}