/*  
---------------------------------------------------
Header large screens 08
---------------------------------------------------  
*/

body.header-08-lg header#site-header .row { 
    height: var(--large-header);
}

body.header-08-lg header#site-header .row::before {
    content:"";
    -ms-flex-order:2;
    order:2;
}
html[dir="ltr"] body.header-08-lg header#site-header .row::before { 
    margin-left:auto;
}
html[dir="rtl"] body.header-08-lg header#site-header .row::before { 
    margin-right:auto;
}

/* Logo */
body.header-08-lg header#site-header #logo { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-flex-order:2;
    order:2;
}

/* Main Navigation */
body.header-08-lg header#site-header nav.main { 
    -ms-flex-order:1;
    order:1;
}

body.header-08-lg header#site-header .has-child > .expand-subpages,
body.header-08-lg header#site-header nav.main ul li.has-child>span::after {
    width: 20px;
}
html[dir="ltr"] body.header-08-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-right: 20px;
}
html[dir="rtl"] body.header-08-lg header#site-header nav.main>ul>li.has-child>span>a {
    padding-left: 20px;
}

/* Main Navigation - Dropdowns */
body.header-08-lg header#site-header nav.main ul>li>ul {
    top: calc((var(--large-header) / 2) + 15px);
}
html.no-touch body.header-08-lg header#site-header nav.main ul>li:hover>ul,
body.header-08-lg header#site-header nav.main ul>li.open-child>ul {
    top: calc((var(--large-header) / 2) + 22px);
}

body.header-08-lg header#site-header nav.main ul ul>li>ul {
    top: -7px;
}
html.no-touch body.header-08-lg header#site-header nav.main ul ul>li:hover>ul,
body.header-08-lg header#site-header nav.main ul ul>li.open-child>ul {
    top: 0;
}

/* Secondary Navigation */
body.header-08-lg header#site-header nav.secondary { 
    -ms-flex-order:3;
    order:3;
}
html[dir="ltr"] body.header-08-lg header#site-header nav.secondary { 
    margin-right: calc(var(--base-half-spacing) - 10px);
}
html[dir="rtl"] body.header-08-lg header#site-header nav.secondary { 
    margin-left: calc(var(--base-half-spacing) - 10px);
}

body.header-08-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    top: calc((var(--large-header) / 2) + 22px)!important;
}

html[dir="ltr"] body.header-08-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    right: 0!important; left: auto!important;
}
html[dir="rtl"] body.header-08-lg header#site-header nav.secondary ul li.dropdown .dropdown-menu { 
    left: 0!important; right: auto!important;
}

body.header-08-lg header#site-header nav.secondary ul li.dropdown > a > span { 
    display:none;
} 

body.header-08-lg header#site-header nav.secondary ul li.dropdown > a > i {
    top: 2px;
    font-size: 125%;
}

/* Shopping Cart */
body.header-08-lg header#site-header nav.shopping-cart { 
    -ms-flex-order:4;
    order:4;
}
html[dir="ltr"] body.header-08-lg header#site-header nav.shopping-cart { 
    margin-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-08-lg header#site-header nav.shopping-cart { 
    margin-left:var(--base-half-spacing);
}

/* CTA Navigation */
body.header-08-lg header#site-header nav.cta-links { 
    -ms-flex-order:5;
    order:5;
}
html[dir="ltr"] body.header-08-lg header#site-header nav.cta-links { 
    margin-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-08-lg header#site-header nav.cta-links { 
    margin-left: var(--base-half-spacing);
}

/* Site Search */
body.header-08-lg header#site-header .site-search { 
    -ms-flex-order:6;
    order:6;
}
html[dir="ltr"] body.header-08-lg header#site-header .site-search { 
    margin-right: var(--base-half-spacing);
}
html[dir="rtl"] body.header-08-lg header#site-header .site-search { 
    margin-left:var(--base-half-spacing);
}
html[dir="ltr"] body.header-08-lg header#site-header .site-search form { 
    right: 30px;
}
html[dir="rtl"] body.header-08-lg header#site-header .site-search form { 
    left: 30px;
}
